[2019-12-18 12:39] kleisauke commented on #206
If you see such errors:
[code]

Within the weserv module error log (`/var/log/nginx/weserv-local-error.log`), then it's usually a misconfiguration of the IPv6 network interface. You can use these commands to view the error logs in Docker:
[code]

If looking up of IPv6 addresses is not desired, the `ipv6=off` parameter can be specified within the nginx config:
[code]

[2019-12-18 13:13] danrin commented on #201
Great find, I will update myonlinstore on the issue! Thanks again for both your help in diagnosing this.

[2019-12-18 15:18] danrin commented on #201
And indeed, it was a firewall setting issue on myonlinestore's end, thanks for the support in figuring this one out.

[2019-12-18 15:18] #201 closed, assigned to andrieslouw, kleisauke

[2019-12-23 12:41] nerg4l opened #207 "Errors are cached for a long period"
Hello,

First of all I want to say that I really like your service. 3 days ago we started to use it for serving Gravatar images and it made it faster and more reliable.

But here is the problem. When Gravatar responses with `503 Service Unavailable` then this service will respond with `404 Not Found` -  `The requested URL returned error: 503` message and it serves the same 404 for 3 days now in so

[2019-12-23 17:27] andrieslouw commented on #207
I'm aware that there is some caching on 404's, but only for a short amount of time (eg. 15 minutes). It could be that the browser caches this response longer, or it may be that Cloudflare is holding longer on the cached response than anticipated. Will look into this, to check if there is some official statement on this behaviour. In the meantime you could play with the `&maxage=` setting: https://

[2019-12-23 17:44] andrieslouw commented on #207
When I look at the response for https://images.weserv.nl/?url=weserv.nl/doesnotexist.jpg

I don't see any clear indication that it should be cached by anyone in the headers (no `Expires:`, no `Cache-Control:`). But I do see that the request is being cached by Cloudflare (the `Age:` header):
[code]

Which is somewhat strange behaviour..

[2019-12-23 17:53] andrieslouw commented on #207
Proposal @kleisauke : can we do a test with sending `Cache-Control: max-age=900` to Cloudflare for all errors? Probably we need to check this behaviour in our test-enviroment first.

[2019-12-23 18:33] andrieslouw commented on #207
We've changed a setting regarding Edge-Cache TTL on Cloudflare's side. Errors should be cached for a shorter time now. @nerg4l : Could you test/confirm if this is working?

[2019-12-23 19:22] nerg4l commented on #207
For now I used curl with `i`.

When using for the linked URL I get `cf-cache-status: HIT` and `age: 174847` (around 2 days). However if I test it with the given `https://images.weserv.nl/?url=weserv.nl/doesnotexist.jpg` I get `cf-cache-status: HIT` and an `age` value below 200 and then `cf-cache-status: EXPIRED` and no `age` header as expected. Probably the first one was cached before the modifica

[2019-12-23 19:31] kleisauke commented on #207
Cache has been invalidated for the [particular image](https://images.weserv.nl/?url=www.gravatar.com%2Favatar%2F82a206ae2834d1f3ce0affb688ab83d1%3Fs%3D100%26d%3Dwavatar). If you want, you can send us an [email](mailto:admin@weserv.nl) with the images that are affected by this bug and need to be purged from cache.

[2019-12-23 19:49] nerg4l commented on #207
We have around 35000 users with Gravatar images so it would be a bit of a hassle to check all of them, probably I will just modify the URL script by adding `1` as a query parameter.

Thank you for the quick reaction.

[2019-12-23 19:49] #207 closed, assigned to andrieslouw, kleisauke

[2019-12-23 19:56] andrieslouw commented on #202
This has been solved by Cloudflare 4 days ago, `SameSite=Lax` has been added.

[2019-12-23 19:56] #202 closed, assigned to andrieslouw

[2020-01-08 16:29] gayburg commented on #203
Thanks!

[2020-01-17 16:19] danrin opened #208 "404 on specific domain"
Can you help me determine what might casue this issue? I don't want to bother you too much with issues that are likely to originate with the domain, but any pointer to where this might originate is helpful since i'm running out of ideas:

This throws a 404: https://images.weserv.nl/?url=ssl:www.johan-laurens.nl%2F_carnaval%2F601287.jpg
But also just the domain; https://images.weserv.nl/?url=ssl:ww

[2020-01-18 10:41] kleisauke commented on #208
This specific website uses a weak (1024 bits) Diffie-Hellman (DH) key. Centos 8 (the OS that our servers run on) utilizes the `DEFAULT` crypto policy (security level set to 112 bits for OpenSSL). As a result RSA, DSA and DH keys shorter than 2048 bits and ECC keys shorter than 224 bits are prohibited.

I've just rolled out a fix (d3e73b1) to production. Upstream connections will now the use the lo

[2020-01-18 10:56] kleisauke commented on #206
@amitjoseph Were you able to make any progress with this?

[2020-01-20 09:17] danrin commented on #208
Super, thanks a lot for checking and for adding legacy support. I notified the domain owner of the shortcomings!

[2020-01-20 09:17] #208 closed, assigned to kleisauke

[2020-01-21 10:40] tomgg0 opened #209 "A liitle bit infomation about DevOps side"
HI, i saw this project and it's amazing. thank you for that.
according to FAQ section, you have ~1000000 images per hour and you said its very cheap to handle this loads.

So i curious about the DevOps side of this project, like, how much servers you need and what is the servers spec for holding all this loads, and also how do you handle peaks (add more servers based on cpu load? or other way)

p.

[2020-01-21 22:06] andrieslouw commented on #209
Hi there, I've written some details and benchmarks in a previous issue: https://github.com/weserv/images/issues/167

We mostly add additional servers based on CPU and bandwidth. With modern CPU's, often still operating on simple Gbit-links, it's mostly about bandwidth nowadays.

We now use 3 servers, which we use for failover, testing, staging, etc. Normally one server is capable of handling the l

[2020-01-22 10:06] tomgg0 commented on #209
Thank you for the answer! It was interesting and useful to hear about it

[2020-01-23 01:23] noway opened #210 "`default` image doesn't work - returns 404 regardless"
Was working fine before. Seems to be a regression. Example:

[code]

[2020-01-23 07:16] andrieslouw commented on #210
Shouldn't it be:
https://t0.nl/?url=https%3A%2F%2Fplatform-lookaside.fbsbx.com%2Fplatform%2Fprofilepic%2F%3Fasid%3D1756318947821786%26width%3D640%26ext%3D1575594837%26hash%3DAeSElpWFBDGplqOO&default=https%3A%2F%2Ft0.nl%2F%3Furl%3Dhttps%253A%252F%252Fs3-ap-southeast-2.amazonaws.com%252Fturnout-misc%252Ffallback_avatar_400x400.png%26w%3D64%26h%3D72%26t%3Dcontain%26mask%3Dcircle%26mbg%3DFFFFFF&w=64&h

[2020-01-23 07:22] andrieslouw commented on #210
Also, please don't use t0.nl in production, it is our testing environment, and may be highly unstable. Use images.weserv.nl instead, like this:
https://images.weserv.nl/?url=https%3A%2F%2Fplatform-lookaside.fbsbx.com%2Fplatform%2Fprofilepic%2F%3Fasid%3D1756318947821786%26width%3D640%26ext%3D1575594837%26hash%3DAeSElpWFBDGplqOO&default=https%3A%2F%2Fimages.weserv.nl%2F%3Furl%3Dhttps%253A%252F%252Fs

[2020-01-23 08:48] noway commented on #210
These urls are incomplete and don't show the proper image. I do a multi pass of t0.nl urls to properly crop the image. Here's I got it working again:
[code]
The seems to be an issue with `https://` in particular. replacing `https://` to `ssl:` seems to solve it. Perhaps you started rewriting somehow automatically https:// to ssl:? I honestly feel myself like character of this comics https://xkcd.c

[2020-01-23 15:21] kleisauke commented on #210
It seems that the (Amazon S3) fallback URI timed-out on 2020/01/17, this error was cached for a long period because I forgot to roll out the fix mentioned in #207 on t0.nl.

I've just purged all the cache and changed the Edge-Cache TTL setting on this testing domain, so the above-mentioned URI's should work again. It's indeed not recommended to use t0.nl in production.

[2020-01-23 22:41] noway commented on #210
Omg, it does work now! Seems like that was the issue indeed!
Thank you!

[2020-01-23 22:41] #210 closed, assigned to andrieslouw

[2020-01-27 17:29] mohanrao opened #211 "Slow response times and 522 errors"
Hi,

Today we observerd for some cases Images.weserv.nl is slow and sometimes returning 522 respone codes

[2020-01-27 17:37] mohanrao commented on #211
@kleisauke seems like cloudfare issue. Just guessing. most of them are 522 response codes

[2020-01-27 19:11] raRaRa commented on #211
https://www.cloudflarestatus.com/?_ga=2.49098022.1024970801.1580152244-f65b9b4d41bec4f33bfa4302bc2d1ac0

Are you located in Paris?

[2020-01-27 21:20] andrieslouw commented on #211
Correct, [our servers are mainly around Paris](https://images.weserv.nl/faq/#where-are-your-servers-located).

Additionally, we had an issue with blockrules not propagating to Cloudflare. Due to this, users that should've been blocked by our rate limit, weren't filtered at the edge. This caused saturation of our CPU's, spikes in bandwidth, and spikes in response times, which yields 522 responses.

[2020-02-01 22:23] Tetracerus opened #212 "Service errors"
ignore

[2020-02-01 22:24] #212 closed, assigned to nobody

[2020-02-03 16:20] ggglyke commented on #165
Hi,
Does this mean that if we use your service, it is impossible to index our images in search engines like google images ?

[2020-02-08 18:59] PH4NTOMiki opened #213 "How does you caching work?"
I'm sorry for trouble, but I'm wondering if someone from Frankfurt, Germany request an image(from your service) and after 5 minutes someone from Zagreb, Croatia request that same image would there be need to contact origin server again or would you just load it from the cache on your servers(not from Cloudflare's obviously).
Thanks

[2020-02-08 19:42] andrieslouw commented on #213
No trouble at all, it is partly explained here: https://images.weserv.nl/faq/#how-are-images-cached-by-your-servers

The flow is: Browser <- Cloudflare's nginx proxy_cache (31 days MRU, multiple POP's non-synced) <- Our nginx proxy_cache (7 days MRU, single POP) <- Our code <- Origin.

So the request will be cached shortly in RAM in our nginx proxy_cache, but Cloudflare needs to fetch it twice (on

[2020-02-10 16:15] PH4NTOMiki opened #214 "Feature request: WebP support detection"
Hi, I was wondering would it be possible for you to add WebP detection on your service, like simple Accept header checking for image/webp in it because most of the browsers that actually support WebP also send "image/webp" in their HTTP Accept header and to put it under "output=webpdetect" URL parameter or something similar.
Thanks in advance

[2020-02-10 17:27] andrieslouw commented on #214
Will need to check if this is possible, Cloudflare caching is based on URL, without checking request-headers from browsers.

[2020-02-10 20:30] PH4NTOMiki commented on #214
Maybe you can use Vary http header somehow

[2020-02-18 00:27] dwene opened #217 "In-cache time seems too low"
Hi!

I'm a big fan of your service. Thank you so much for hosting it!

I've noticed recently that even though the browser has a cache max-age of 1 year, cloudflare seems to only cache the image for 7 days. At least I believe that's what the ct-expires header is indicating.

![image](https://user-images.githubusercontent.com/12628251/74693725-a5729580-51b2-11ea-89d8-f6d4ed2f1c19.png)

Is there any

[2020-02-18 06:33] andrieslouw commented on #217
Will need to check this with Cloudflare, thanks for the report!

[2020-02-18 06:36] andrieslouw commented on #217
The issue is not related to the `Expect-CT`-header. This header is for Certificate Transparency: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Expect-CT

[2020-02-27 18:47] muddman commented on #106
Thanks for providing the service.

Unfortunately I'm having a similar issue with any badge i try.

| Source | Image Style | Original  | Weserv |
| ------------- | ------------- | ------------- | ------------- |
| shield.io | plastic | ![shields.io svg](https://img.shields.io/github/v/release/clearasmudd/windows-formula?style=plastic)  | ![ver](https://images.weserv.nl/?url=//img.shields.io/github/

[2020-02-27 19:23] kleisauke commented on #106
@muddman It looks OK here:
![screenshot](https://user-images.githubusercontent.com/12746591/75478035-88ea1080-599d-11ea-83c6-5166d96079b8.png)

There's only a `<` missing within the `shield.io social` badge and the `shield.io for-the-badge` text looks odd, I'll investigate that.

Perhaps your zoom level within the browser is not 100% (i.e. 1:1 ratio)? With 110% zoom on Google Chrome I see this:
![

[2020-02-27 20:12] muddman commented on #106
Thanks.

I confirmed the browser zoom level is 100% on Windows 10 1909 Build 18363.657

**This shows the zoom level**
![image](https://user-images.githubusercontent.com/4186835/75482279-7f977e80-5972-11ea-881f-0387548d7892.png)

**Screenshot in Chrome 80.0.3987.122**

![image](https://user-images.githubusercontent.com/4186835/75481458-12371e00-5971-11ea-99b5-15fe4c859a4f.png)

**Screenshot in Edge

[2020-02-27 22:48] raRaRa opened #218 "Issues on the 26th?"
I just wanted to check in if there were any issues on the 26th of February (yesterday), that could have caused photos not to show up? Just making sure if it was an issue from my end or if something  actually happened on your end.

Thanks!

[2020-02-27 23:22] andrieslouw commented on #106
I'm unsure if it is possible to "fix" this, good [font rasterization](https://en.wikipedia.org/wiki/Font_rasterization) is dependent the screentype, resolution, up- or downscaling, etc. And while these are things which a browser will be able to detect and handle when using SVG's, we are unable to detect and/or incorporate them to make pixel perfect versions for every environment (eg. LCD is differ

[2020-02-27 23:46] andrieslouw commented on #218
I do see some spikes and flip-flops towards AMS-IX on the 26th and the 27th. Our provider mentions upgrades on some of the core routers in AMS-IX on these dates. While the traffic was re-routed, I do see that the link to Cloudflare's POP in AMS behaved somewhat strange (reconnected a few times), links to other Cloudflare POP's were unaffected.

But there has been no change in load, traffic or erro

[2020-02-28 09:46] raRaRa commented on #218
Thank you so much for taking the time to check it out and the detailed answer, very much appreciated! Based on this, it looks more like an issue from my end.

Thanks again!

[2020-02-28 09:46] #218 closed, assigned to andrieslouw

[2020-02-28 18:40] muddman commented on #106
makes sense -- thanks!

[2020-03-13 19:50] AnatolyUA commented on #214
afaik it won't work with Cloudflare free account, they will respect Vary only on Enterprise accounts. It is possible to use html5 srcset feature for your porposes:
[code]
(more info: https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images )

[2020-03-16 19:57] andrieslouw commented on #177
While [referer spoofing](https://en.wikipedia.org/wiki/Referer_spoofing) would be relatively easy to implement, I'm a bit reluctant to do so on the public service, because it would open the service to abuse, or as a way to bypass blocks. If you control the source of the image (which you should), it's easy to exclude our servers from referer-blocking. If the owner of the origin doesn't want its ban

[2020-03-16 20:17] andrieslouw commented on #193
This is a tough one; our libraries don't have MP4/WebM support, and many browsers don't like to load MP4 nor WebM when using `<img src="">` tags, so you'd need to use the `<video>` tag ([according to MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video)), which means we cannot do this automatically for every animated GIF.

Also, modifying videos is a bit out of the comfort zone of

[2020-03-16 20:30] andrieslouw commented on #214
As @AnatolyUA already explained (thanks!) this isn't possible with our current Cloudflare implementation, and it would also raise issues due to [the different caches involved](https://images.weserv.nl/faq/#how-are-images-cached-by-your-servers).

Please use the `<picture>`-tag as explained by @AnatolyUA (thanks again!).

[2020-03-16 20:36] andrieslouw commented on #203
Closing due to inactivity. Please feel free to re-open if questions remain. Thanks!

[2020-03-16 20:36] #203 closed, assigned to andrieslouw

[2020-03-16 20:38] andrieslouw commented on #211
Please open a new issue if this ever happens again, I'll close this issue for now.

[2020-03-16 20:38] #211 closed, assigned to andrieslouw, kleisauke

[2020-03-16 20:39] andrieslouw commented on #213
Hope this helped, please feel free to re-open if questions remain!

[2020-03-16 20:39] #213 closed, assigned to andrieslouw

[2020-03-16 20:41] andrieslouw commented on #206
@amitjoseph I'm also curious if you discovered the root cause, or need any help debugging this issue, please let us know by re-opening the issue if so!

[2020-03-16 20:41] #206 closed, assigned to kleisauke

[2020-03-16 20:45] andrieslouw commented on #217
It may be worthwhile to read our explanation here, especially the MRU-part: https://github.com/weserv/images/issues/213

..and there is not much which I can add on top of that, Cloudflare doesn't guarantee a minimum period of caching, unless you start paying, and our service is free. Please let us know if there are still some questions!

[2020-03-16 20:45] #217 closed, assigned to andrieslouw

[2020-03-16 20:49] andrieslouw commented on #196
If there is anyone willing to share their wishes for a raised request limit, please do so! I'd like to make some (back of the napkin) calculations to estimate if it would be worthwhile to migrate to a new [AMD Zen platform](https://en.wikipedia.org/wiki/Zen_(microarchitecture)).

[2020-03-16 21:02] andrieslouw commented on #158
I'm not sure if it is beneficial to implement "HTTPS failed -> try HTTP" because of the possibility of [downgrade attacks](https://en.wikipedia.org/wiki/Downgrade_attack). We may want to add [HSTS-support](https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security) though, which would accomplish the same thing, but in a different direction (try HTTP, but upgrade connection if possible).

[2020-03-16 21:05] andrieslouw commented on #174
I guess our users share our views on privacy, and as stated, we won't share any names. So for now I'm going to close this issue. If anyone is willing to share their experiences, please do so!

[2020-03-16 21:05] #174 closed, assigned to nobody

[2020-03-23 13:51] marcselman commented on #177
I agree with your points. But you could just send a referer header with `images.weserv.nl` right? At the moment you are not sending any referer header and some servers don't like that.

[2020-03-23 13:56] marcselman opened #219 "Unsupported image format"
I've investigated everything I can think of why this image won't work:
https://images.weserv.nl/?url=ssl:www.tomzorg.nl%2Fmedia%2Fimage%2F1_hauptbild-duowave.jpg&w=75&h=65
It'a a JPEG image that opens fine in browsers. I requested the image in C# and checked the headers. They look fine as well.
Do you have any idea why this image does not work with weserv?
Or is there any hidden debug flag I can u

[2020-03-31 09:10] AlmogCohen opened #220 "Some images return 403 loaded from a public S3"
Hi there! Thanks for the awesome **free** product! (I would actually be willing to pay for such an amazing product)

I've got an S3 bucket with lots of images. For most of them `weserv` works just fine. I recently found that some images refuse to load through `weserv` although a direct call to them works perfectly.

A non working example through `weserv` is [here](https://images.weserv.nl/?url=htt

[2020-03-31 10:10] andrieslouw commented on #220
Could be something with URL encoding indeed, Redbot also has problems accessing the resource (after you indicate you're human): https://redbot.org/?uri=https://dynamic.wizer.me/ws-thumbnails/1A%20%C2%BFQu%C3%A9%20te%20gusta%20hacer%3F%20interactive%20worksheet%20k0idxoDOuEsi

Will need to investigate further.

[2020-03-31 11:42] AlmogCohen commented on #220
:( Please let me know if I can assist with this in anyway. Not sure I have any expertise in `webserv` stack though... the service is so great that we use this in production...and I'd love to find a solution...

[2020-03-31 11:53] AlmogCohen commented on #220
Thanks for the quick comment though!!!

[2020-04-01 17:19] kleisauke commented on #220
URI's  (`?url=…`) must be given percent-coded. Try this:
https://images.weserv.nl/?url=https://dynamic.wizer.me/ws-thumbnails/1A%2520%25C2%25BFQu%25C3%25A9%2520te%2520gusta%2520hacer%253F%2520interactive%2520worksheet%2520k0idxoDOuEsi

[2020-04-03 15:57] Tylerian opened #221 "Feature request: Saturation"
I would like to ask for image colour saturation. When paired with blur it gives a really good effect for modern image placeholders.

I can even chime in and add a pull request for this feature if you don't have the time to implement it.

[2020-04-04 15:09] andrieslouw commented on #219
Sorry we missed this, looking into it!

[2020-04-04 15:16] andrieslouw commented on #220
The problem seems to be the `?` in that URL, which is probably missed by most url-encoding implementations. @AlmogCohen: Is this solvable in your code? I'm afraid there is not much we can do at our side, because everything after the second `?` is passed down as a second parameter by most browsers.

[2020-04-04 15:19] andrieslouw commented on #219
Has this image changed since opening this issue? As it does seem to be working now. If you have the original around somewhere; let us know!

[2020-04-04 15:19] #214 closed, assigned to andrieslouw

[2020-04-04 15:24] andrieslouw commented on #177
We would just be referer spamming ourselves in that case. Origins should fix their dependency on referers, there are lots of cases in which browsers omit the `Referer:` already, so it isn't reliable, see: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy

[2020-04-04 15:36] kleisauke commented on #221
I'll make some time during the next week to start work on this. The implementation is approximately equivalent to a colorspace conversion to LCH (Luminance, Chroma, Hue) then a multiplication of pixels in the L and C channels.

If you'd like to work on this, please base your changes on the [`true-streaming`](https://github.com/weserv/images/tree/true-streaming) branch.

[2020-04-05 12:16] Tylerian commented on #221
I was thinking more about a matrix operation as described in [W3 Filter Effects Module Draft](https://www.w3.org/TR/filter-effects-1/#MathJax-Element-2-Frame) so the end result is the same as applying a CSS saturation filter, but I'm open to further discussion on the LCH method.

I've just opened a [pull request](https://github.com/weserv/images/pull/222) where we can further discuss the details o

[2020-04-06 07:02] marcselman commented on #219
![image](https://user-images.githubusercontent.com/514683/78531024-fd0da480-77e4-11ea-8065-4134814dd3b9.png)
For me it still does not work.
An update: they have tested it with their staging server and then the issue doesn't occur. So it seems to be a problem on their side.
Still curious to know why weserv says: "Invalid or unsupported image format. Is it a valid image?" though.

[2020-04-06 07:50] andrieslouw commented on #219
There is also a problem at our side, there seems to be a difference between our locations.
CDG: https://cdg-images.weserv.nl/?url=ssl:www.tomzorg.nl%2Fmedia%2Fimage%2F1_hauptbild-duowave.jpg&w=75&h=65
ORY: https://ory-images.weserv.nl/?url=ssl:www.tomzorg.nl%2Fmedia%2Fimage%2F1_hauptbild-duowave.jpg&w=75&h=65

CDG seems to fail, ORY works. @kleisauke: Could you check this?

[2020-04-06 09:38] AlmogCohen commented on #220
Oops! Obviously... It seems to be working...thanks for that! Sorry for the mess :)

[2020-04-06 09:41] kleisauke commented on #219
It seems that `server01.tomzorg.nl` is blocking one of our IPv4 addresses (`51.15.191.75` - `cdg.weserv.nl`) that we use for outgoing traffic.

<details>
  <summary>Details</summary>

[code]
</details>

A complete list of the IPs we use for outgoing traffic can be found here: https://images.weserv.nl/ips.txt

[2020-04-06 10:57] #220 closed, assigned to andrieslouw, kleisauke

[2020-04-07 07:47] marcselman commented on #219
It looks like they have succeeded in whiltelisting your IP's.
Thanks @kleisauke for identifying the problem.
@andrieslouw That ORY seems to have worked was because that was another IP that was not blocked I suppose.

Thanks guys.

[2020-04-19 18:24] Ristellise opened #223 "Discord 403 errors?"
Hello!

Been using images.weserv.nl for a caching proxy for my bot for certain images, recently I've noticed that discord now sends 403 errors, no matter what image I used. I suspect it might be a user agent problem. Is there anyone having the same problem?

[2020-04-19 20:25] kleisauke commented on #223
I could reproduce this, it seems that Discord has blocked our User-Agent within their Cloudflare account. We're getting `error code: 1020` from all `*.discordapp.net` URLs.

If you are able to host this project yourself, you can use this to change the outgoing User-Agent within the nginx configuration:
[code]

Otherwise there's not much we can do for this. Please report this to Discord if it conti

[2020-04-21 22:58] morales2k opened #224 ""The image is too large to be downloaded." even after updating imagesweserv.conf"
Greetings!

I'm seeking some help with this configuration. I setup the docker container quite well with all the defaults. I later updated the nginx `imagesweserv.conf` config file to update the `client_max_body_size` and raise it to `600M`.

I suppose it is active, at the very least, if I go into the container `docker exec -it imagesweserv bash` and I `cat` the file at `/etc/nginx/imagesweserv.con

[2020-04-22 18:29] morales2k commented on #224
SOLVED:

Added to `imagesweserv.conf`
[code]
Consistent with the `client_max_body_size` of `600M` that I have already set.
Then, I reloaded nginx config `nginx -s reload` and it worked fine after that.

We had to browse through the code for a while, may be a worthy addition on the docker.md file to explain a bit more about what other configurable options are available. :thinking:

[2020-04-22 18:29] #224 closed, assigned to kleisauke

[2020-04-23 15:00] andrieslouw commented on #224
Hi, sorry it took a while to respond, glad you found it. You can also use the `M` suffix with this option. I'll leave it to @kleisauke to improve the docker.md with all the options available.

[2020-04-23 23:46] morales2k commented on #224
@andrieslouw No worries! Thanks for your work on this!

Having those options in the readme or some other form of documentation will really help out when running the self-hosted solution.

Thanks in advance to @kleisauke  for all the effort! :+1:

[2020-04-29 19:18] articulite opened #227 "How to override 71 megapixel resolution limit?"
I'm getting this error.

{"status":"error","code":404,"message":"Image is too large for processing. Width x height should be less than 71 megapixels."}

I've tried building a docker image with modified stream.cpp and thumbnail.cpp files, but when I comment out git clone in the dockerfile to use my modified source this happens:

CMake Error: The source directory "/var/www/imagesweserv" does not app

[2020-04-29 19:52] kleisauke commented on #227
I'll have a look to make this configurable within the nginx module. In the meantime, you could try to change these constants in the cloned repository:
https://github.com/weserv/images/blob/a9027a3fb65fe9a6c4649572e3ed7bf065c6abfb/src/api/processors/stream.cpp#L21
https://github.com/weserv/images/blob/a9027a3fb65fe9a6c4649572e3ed7bf065c6abfb/src/api/processors/thumbnail.cpp#L14

And modify the `Doc

[2020-04-29 20:34] articulite commented on #227
Ok cool. That worked. :)

[2020-05-02 14:13] kleisauke commented on #224
The weserv directives are now documented within [ngx_conf/README.md](https://github.com/weserv/images/tree/5.x/ngx_conf). Thanks for the suggestion!

[2020-05-02 14:27] kleisauke commented on #227
Resolved with https://github.com/weserv/images/commit/b4e8381cfdfc0423bd998ba785d9ca03e6416a22. These new directives are documented within [ngx_conf/README.md](https://github.com/weserv/images/tree/5.x/ngx_conf). Thanks for the suggestion!

Be careful when setting `weserv_limit_input_pixels` to `0`, do this only for trusted input. There are [PNG decompression bombs available](https://www.bamsoftwa

[2020-05-02 14:27] #227 closed, assigned to kleisauke

[2020-05-12 00:40] humazed commented on #199
Facing the same issue here

Not working URL:
https://images.weserv.nl/?url=https://firebasestorage.googleapis.com/v0/b/seet-1557536766251.appspot.com/o/events_images%2F1599267688%2Fimage_picker_C15E8F90-A2FC-485D-A428-8F347F54C013-10120-0000065CFB916281.jpg_3b22ebb0-9381-11ea-9e09-599546df3bdd_1599267688?alt=media&token=1e3e8b71-4f1e-44ea-857f-f427b13d79a1

working URL:
https://firebasestorage.goo

[2020-05-12 08:57] kleisauke commented on #199
@humazed URI's (`?url=…`) must be given percent-coded. Try this:
https://images.weserv.nl/?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Fseet-1557536766251.appspot.com%2Fo%2Fevents_images%252F1599267688%252Fimage_picker_C15E8F90-A2FC-485D-A428-8F347F54C013-10120-0000065CFB916281.jpg_3b22ebb0-9381-11ea-9e09-599546df3bdd_1599267688%3Falt%3Dmedia%26token%3D1e3e8b71-4f1e-44ea-857f-f427b1

[2020-05-12 15:58] cabe56 commented on #197
Thanks so much for the Docker file. We're currently using it with Heroku.

Has anyone had problems hosting this? I setup Cloudflare + Heroku but the server is still getting hammered and Cloudflare does not seem to be caching much.

Any kind of guidance would be appreciated, would be happy to post back here so it's part of the docs.

[2020-05-12 20:59] cabe56 commented on #197
Figured it out, this could help others setup. It's just configuring Cloudflare properly (Cache Everything, TTL according to use case - in my case longest possible).

Would it be useful if I submit a new section to the 'hosting weserv/images yourself' documentation?

[2020-05-16 13:44] mboveiri opened #228 "instagram 403 error."
Hi.
instagram image links return `"The requested URL returned error: 403"`.

[2020-05-18 11:30] mercuree opened #229 "Option to use built-in default image"
Feature request.
Using built-in default image option can significantly reduce url length.
For example default option:
[code]
built-in option:
[code]

[2020-05-28 13:55] raRaRa opened #231 "New 403 errors with Google"
Hey all.

Until recently, many Google Drive photos have been returning 403 error code when being accessed through images.weserv.nl.

Example URL: https://images.weserv.nl/?url=ssl:drive.google.com%2Fuc%3Fid%3D1ZuBjHMRlBfoPh4NB6F-mpmc9GoEB78CX%26export%3Dview&w=2048&h=2048

Here's the original URL which works: https://drive.google.com/uc?id=1ZuBjHMRlBfoPh4NB6F-mpmc9GoEB78CX&export=view

Could it be

[2020-05-28 14:23] raRaRa commented on #231
I've also created a bug report on the Google end about this: https://issuetracker.google.com/issues/157584226

[2020-05-28 16:37] kleisauke commented on #231
Thanks for reporting this! It seems that Google is indeed blocking us if too many requests are made. For reference; this is the response we got:

Besides that, we also get a `text/html` response occasionally:

Unfortunately, there's not much we can do for this. I starred the above mentioned issue, maybe that could help.

[2020-05-28 16:45] kleisauke commented on #228
We're not aware of any problems with Instagram. For example, this URL:
[code]

Just works. Have you properly percent-coded the given URL (`?url=…`)?

[2020-05-29 02:56] dcangulo opened #232 "Docker install: libjpeg-turbo repo not always reachable"
I am running the following command based on the docs.

[code]

But got the following error:

[code]

I am just trying it out, I am using Ubuntu 18.04 ($5 Droplet on DigitalOcean) - NYC 1.

[2020-05-29 03:26] andrieslouw commented on #232
Probably some issues with reaching the libjpeg-turbo repo, which is notoriously slow, is there an alternative or mirror @kleisauke ?

[2020-05-29 04:00] dcangulo commented on #232
I tried it on my local machine instead, running Deepin 15.11, and did not receive this error. I think this is okay to close?

[2020-05-29 04:12] dcangulo commented on #232
I also tried it in another $5 Droplet, but on Debian 9.12 (NYC 3) and it works.

[2020-05-29 11:48] jetexe opened #233 "Images.weserv.nl blocked in Russia"
Domain https://images.weserv.nl/ was blocked by [Roskomnadzor](https://rkn.gov.ru/eng/) in Russian Federation since 2020-05-19. Just for info

[2020-05-29 16:57] andrieslouw commented on #233
_Let me repeat the statement I made on issue #158;_

And once again the Russia government is blocking large parts of the internet, including our service providers. It's the Russian version of the Chinese firewall, only even worse (as it's blocking completely, instead of monitoring and throttling). I hope you'll still be able to use GitHub, as it has been blocked multiple times in the past by Russi

[2020-06-05 13:49] PH4NTOMiki opened #234 "Directly parse SVG-code provided by URL"
Can you add support for SVG (to other format conversion, resize etc.) files and also for SVG code directly in URL parameters, for example: https://images.weserv.nl/?output=png&svgcode=%3Csvg%20width%3D%22128%22%20height%3D%22128%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3ClinearGradient%20id%3D%22lg%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23ffffff%22/%3E%3Cstop%20offset%3D%2

[2020-06-18 15:15] danrin opened #235 "ip blocked"
Hi!
We use weserv for image caching, but now our office IP has been blocked by cloudflare:

![image](https://user-images.githubusercontent.com/10723426/85038410-d4ac0a00-b186-11ea-803a-316ee3a4d0d0.png)

Could you look in to this? I can't check the numbers but please let me know if the traffic was getting out of hand, then we need to look into how we load certain pages.

[2020-06-19 07:02] danrin commented on #235
Resolved now, i suspect rate limiting.

[2020-06-19 07:02] #235 closed, assigned to nobody

[2020-06-26 14:20] amgmbs opened #236 "webp and apple safari & chrome fallback to jpg"
Congratulations for this amazing service and code!

Would it be possible to add fallback for apple not being able to show webp images?

This is "invisible" on macs

https://images.weserv.nl/?url=images.weserv.nl/lichtenstein.jpg&w=300&h=300&output=webp

Thank you all!

[2020-06-28 13:06] skalee commented on #134
Borders are very practical, particularly when dealing with screen shots, and they cannot be compared to shadows or other fancy things. I am really missing this feature.

A typical use case is posting screen shots on bulletin boards. If bulletin board background and screen shot background are in the same colour (very often both are white), you really want to add some border in order to separate pos

[2020-06-28 13:47] andrieslouw commented on #134
Let's rediscuss this, as we now do have use cases.

[2020-06-29 17:55] felipe-ogestor opened #237 "Dropbox image do not open"
Hello people!

I'm having a problem using some images in the dropbox. Most are ok, but some are returning 404 (even if the image exists and is correct in the dropbox).

Example:
NOT WORKING:
https://images.weserv.nl/?url=ssl%3Awww.dropbox.com%2Fs%2Fevzchi8siz8o01y%2F9c12c99d8934f78b0c2300122cf237ca.jpg%3Fraw%3D1
www.dropbox.com/s/evzchi8siz8o01y/9c12c99d8934f78b0c2300122cf237ca.jpg?raw=1

WORKING:

[2020-06-29 18:19] andrieslouw commented on #237
Strange, both links give 404 here, care to investigate @kleisauke ?

[2020-06-29 21:49] kleisauke commented on #237
The problem was that Dropbox tried to redirect to a URI with a fragment identifier. These are reserved for client-side processing, and should be removed when performing HTTP(S) requests (RFC3986, Section 3.5).

This has been fixed with commit https://github.com/weserv/images/commit/e13c6e64e4625270603f13af0bf6bd8a13c7600c, which has just been rolled out to production. Thanks for reporting this!

[2020-06-29 21:51] andrieslouw commented on #236
Thanks for the suggestion, but please see #214
Due to the Cloudflare caching it is technically impossible to do so for us.

[2020-06-29 21:59] andrieslouw commented on #234
There is a limit to how much information can (and should) be send through a GET-request. Depending on the browser of the user this is between 2KB and 32KB  (see [this question on Stack Overflow](https://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers) ).

Our service is also oriented towards image processing, not so much image generating. We do support

[2020-06-29 22:03] andrieslouw commented on #229
Question: This is something you want to use for self-hosting I suppose? So you want to set it in the config-file?

[2020-06-30 11:40] felipe-ogestor commented on #237
Yes, we noticed they were redirecting. We didn't understand why some images worked.

Anyway, thank you for the quick support!

Closing...

[2020-06-30 11:40] #237 closed, assigned to kleisauke

[2020-06-30 22:49] mercuree commented on #229
I meant any image of your choice with appropriate license, that will work with images.weserv.nl hosting too. Is it technically possible?

[2020-07-01 15:50] PH4NTOMiki commented on #234
Okay, I didn't know you supported SVG, that's great, I actually do have service that does that but if I set `<svg style="background-color: green;">...........</svg>`
SVG still remains transparent, could you check that out

[2020-07-03 07:05] Maxou44 opened #238 "Support AVIF format"
Hello :)

First of all, I'd like to thank you for this awesome open source project, it's amazing!

In August 2020, Chrome will be able to show AVIF images.

Source: https://chromium-review.googlesource.com/c/chromium/src/+/2276542

Because libvips already support AVIF format, it could be nice to add this format in weserv project, what do you think?

Have a great day,
Maxime

[2020-07-03 07:07] garycarlyle commented on #134
Sorry I have not logged into this account for ages. Was really cool of you to consider this. I think my use case was when using images on a website in a scenario that you would want border but would be more practical doing it with this rather than CSS. I cant remember why I would have liked that rather than CSS but I must of had a reason. :)
Actually @skalee seems to have covered what I think was

[2020-07-03 15:36] andrieslouw commented on #238
Will need to check this, thanks for the heads-up!

[2020-07-07 15:43] RichardSieg commented on #206
We had the same issue and your suggestion @kleisauke fixed it for us! Thanks!

[2020-07-08 14:50] kleisauke commented on #238
Reading 8-bit AVIF images should already work, see for example:
https://images.weserv.nl/?url=http://download.opencontent.netflix.com.s3.amazonaws.com/AV1/Chimera/AVIF/Chimera-AV1-8bit-1920x1080-6736kbps-100.avif&output=jpg

However, some AVIF images (with the `ftypavif` magic bytes) cannot be decoded properly. This requires PR https://github.com/libvips/libvips/pull/1657, which is available in li

[2020-07-08 15:04] kleisauke commented on #234
@PH4NTOMiki You could try this:
[code]

We still depend on an older version of librsvg (provided by CentOS/RHEL) that does not fully support CSS styles. I'll check if I can update librsvg to the latest version.

[2020-07-08 15:08] kleisauke commented on #232
I'll look into mirroring the libjpeg-turbo RPMS repository. It's currently only available from SourceForge, which occasionally has some connectivity issues.

[2020-07-08 15:12] kleisauke commented on #228
Hope this helped, please feel free to re-open if questions remain.

[2020-07-08 15:12] #228 closed, assigned to kleisauke

[2020-07-08 15:13] #219 closed, assigned to kleisauke

[2020-07-10 18:34] Maxou44 commented on #238
Firefox Nightly supports AVIF ☺️

[2020-07-15 10:24] PH4NTOMiki commented on #234
@kleisauke did you update it?

[2020-07-23 13:02] gbarnabic opened #239 "Image not recognized as an image"
The url for the images I need to rotate appear to be stored as blobs?? in a database.  Anyway I want to be able to rotate this image and images with similar URL's

https://firebasestorage.googleapis.com/v0/b/glide-prod.appspot.com/o/img-uploads%2FBG27QIXsLLMPz3jpOXMt%2Fd5d1c7.jpeg?alt=media

I have tried pretty much all combinations of the image url with no luck.  Is there any way to pass in this

[2020-07-23 13:40] kleisauke commented on #239
URI's  (`?url=…`) must be given percent-coded. Try this:
https://images.weserv.nl/?url=https://firebasestorage.googleapis.com/v0/b/glide-prod.appspot.com/o/img-uploads%252FBG27QIXsLLMPz3jpOXMt%252Fd5d1c7.jpeg%3Falt%3Dmedia

[2020-07-23 14:37] gbarnabic commented on #239
That works!  Thanks.

[2020-07-23 14:37] #239 closed, assigned to kleisauke

[2020-08-20 16:30] fabian-emilius opened #240 "Animated gifs with transparent background"
I recently noticed some weird artefacts when resizing an animated gif with transparent background.

Example:  https://images.weserv.nl/?h=185&w=185&fit=inside&we&q=50&dpr=2&url=https%3A%2F%2Fcloudflare-ipfs.com%2Fipfs%2FQmZNDGswJPdxrrTkiTfarwSAgRtFh7nMFwsQgUxD5UjeRu%2F24LA_Wizard.gif&n=-1

[2020-08-20 16:47] andrieslouw commented on #240
Interesting, thanks for the report, I wonder what's happening here!
Care to take a look @kleisauke ?

[2020-08-20 17:13] andrieslouw commented on #240
Fixed in https://github.com/libvips/libvips/pull/1550, I will update production, as it looks a lot better in our staging environment already.

[2020-08-20 17:24] andrieslouw commented on #240
Production is on vips 8.10 now, your link should do a lot better now. There are still some small artefacts in the dark background parts, this is something we'll continue to look into.

[2020-08-20 20:52] fabian-emilius opened #241 "DNS blocked after refreshes"
I am currently trying to self host this service and get this error quite frequently without changing the domain:

"The hostname of the origin is unresolvable (DNS) or blocked by policy"

The exact same url works sometimes, but most of the time this error is returned. Is there any kind of setting I need to turn off because there are some unexpected rate limits?

URL looks always similar to this: ..

[2020-08-21 05:48] andrieslouw commented on #241
Please see https://github.com/weserv/images/issues/206, it may be that you have the same issue. Let me know if this helped!

[2020-08-21 09:19] fabian-emilius commented on #241
Seems like that was it. Thanks for your fast answer!

[2020-08-21 09:19] #241 closed, assigned to andrieslouw

[2020-08-21 09:22] fabian-emilius commented on #240
Mmh cant see any change, but I am also using a self deployed version with the latest master now. Do I have to use any other dev branch?

[2020-08-21 09:50] kleisauke commented on #240
The [`5.x` branch](https://github.com/weserv/images/tree/5.x) is the latest one. Here's what I see when comparing this GIF image between libvips 8.9 and 8.10:

| VIPS 8.9 | VIPS 8.10 |
| :---: |  :---: |
| ![before](https://user-images.githubusercontent.com/12746591/90876171-842d7480-e3a2-11ea-84fc-822eafbbdd46.gif) | ![after](https://user-images.githubusercontent.com/12746591/90876193-8d1e4600-e3

[2020-08-21 10:01] fabian-emilius commented on #240
Yes I already convert it to webp, but sadly Safari does not support webp yet so I generate different urls for these users which are not a minority on my site. So this is actually just for Safari users.

What I noticed is that if I lower the resolution (e.g. 185x185 without dpr 2) the issue is also gone. Maybe it helps

[2020-08-21 10:53] kleisauke commented on #240
Upstream bug report: https://github.com/ImageMagick/ImageMagick/issues/2450.

[2020-08-21 11:09] fabian-emilius commented on #240
Thanks a lot for your help! Never expected to get all these answers so fast. It’s an awesome tool you have built!

[2020-08-30 21:12] fabian-emilius commented on #240
Any updates? There was an answer on the ImageMagick issue. Can this work or not?

[2020-09-02 09:41] KimetaRWeber opened #242 "Resizing with fit=contain returns empty image"
We are currently running into the following problem: When trying to resize an image we get an empty image returned.

https://images.weserv.nl/?fit=contain&w=76&h=57&url=https%3A%2F%2Foffers.kimeta.de%2Fimages%2Flogos%2Flogo_franziskuswerk.gif

This only happens when fit is set to contain.

[2020-09-02 13:33] kleisauke commented on #242
The problem was that the page height was set to an incorrect value for non-animated GIF and WebP images. In some cases, the image could become animated as a result.

This has been fixed with commit https://github.com/weserv/images/commit/11369e29449255ebfccbca535139d7c2a792bb3f, which has just been rolled out to production. Thanks for reporting this!

[2020-09-03 10:28] kleisauke commented on #240
This has been fixed upstream.

We can safely incorporate this fix on our production server as soon as ImageMagick releases a new version (possibly 6.9.11-29) and this new version lands on [Remi's RPM repository](https://rpms.remirepo.net/).

[2020-09-07 18:14] kleisauke commented on #240
ImageMagick v6.9.11-29 has landed on Remi's RPM repository and I just updated the production server to this version. This animated GIF image is now resized without artifacts.

[2020-09-14 06:41] fabian-emilius opened #243 "Invalid frames from animated gifs"
When I try to resize the following animated gif, the resizer seems to read a wrong frame size and it looks like the image moves from top to bottom.

Source: https://cloudflare-ipfs.com/ipfs/QmSf3CvdGbKgfYTVpEkwDLLs1zsh1Tc2BJfb1UW4t4Mr4B
Resized: https://images.weserv.nl/?url=https://cloudflare-ipfs.com/ipfs/QmSf3CvdGbKgfYTVpEkwDLLs1zsh1Tc2BJfb1UW4t4Mr4B&h=370&w=370&fit=inside&we&q=50&n=-1&output=w

[2020-09-15 16:48] fabian-emilius commented on #243
Mmh I notice that it has been fixed in the live version but I still have this problem on my own server. Is there any branch with this fix?

[2020-09-22 10:23] roger21 opened #244 "sturdier url parsing ?"
hello

when the image url already has some parameters and such, and worst, some parameters that collide with those of the service it may fails (mostly because the image url parameters are not taken into account and the image grabbing fails)

could it be that the url parameter is mandatorily the last one and all the other parameters behind it are those of the image url

and only the parameters befo

[2020-09-23 09:03] kleisauke commented on #243
Sorry for the delay, backlog was a bit large last week. This animated image reaches the limit of 256 pages, see:
[code]

I've increased it to 320 on the production server. But ideally in this case we should print an error instead of truncating the image (which does not work as you have noticed).

If you want to increase this limit on your server; try setting the `weserv_max_pages` directive in you

[2020-09-23 10:43] andrieslouw commented on #244
This would cause a lot of issues with people that are already using the public service, and I'm also not sure if it would be possible to do so. Please urlencode your &url=, it will solve your problems.

[2020-09-23 12:03] fabian-emilius commented on #243
Thanks for your answer. Is there a list with all of these options documented somewhere?

[2020-09-23 12:06] kleisauke commented on #243
It's documented here: https://github.com/weserv/images/tree/5.x/ngx_conf.

[2020-09-24 08:37] roger21 commented on #244
I didn't think of encoding the url because I switched from a previous service that was built differently and didn't need it, but I'm still an idiot for not thinking of encoding the url, thank you

[2020-09-28 16:18] Renato66 opened #245 "Border on white image on circle mask"
Original
![original](https://ui-avatars.com/api/?background=ffffff)
UiAvatars rounded param
![ui-avatars-rounded](https://images.weserv.nl/?w=44&h=44&url=https://ui-avatars.com/api/?background=ffffff&rounded=true)
WeServ mask circle
![weserv mask](https://images.weserv.nl/?mask=circle&w=44&h=44&url=https://ui-avatars.com/api/?background=ffffff)

[2020-09-28 17:01] andrieslouw commented on #245
Looks like an alpha-channel anti-aliasing issue? Care to take a look @kleisauke ?

[2020-09-28 22:15] Heziode opened #246 "Support of data in URL parameter"
Hi,

Is it possible to support something like this (the URL base64 encoded is the obtained from [lichtenstein.jpg](https://images.weserv.nl/?url=images.weserv.nl/lichtenstein.jpg&crop=100,100,720,530&encoding=base64) ): 

[code]

[2020-09-29 00:27] Heziode opened #247 "SVG animation support"
It seems that SVG that contains animation doesn't work.

Example: [https://images.weserv.nl/?url=https://upload.wikimedia.org/wikipedia/commons/8/87/SVG_animation_using_CSS.svg](https://images.weserv.nl/?url=https://upload.wikimedia.org/wikipedia/commons/8/87/SVG_animation_using_CSS.svg)

However, SVG without animation works.

[2020-09-29 02:11] Heziode commented on #247
It seems doesn't manage gradient too: https://images.weserv.nl/?url=https://upload.wikimedia.org/wikipedia/commons/3/31/Rainbow-gradient-fully-saturated.svg

[2020-09-29 16:29] kleisauke commented on #243
Commit https://github.com/weserv/images/commit/8f6d213c8baada23eb92c810b837a21c2aeca7a0 should ensure that an error is returned instead of the image being truncated. Thanks for reporting this!

[2020-09-29 16:49] kleisauke commented on #245
The `dest-in` operator needed unpremultiplied values and we specified an image that was premultiplied (not sure why I haven't noticed this earlier). This has been fixed with commit https://github.com/weserv/images/commit/ec7dacb970debe626056434f992e2a0843aa4398, which has just been rolled out to production. I now see:
![mask=circle](https://images.weserv.nl/?url=https://camo.githubusercontent.com/

[2020-09-29 16:57] andrieslouw commented on #246
Please see https://github.com/weserv/images/issues/234#issuecomment-651392161

[2020-10-01 09:07] kbsali opened #248 "Issue with the maxage param : cache-control seems unaffected"
Hi,

I'm trying to lower the max-age of some assets of a web app to 1 day, but no matter what value is given to the `maxage` param, the "real" `max-age` seems to always be set to 31536000 (1 year).
Is this because images.weserv.nl/ is behind Cloudflare?

![2020-10-01_11-06](https://user-images.githubusercontent.com/53676/94790146-2f840d00-03d6-11eb-8b48-55838d8ebc19.png)

Thanks for your help.

[2020-10-01 09:31] andrieslouw commented on #248
1m is no valid value I guess, have you tried 1d? If the value is not valid, it will default to 1 year indeed.

[2020-10-01 09:43] kbsali commented on #248
Yes, I have tried `maxage=3600` (which in theory should translate to 3600 seconds, right?) and `maxage=1d`, but the end result is always 31536000 (1 year).

[2020-10-01 09:48] kleisauke commented on #248
We don't support setting `max-age` duration lower than 1 month (`&maxage=31d`). Only a few valid durations can be specified, see:
https://github.com/weserv/images/blob/ec7dacb970debe626056434f992e2a0843aa4398/src/nginx/util.cpp#L93-L102

Also, the `m` suffix means minutes, here's a list of valid suffixes that can be used:
- `ms`: milliseconds
- `s`: seconds
- `m`: minutes
- `h`: hours
- `d`: days

[2020-10-01 09:54] kbsali commented on #248
OK, the doc says

So I thought I could specify smaller values.
Maybe the doc should be updated accordingly! :) So X months translates to `maxage=X*31d` right? eg. `maxage=62d` for 2 months.

[2020-10-01 09:55] kbsali commented on #248
I have tested out and indeed, they max-age header does change when working with 31d or 62d.

Thanks.

[2020-10-01 09:55] #248 closed, assigned to nobody

[2020-10-04 21:03] oliverpool commented on #204
FYI I am experimenting with a Dockerfile and github actions (and container registry) in https://github.com/oliverpool/weserv-images-docker/blob/main/Dockerfile

Current status:
- [x] get the docker build and published to the registry (https://github.com/users/oliverpool/packages/container/package/weserv-images)
- [x] remove the build stuff using multistage container (the final image should just co

[2020-10-05 11:58] Heziode commented on #247
@andrieslouw or @kleisauke any information about this issue ?

[2020-10-05 12:17] kleisauke commented on #247
librsvg (the library we use to load SVG images) doesn't support CSS-based animations.

The second SVG image you posted does not contain a `width` and/or `height` attribute, nor does it define a `viewBox` attribute, so it will default to 1x1 pixel. You could explicitly set the `&w=` and/or `&h=` parameter to load these kind of images. For example:
https://images.weserv.nl/?url=https://upload.wikime

[2020-10-05 12:24] Heziode commented on #247
Thank you for the quick answer.

So… for animation this can take years/decades/Inifinity to be supported :joy: because it seems that it is not planned by librsvg.

[2020-10-05 20:51] oliverpool commented on #204
I now have a working multistage Dockerfile : https://github.com/oliverpool/weserv-images-docker/blob/main/Dockerfile

Example usage (9192 being the port of the host):
[code]

Should I make a PR with it? (I currently use this image deploy on Google Cloud Run without any issue)

[2020-11-02 21:54] michelalbers opened #249 "Allow watermark / overlays / composite images"
It would be nice to have an option to produce composite images with a watermark overlay. I'm currently using a little nodejs server to do that.

[2020-11-03 10:44] kylescousin opened #250 "Get around 403?"
https://images.weserv.nl/?url=https://i2-prod.liverpoolecho.co.uk/incoming/article19204903.ece/ALTERNATES/s1200/1_GDP_LEC_130720CovidTesting_006JPG.jpg

This, as many others, generate a 403. Any way around this?

[2020-11-04 06:44] sjahn90 opened #251 "How to configure Image resizing as Proxy Mode"
We have origin server for image content. We want to use image resizing as proxy server.
I found how to resize image as on-the-fly.  [https://www.endpoint.com/blog/2016/05/25/caching-resizing-reverse-proxying-image-server-nginx](url)

So, we configure as follows. But we can't apply the image resizing.

[code]

Configuration of image proxy server are as follow.

[code]

When we run the follow comman

[2020-11-04 07:11] AnandChowdhary opened #252 "Rounded rectangle mask"
Would love to see an additional mask option for "rounded rectangle", perhaps with a radius option.

[2020-11-04 11:25] cappuc opened #253 "Error 522 from Cloudflare Milan (MXP)"
Today loading images from Italy, it returns a 522 error from cloudflare Milan CDN location.
I tried with a vpn and it works from other locations I tested.

Test image: https://images.weserv.nl/?url=images.weserv.nl/lichtenstein.jpg&w=300&h=300

![Schermata 2020-11-04 alle 12 20 23](https://user-images.githubusercontent.com/4271608/98105358-2801c900-1e98-11eb-8735-fdb6d60167a6.png)

[2020-11-04 13:25] finesofttech opened #254 "Server is down: Error 522"
Server is down since morning, please look into this.
![weserve nl](https://user-images.githubusercontent.com/3335771/98117039-34554880-1ecf-11eb-8394-ed87a9dd88f7.jpg)

[2020-11-04 17:21] andrieslouw commented on #253
There are issues reported with the Milan, Italy (MXP) DC on https://www.cloudflarestatus.com/

Cloudflare is re-routing this DC currently.

[2020-11-04 17:48] andrieslouw commented on #254
Could you share your output of: https://images.weserv.nl/cdn-cgi/trace

This can help us identify which Cloudflare location is causing problems.

[2020-11-05 09:04] finesofttech commented on #254
Hi @andrieslouw ,
I checked this morning, issue has been resloved.
Here is output of: https://images.weserv.nl/cdn-cgi/trace
fl=49f101
h=images.weserv.nl
ip=2405:201:4014:2003:bd86:dace:a036:9ffb
ts=1604566887.823
visit_scheme=https
uag=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.111 Safari/537.36
colo=MRS
http=http/2
loc=IN
tls=TLSv1.3
sni=pla

[2020-11-09 13:27] BobbyWibowo opened #255 "Any chance to have support for Animated PNGs (APNGs)?"
I personally think APNG is such an obscure/meme format, but some big players do use it, so it is what it is I suppose.

Here are some sample images:
![Sample](https://stickershop.line-scdn.net/stickershop/v1/sticker/72822926/iPhone/sticker@2x.png;compress=true)
[code]

![Sample](https://stickershop.line-scdn.net/stickershop/v1/sticker/72822927/iPhone/sticker@2x.png;compress=true)
[code]

For now t

[2020-11-09 13:43] kleisauke commented on #255
We are currently experimenting with switching from libpng to libspng for reading PNG files, which makes [randy408/libspng#4](https://github.com/randy408/libspng/issues/4) relevant here. Implementing this in a PR for https://github.com/randy408/libspng or making a donation to https://opencollective.com/libspng would be the best next step.

[2020-11-09 14:14] kleisauke commented on #251
This is currently not supported. Both `proxy_pass` and `weserv_mode file` registers a content handler and each location block can only have one content handler at the same time. Therefore the `weserv_mode file` handler was overwritten by `proxy_pass`.

I had an attempt to support this combination, are you able to test commit https://github.com/weserv/images/commit/5a64718cb5eddaf47bd793e515b5df706

[2020-11-10 07:55] sjahn90 commented on #251
I'v tested with new branch. It works good. Thanks a lot.
Do you have a plan for including this commit on the main branch ?

[2020-11-10 11:08] finesofttech commented on #254
I have started facing some connectivity issue again. Please suggest some solution
![image](https://user-images.githubusercontent.com/3335771/98666455-14ac9d00-2373-11eb-90f0-23c6a983a237.png)
![image](https://user-images.githubusercontent.com/3335771/98666476-1c6c4180-2373-11eb-941e-46437695ad67.png)

[2020-11-10 11:36] kleisauke commented on #254
@finesofttech It seems that you were banned today by our rate limiter at 11:16:04 and automatically unbanned at 12:16:10 (UTC). You can check your current rate limit quota here: https://images.weserv.nl/quota.

[2020-11-12 05:49] sjahn90 opened #256 "Support format converting of JPEG 2000 & JPEG XR"
Depending on browser type, we want to change JPEG file to JPEG 2000, JPEG XR and WEBP.
WEBP is possible.

Is it possible to change to JPEG 2000 or JPEG XR ? If no available, do yo have a plan to support JPEG 2000 & JPEG XR ?

[2020-11-12 18:56] scharfie commented on #254
I am also experiencing this issue; here's the trace output from https://images.weserv.nl/cdn-cgi/trace

[code]
I also get a 522 trying to load https://images.weserv.nl/quota

[2020-11-12 19:07] andrieslouw commented on #253
Closing this issue, because this was due to Cloudflare, and therw is nothing we can do to further prevent this.

[2020-11-12 19:07] #253 closed, assigned to andrieslouw

[2020-11-12 19:12] andrieslouw commented on #254
We have reports of multiple locations with 522-errors, on multiple sites provided through Cloudflare. Thank you all for the reports, it seems there are some issues with some transit-providers.

[2020-11-13 14:49] kleisauke commented on #256
Support for encoding to JPEG 2000 or JPEG-XR is currently not on our roadmap. I think the chances that these formats are widely supported is basically zero, given that JPEG 2000 is [supported solely by Safari](https://caniuse.com/jpeg2000) and JPEG-XR [was supported by none other than Internet Explorer 9+ (and Edge 12-18)](https://caniuse.com/jpegxr).

Also, due to Cloudflare's caching it's techni

[2020-11-16 08:59] sjahn90 commented on #256
Thanks.

[2020-11-16 08:59] #256 closed, assigned to nobody

[2020-11-17 03:50] IMR707 opened #257 "Unable to load image name with url encoded chinese characters"
Hi.
I tried to load an image that has a chinese characters.

raw url
http://eticket.senheng.com.my/sh_subsidy/uploaded_files/product visual/20181030162815_lb170917008684 副本.jpg

encoded url
http://eticket.senheng.com.my/sh_subsidy/uploaded_files/product%20visual/20181030162815_lb170917008684%20%26%2321103%3B%26%2326412%3B.jpg

cache url
https://images.weserv.nl/?url=http://eticket.senheng.com.my/s

[2020-11-17 09:50] kleisauke commented on #257
This origin server seems to respond only to the encoded version of the URL. For example, requesting [this URL](http://eticket.senheng.com.my/sh_subsidy/uploaded_files/product%20visual/20181030162815_lb170917008684%20%E5%89%AF%E6%9C%AC.jpg) doesn't work for me.

You could try to percent-encode the already encoded URL (known as double encoding):
https://images.weserv.nl/?url=http://eticket.senheng.c

[2020-11-18 03:44] IMR707 commented on #257
Doing double encoding seems to resolve the issue. Although the first time when its caching, it does seem a bit slow, but it does work.

Thank you for the assistance and swift reply.

[2020-11-18 03:44] #257 closed, assigned to kleisauke

[2020-11-20 10:31] brontosaurusrex opened #258 "imgur sudden death"
Since few days ago, links like

    https://images.weserv.nl/?url=https://i.imgur.com/ViPqvAJ.png

are not working anymore, getting error

    {"status":"error","code":404,"message":"The requested URL returned error: 403"}

Any ideas?

[2020-11-20 23:44] xSlOom commented on #258
I can confirm this also.

Can we have an update on this ? We have a lot of users using imgur and they can't see their image.

@kleisauke @andrieslouw

[2020-11-21 08:01] andrieslouw commented on #258
Looks like ImgUr blocked our service on IP-level. I'm looking into options to resolve this.

[2020-11-21 10:58] xSlOom commented on #258
Ugh! I hope you guys can find a solution.

Thanks :)

[2020-11-22 19:47] Eldenroot commented on #258
OK, I can confirm this :( all images are not loaded

[2020-11-23 13:52] TCBOXA1 commented on #258
Along with ImgUr blocking the image proxy it appears that all image formats are being converted to .webp which causes a problem, for example if a user uploads a JPG the link would normally be https://i.imgur.com/mIMeVlU.jpg however this will now redirect to https://m.imgur.com/mIMeVlU?r and break the IMG tag on forums etc.

[2020-11-24 18:48] andrieslouw commented on #258
There is a new hotlink protection on imgur it seems. Meanwhile, we have indeed confirmed that the IP's and user-agents we use have been blocked too. So this is multiple levels of complexity, I would suggest everyone to seek different services for hosting the origin images.

[2020-11-25 03:12] linkthai commented on #258
Our main uploading hosting is imgur so I have to turn weserv off now, hope there will be some way to fix it :(

[2020-11-25 09:58] xSlOom commented on #258
Asking to be unblocked is not a solution ? @andrieslouw It's sad to just move on another service when most of the users we have, are using imgur ..

[2020-11-25 16:54] roger21 commented on #258
if the `Accept` header of the request of images.weserv.nl is only

`Accept: image/webp,*/*`

instead of the usual `Accept: text/html,application/xhtml+xml,application/xml;image/webp,*/*;whatever`

it might work

edit: oh ok nvm, i thought it was because it redirects to a web page now instead of the picture

[2020-11-26 22:07] marovargovcik commented on #258
I got really spooked today when multiple clients called that images on their sites are not loading. Switched to other image caching and resizing provider for now but I really like weserv. Hopefully this will get resolved and we can switch back.

[2020-12-01 18:16] andrieslouw commented on #258
We are testing a fix now. Let us know if there are specific cases still not working, and we will look into these.

[2020-12-02 19:03] #254 closed, assigned to andrieslouw

[2020-12-04 04:00] tvvocold opened #259 "Errors during docker building"
Hi, after I run:
[code]

Then the following error shows:
[code]

Then I try `curl -i https://kumisystems.dl.sourceforge.net/project/libjpeg-turbo/repodata/6e70518d5966a892606a62893fc4e4763ae41089-primary.xml.gz`
[code]

Anyway ideas to fix it?

[2020-12-04 07:40] tvvocold commented on #259
Never mind, just fix it by using a mirror repo: https://npm.taobao.org/mirrors/libjpeg-turbo/

[2020-12-04 07:40] #259 closed, assigned to nobody

[2020-12-04 15:07] meotimdihia opened #260 "libvips error: vips2webp: unable to encode"
It seems Weserve can't decode images that have long height.

https://images.weserv.nl/?url=https://i.imgur.com/1SS0EHH.jpg&output=webp&q=75

`{"status":"error","code":400,"message":"libvips error: vips2webp: unable to encode\n"}`

[2020-12-04 15:30] kleisauke commented on #260
The maximum pixel dimension of a WebP image is 16383 x 16383 (14-bit unsigned), so this image with a size of 720 x 16889 [cannot be encoded to WebP](https://developers.google.com/speed/webp/faq#what_is_the_maximum_size_a_webp_image_can_be).

You could try to encode this image to a different format. Here is a list of the maximum image sizes for the supported formats:
WebP: 16383 x 16383 (14-bit uns

[2020-12-05 00:10] meotimdihia commented on #260
Thanks for your answer.

[2020-12-05 00:10] #260 closed, assigned to kleisauke

[2020-12-05 06:35] josiaheakle opened #261 "404 error when trying to access http img"
Using this url:
https://images.weserv.nl/?url=ssl:www.capitol.tn.gov/senate/members/images/s26.jpg
I get back a 404 error, but I can access the raw image from
http://www.capitol.tn.gov/senate/members/images/s26.jpg

I am trying to embed this into an https site, and I cannot access the image unless I use http

[2020-12-05 07:42] andrieslouw commented on #261
Looks like the site mentioned uses geoblocking. Our servers receive the following message, and I see the same message:
![Screenshot_20201205-083916](https://user-images.githubusercontent.com/11487455/101237005-bf477f80-36d5-11eb-9ba4-3d1506e16f4f.jpg)

[2020-12-07 01:55] josiaheakle commented on #261
@andrieslouw thank you. I ended up making a proxy api for my usecase.

[2020-12-07 01:56] #261 closed, assigned to andrieslouw

[2020-12-08 22:27] gboudreau opened #262 "Random 204 HTTP status"
I am seeing random 204 HTTP status codes, instead of 200, when requesting some images.
Here's an example URL that shows this: https://images.weserv.nl/?url=//i.imgur.com/aLTeBxL.jpg

It doesn't seem to be related to the target image's host; I've seen it happen with multiple hosts.
Another example: https://images.weserv.nl/?url=https://image.tmdb.org/t/p/w500/jutsxphSGbnpxpGr23xzbf2ziQZ.jpg

Changi

[2020-12-09 11:38] andrieslouw commented on #262
Some sites overload our servers, in order to protect the service, it will send 204's when it detects huge amounts (100+/sec) of requests originating from the same sites. It is the quickest way to close a connection. However, it looks like Cloudflare cached the 204 in your case. I will take a look on how to solve this.

[2020-12-11 05:17] sjahn90 opened #263 "Disable default operation on configuration"
Is it possible to disable default action of weserv_default_quality and weserv_default_level ?

I don't want to apply "quality" and "zlib compression" of image as default.

For example.
weserv_default_quality -1 => Don't change quality
weserv_default_level  -1  => Don't change zlib compression

[2020-12-12 15:42] raRaRa commented on #196
Can we get clarification on this paragraph:

Is origin the website where the image is being displayed on, or the website where the image is being downloaded from? If it's the website where the image is being downloaded from, what happens to popular websites such as imgur, google, etc, do they have an exception?

Thanks.

[2020-12-12 16:38] andrieslouw commented on #196
Origin is the website provided in the `?url=`, thus the website the image is downloaded from. OpenDNS provides all white- and blacklists, we don't modify those. Imgur & Google will be on a whitelist as far as I know. We only block the heaviest categories to prevent our service from being blocked. This is the Low tier, explained here: https://support.opendns.com/hc/en-us/articles/227988047-Web-Cont

[2020-12-15 10:13] danrin opened #264 "500 error fetching images for one domain"
I'm trying to troubleshoot this with the domain owner, but cant really see beyond your 500 error. I suspect some issue with their CDN but could you check? some example url's:

https://images.weserv.nl/?url=www.arboss.nl%2Fwp-content%2Fuploads%2F2020%2F09%2Fhks-bfs-90.jpg
https://images.weserv.nl/?url=www.arboss.nl%2Fwp-content%2Fuploads%2F2020%2F12%2Fpuma-airtwist-black-low.jpg
https://images.wese

[2020-12-15 14:18] raRaRa opened #265 "Self-hosting tips"
Hey!

I was just wondering what would be the easiest way to self-host this service, without requiring Redis for rate limiting, etc. I would require some disk space for the service to download and process the files, correct?

It would be really cool if there was some easy way to set it up on a cloud server like Linode or Heroku, with all the requirements for it to run smoothly. I plan to have Cloud

[2020-12-15 15:44] raRaRa commented on #204
I would love to see some tutorial or small guide on how to get images.weserv running with Google Cloud Run!

[2020-12-15 21:46] oliverpool commented on #204
@raRaRa simply go to the Console > Cloud Run > New Service and make a deployment based on the following Dockerfile (the `FROM` image is hosted on github: https://github.com/oliverpool/weserv-images-docker)
[code]
**Container port must be set to 80** in the Cloud Console (no env variable).

[2020-12-19 03:59] urjitbhatia opened #266 "Tests failing with vips 8.10.0 (test-tint)"
`test-tint` seems to fail consistently on multiple machines I tried to build this on. Is this a flaky test we can ignore?

[code]

[2020-12-20 11:39] andrieslouw commented on #265
We do have a Docker image, but it should be pretty easy to run the code on any platform by inspecting our Docker image. Disk space is no specific requirement, everything could be done in memory (or /dev/shm). CloudFront or Cloudflare is advised indeed, our cache ratio is ~80% on Cloudflare for example.

Be advised that most of the code is CPU-bound and/or network-bound. The whole process is fetchi

[2020-12-20 11:40] andrieslouw commented on #266
Could you answer this @kleisauke ?

[2020-12-20 11:41] andrieslouw commented on #264
Strange, problem is not tied to our IP (servers can access the image), it could be some user-agent filtering, or a different problem. Will take a closer look!

[2020-12-20 11:44] andrieslouw commented on #263
I need some additional explanation; because there needs to be a default quality level when outputting to JPEG. Do you mean to take the level of the original image? I'm not sure if this is detectable.

[2020-12-20 11:49] andrieslouw commented on #262
Update: Cloudflare is caching a bit aggressive, monitored this for a few days, and I see what you mean. I tried changing a few parameters, but Cloudflare ain't listening to the "do not cache" headers I tried to sent. Interesting problem..

[2020-12-20 14:02] raRaRa commented on #265
I appreciate the detailed response @andrieslouw !

In theory I could run this service "serverless" using AWS Lambda with Cloudflare in front. That would be really cool. AWS Lambda recently launched support for containers, but it requires some changes to the code.

Just out of curiosity, do you run this service in the cloud, if not, what are the main reasons you run it yourself?

Thanks!

[2020-12-20 19:07] andrieslouw commented on #265
The resources needed to run the free service are more than could be easily virtualized. We run multiple barebone servers, traffic is in the multiple Gbit/s on peaks, and we are able to fully saturate complete Ryzen-processors on all cores. Using dedicated boxes means we can do this extremely cheap; below €100/month cheap, while having the fastest response times. Downsides of using dedicated boxes

[2020-12-21 01:02] sjahn90 commented on #263
Yes. I want to keep the level of the original image.

[2021-01-09 21:11] Kornosky opened #267 "Error 404 With Jekyll/Github pages Implementation"
I'm attempting to set up an art gallery on my website but I keep getting a 404 error (more specifically:  `{"status":"error","code":404,"message":"The requested URL returned error: 404"}` )

Here's one of the failed links generated by my code:
https://images.weserv.nl/?url=www.kornosky.github.io/assets/img/artportfolio/%5Bwww.kornosky.site%5D%5B335%5Dchristopher-kornosky-final.jpg&w=600

And here

[2021-01-09 21:55] andrieslouw commented on #267
That's a strange link indeed, on what URL would the original image be viewed?

[2021-01-09 22:05] andrieslouw commented on #267
Found it, you have an extra `www.` in your URL, this one works: https://images.weserv.nl/?url=kornosky.github.io%2Fassets%2Fimg%2Fartportfolio%2F%5Bwww.kornosky.site%5D%5B335%5Dchristopher-kornosky-final.jpg&w=600

Seems like `kornosky.github.io` doesn't like to be prefixed by another `www.`

[2021-01-09 22:20] Kornosky commented on #267
Thank you so much! I should've been able to catch that. You've saved me hours of hassle. Okay well that's an issue I need to solve as well then, because sometimes when I go back to my home page it gives me a githubpages 404 message (http://www.kornosky.github.io/). But again, thank you so much!

[2021-01-09 22:45] andrieslouw commented on #267
Maybe the value for `site.url` is not correct? I'm not entirely sure where the `www.` is coming from..

[2021-01-10 14:24] #245 closed, assigned to kleisauke

[2021-01-10 14:24] #243 closed, assigned to kleisauke

[2021-01-10 14:24] #242 closed, assigned to kleisauke

[2021-01-10 14:24] #240 closed, assigned to andrieslouw, kleisauke

[2021-01-10 14:32] kleisauke commented on #266
Was this tested with libvips >= 8.10.3? If so, could you re-test with commit https://github.com/weserv/images/commit/630d6255bd6442423b52d49d72bc2b49a14e6e11 on the [`5.x`](https://github.com/weserv/images/tree/5.x) branch?

Since PR https://github.com/libvips/libvips/pull/1872 a couple of rounding issues has been resolved in `reduce{h,v}`, hence the expected fixtures needed to be regenerated.

[2021-01-10 14:42] kleisauke commented on #264
The above images loads fine for me now, so perhaps this has been resolved upstream?

We were indeed sending upstream HTTP 500 response codes incorrectly as our own internal server error message, commit https://github.com/weserv/images/commit/66099378030ee4be895794a73e4c97aeaafc73db fixes this. For example, this produces the correct error message now:
https://images.weserv.nl/?url=httpstat.us/500

[2021-01-10 14:49] kleisauke commented on #263
This is currently not possible. Please see for context:
https://github.com/libvips/libvips/issues/1932 (for JPEG images)
https://github.com/lovell/sharp/issues/2300#issuecomment-661127805 (for PNG images)

[2021-01-10 14:54] kleisauke commented on #251
Merged to the [`5.x`](https://github.com/weserv/images/tree/5.x) branch with commit https://github.com/weserv/images/commit/9ad5ba90a5fbfdee6c33f95f11f479b38d6968ec. Thanks for reporting this!

[2021-01-10 14:58] kleisauke commented on #247
This is being tracked upstream within issue https://gitlab.gnome.org/GNOME/librsvg/-/issues/307.

[2021-01-10 15:21] kleisauke commented on #234
librsvg has been updated to v2.50.2 with the help of https://github.com/weserv/rpms. It can now handle much more complex CSS selectors than before, as it does all CSS processing using Rust crates from Mozilla Servo; these are also the crates used by recent the versions of Firefox.

Unfortunately, this does not seem to work:
[code]

But this does:
[code]

Please report this upstream at librsvg if i

[2021-01-10 15:21] #234 closed, assigned to andrieslouw

[2021-01-10 15:23] kleisauke commented on #246
Closing as duplicate of #234.

[2021-01-10 15:23] #246 closed, assigned to andrieslouw

[2021-01-10 15:24] #244 closed, assigned to andrieslouw

[2021-01-10 15:26] kleisauke commented on #236
Duplicate of #214, closing.

[2021-01-10 15:26] #236 closed, assigned to andrieslouw

[2021-01-10 15:29] kleisauke commented on #193
Closing as this is out-of-scope for now.

[2021-01-10 15:29] #193 closed, assigned to andrieslouw, kleisauke

[2021-01-10 15:32] kleisauke commented on #221
Closing in favor of #226, thank you for taking the time to submit the PR and issue.

[2021-01-10 15:32] #221 closed, assigned to kleisauke

[2021-01-10 15:34] kleisauke commented on #177
Closing for the reasons given above.

[2021-01-10 15:34] #177 closed, assigned to andrieslouw, kleisauke

[2021-01-11 12:05] BZHDeveloper commented on #228
Hello.
this JSON error appears instead of picture data
`{"status":"error","code":404,"message":"The requested URL returned error: 403"}`

[2021-01-11 13:36] raRaRa commented on #228
@BZHDeveloper Did you remove any query parameters from the media link? They are required, otherwise you'll get a 403.

[2021-01-13 14:26] AggressivelyMeows opened #268 "Error 1106 when requesting via Cloudflare Workers"
The only data being returned from the API is "Error 1106", this includes on other routes such as "/quota". I have a feeling this might be a rate limit issue but i'm unable to get my remaining quota as the API refuses to serve my requests. Another feeling I have is that Workers are using shared IPs to fetch and the IP my worker is on has used too many images recently.

[2021-01-13 14:31] AggressivelyMeows commented on #268
An example URL is: "https://media.spns.us/unicorn/smile.png?w=64". The subdomain points to a Worker that appends the S3 bucket to the path and runs it through images.weserv.nl. For 7 months this has worked without a problem, but ever since last night it has stopped working entirely.

[2021-01-14 09:25] danrin commented on #264
Sorry for the late reply: it turned out to be an issue with their CDN as suspected. Thanks for improving the error message, that should help in the future!

[2021-01-14 09:25] #264 closed, assigned to andrieslouw

[2021-02-13 02:32] lincolnthree commented on #196
@andrieslouw Hey! Jumping in on this thread a bit late. 2500 / 10m seems like a great compromise to me. Obviously there will always be exceptions, but 700/3m seems to be chopping things off a bit abruptly for pages with lots of smaller images that are loaded in "bursts". Obviously the dream is no limits, but I understand reality :) Feels a bit strange to be sending feedback on this item to an open

[2021-02-15 09:56] andrieslouw commented on #268
Sorry, this issue fell off our radar. Could be the rate limiting, will investigate.

[2021-02-15 09:59] andrieslouw commented on #196
I think 2500/10m would be a good compromise. Uncached requests pass through the CloudFlare cache, and also pass through the nginx-cache. The uncached requests will hit the origin server indeed.

@kleisauke : Can we change the limit in production?

[2021-02-15 10:09] andrieslouw commented on #268
I guess the best way would be to whitelist CloudFlare Worker IP's from the rate limiter. Error 1106 is definitely due to blocking by rate limiting.

[2021-02-15 13:04] kleisauke commented on #196
I just updated the request limit on the production servers to 2500/10m, see:
https://images.weserv.nl/quota

Commit https://github.com/weserv/images/commit/a8efbaa0ad06f011cb88affe1ad3a61132b22c89 and https://github.com/weserv/docs/commit/b0d1e22f4e1bc6fb5814d28fb863d742ee4d1dcc reflects this change in the nginx configuration and documentation.

[2021-02-15 14:24] lincolnthree commented on #196
@kleisauke @andrieslouw Awesome! Thank you so much! PS. I was unaware of the URL to query rate limit remaining. That's very good to know.

Also, I know I said it before, but I really appreciate the fact that you do offer this project and service to the community! It's fantastic and really well designed.

[2021-02-15 14:28] lincolnthree commented on #196
Just noticed that the rate limit starts refreshing itself slowly as time goes on (e.g. it's not a strict 2500 / 10m limit, seems like a rolling window?) This is a really neat implementation. Makes a lot of sense for throttling requests - I probably would not have thought of that :)

[2021-02-15 14:55] kleisauke commented on #196
Thanks for your kind words. Perhaps the URL to check your current rate limit quota should also be mentioned in the FAQ. fwiw, it's highlighted here now:
https://images.weserv.nl/news/2019/09/01/introducing-api-5/#improved-rate-limiter

Indeed, it's a Redis backed rate limiter based on the sophisticated [generic cell rate algorithm](https://en.wikipedia.org/wiki/Generic_cell_rate_algorithm) which p

[2021-02-15 15:44] lincolnthree commented on #196
@kleisauke Agreed, I think the FAQ is a good place. I would not have thought to check the news articles (I did try 'Googling' it.) Reading into that algorithm. Quite elegant.

[2021-02-15 23:56] laukstein opened #269 "Error 404/403 for resources from rackcdn.com (HTTPS)"
See https://images.weserv.nl/?url=5fbb4b60e5a371522c26-c46478628be7be7c70f96ec65a31d1c7.ssl.cf3.rackcdn.com/Images/ProductImages/Grey_Marl_Zip_Through_Hoodie_124473_1dd1.jpg&w=303&output=webp returns error

[code]

Works fine when open directly https://5fbb4b60e5a371522c26-c46478628be7be7c70f96ec65a31d1c7.ssl.cf3.rackcdn.com/Images/ProductImages/Grey_Marl_Zip_Through_Hoodie_124473_1dd1.jpg

Works

[2021-02-16 07:00] laukstein commented on #269
Works fine when defined **https://** in `url` like https://images.weserv.nl/?url=https://5fbb4b60e5a371522c26-c46478628be7be7c70f96ec65a31d1c7.ssl.cf3.rackcdn.com/Images/ProductImages/Grey_Marl_Zip_Through_Hoodie_124473_1dd1.jpg&w=303&output=webp, meaning that images.weserv.nl by the default tries to fetch HTTP and HTTPS, and I think it is wrong to do.

[2021-02-16 19:26] andrieslouw commented on #269
Default we fetch over http://, this behavior has been consistent since 2007. Around 2013 we added SSL support using ssl: as prefix. We continued to add support for TLS using this prefix. Unfortunately we cannot change the default behavior easily without breaking things for existing users. We already support https:// to help users.

For more history, please see issue https://github.com/weserv/image

[2021-02-16 20:30] laukstein commented on #269
@andrieslouw, if `url` hasn't specified URL protocol shouldn't images.weserv.nl fallback to HTTPS if default HTTP request fails?

[2021-02-16 21:12] andrieslouw commented on #269
It maybe could, but then we need to choose what to output if that request also fails. The fail we get here is also quite strict: returning 403 instead of not connecting/not returning anything. 403 more-or-less tells us to not attempt anything further. It is strange that `rackcdn.com` (Akamai) isn't sending any redirect (`Location: ...`) headers, as you would expect for a HTTPS-only host.

There is

[2021-02-17 14:36] e965 commented on #233
@andrieslouw @kleisauke I see that you have implemented a mechanism for blocking access to images that have been entered in the Russian registry. Can you please write to Roskomnadzor by e-mail zapret-info@rkn.gov.ru with information about this? They must respond and remove the service from the registry.

[2021-02-17 19:57] mortenholmgaard opened #270 "Focal point, why percentage and not focus point?"
I have started to use your image service with focalpoint.
https://images.weserv.nl/docs/crop.html#focal-point

We have a focus point selector for images in the administration, but after comparing the focus point selector preview to the images scaling results, I figured out that your service does not take the percentage set, as a focus point to make the most optimale image from but as a percentage

[2021-02-17 20:37] fabian-emilius opened #271 "The source directory "/var/www/imagesweserv" does not appear to contain CMakeLists.txt."
I am getting the following error when building the lastest version with docker:

[code]

[2021-02-20 10:52] andrieslouw commented on #233
@e965 : Thank you for the hint, I wrote an e-mail, informing them of the steps taken. We indeed implementented CSAM-scanning based on hashes, through Cloudflare (details here: https://blog.cloudflare.com/the-csam-scanning-tool/ ).

[2021-02-20 11:02] andrieslouw commented on #268
Small update: We haven't found a reliable way to detect CloudFlare Worker IP's yet. The ranges are within CloudFlare's own ranges it seems, so it is a bit hard to filter them, as our whole service is behind CloudFlare CDN. We did updated the limits as per #196 .

[2021-02-20 11:05] andrieslouw commented on #250
The webhost of i2-prod.liverpoolecho.co.uk has actively blocked the IP-addresses we use. You should contact them, the ip's we use are published and updated on: https://images.weserv.nl/ips.txt

I am sorry, there is not much we can do about this.

[2021-02-20 11:05] #250 closed, assigned to andrieslouw

[2021-02-20 11:07] andrieslouw commented on #258
The fix seems to be holding fine, thank you for the report.

[2021-02-20 11:07] #258 closed, assigned to andrieslouw

[2021-02-20 11:08] andrieslouw commented on #231
Unfortunately, there is not much we can do about this.

[2021-02-20 11:08] #231 closed, assigned to kleisauke

[2021-02-20 11:08] #223 closed, assigned to kleisauke

[2021-02-20 11:09] andrieslouw commented on #269
As this is already addressed in #158 , I will mark this as a duplicate.

[2021-02-20 11:09] #269 closed, assigned to andrieslouw

[2021-02-20 11:12] andrieslouw commented on #197
@cabe56 : If you want, you can suggest any addition to the docs by creating a pull-request at https://github.com/weserv/docs . Configuring specific services is a bit our of our scope, but Cache Everything is indeed used by ourselves.

[2021-02-20 11:13] andrieslouw commented on #229
That would be hard, as we need to write an interface to upload, review and address such images.

[2021-02-20 11:16] andrieslouw commented on #232
We started a RPMS repo on https://rpms.weserv.nl , but this is mainly internal/testing for now. We will look into the addition of libjpeg-turbo.

[2021-02-20 11:21] andrieslouw commented on #238
We started some work on this, but it is really beta, and AVIF-encoding will be an uphill battle (consuming lots of resources). We will notify you here if we start testing on images.weserv.nl, for now you can experiment using our code, the support is there as per ac3e355f90694d5e5c07ca05199bec7ead9a5eee .

[2021-02-21 19:11] #229 closed, assigned to andrieslouw

[2021-02-24 16:52] andrieslouw commented on #233
Our request has been taken in consideration by Roskomnadzor.

[2021-02-27 00:39] hakimihamdan88 commented on #268
facing same issue, 1106 error code

[2021-03-01 07:41] GitBoudewijn opened #272 "Solution for updated images that are still in browser cache?"
Hello,

Love your service. So far I have come across just a single issue:

There's an image that has changed and when I go to the weserv url directly it shows that you also have the updated image in your cache, however in `<img>` tags it still shows the old image. I guess this is because of the browser cache and because you don't use Last-Modified/ETag headers.

In your FAQ it says this:

However,

[2021-03-01 09:25] danielbeeke opened #273 "Question: How can I use Docker to access a local development domain"
Hi all,

I find this a very nice service! Thank you very much for open sourcing it.

Is it possible to resolve a local domain? I have checked the Nginx config, am I correct to assume the resolver 8.8.8.8; is preventing Nginx from accessing my local domain?
To be clear.. I am using Docker locally and built the image etc.

Kind regards Daniel

[2021-03-01 09:35] danielbeeke commented on #273
I found it:

I changed

resolver 8.8.8.8;
to
resolver 127.0.0.53;
in /etc/nginx/imagesweserv.conf

[2021-03-01 09:35] #273 closed, assigned to nobody

[2021-03-02 05:40] #251 closed, assigned to kleisauke

[2021-03-02 18:37] andrieslouw commented on #272
I will try this in our staging enviroment, and if it works like suggested, it would be a simple addition to create this. Thank you for the suggestion!

[2021-03-03 09:14] e965 commented on #233
As follows from the information from the [reestr.rublacklist.net](https://reestr.rublacklist.net/search/?q=images.weserv.nl), the service is completely unlocked in the Russian Federation.

![image](https://user-images.githubusercontent.com/18071040/109782459-bf024600-7c2a-11eb-960f-534c04b2f25d.png)

[2021-03-04 09:34] Kuzmitch-hub opened #274 "Animated gifs stopped working"
Hello,

I'm using your service for a long time with my forum and just found an issue couple of days ago. Every animated gif gives this error:

{"status":"error","code":400,"message":"libvips error: magicksave_buffer: libMagick error: NoDecodeDelegateForThisImageFormat `gif' @ error/blob.c/ImagesToBlob/1993\n"}

Examples:

https://images.weserv.nl/?url=ssl:forum-img.guitarplayer.ru/2020/02/10/t78h.

[2021-03-04 12:25] kleisauke commented on #274
This seems to be caused by a recent ImageMagick soname bump (see https://github.com/weserv/rpms/commit/b74b78f2c3e362b09a567911edecba21c1c175d5), which caused the wrong `policy.xml` to be loaded. It should be fixed now.

I've modified our integration tests to prevent this from happening again, thanks for reporting this!

[2021-03-04 12:52] kleisauke commented on #271
Perhaps the `docker build` command was run directly within the `docker/` subdirectory? Since commit https://github.com/weserv/images/commit/9b4a69bd3cf5a529ced260bc10abe5123cfcb23d it's necessary to build the Dockerfile within the source directory and since commit https://github.com/weserv/images/commit/76d349d29d1d3b25e30c244bd3a12f9c80b863f4 it's required to use the `-f docker/Dockerfile` argume

[2021-03-04 13:53] kleisauke commented on #270
You're right, the implementation didn't take the original input width and height into account. Fixed with commit https://github.com/weserv/images/commit/b78d912bf2e4eb7f81f00a6889c73811cf5d32c6.

This commit also deprecates the confusing `&a=focal-x%-y%` percentage parameter, you can use `&a=focal&fpx=[x decimal]&fpy=[y decimal]` instead. The documentation has been updated to reflect this change:

[2021-03-04 14:06] Kuzmitch-hub commented on #274
No problem, I'm here to help :)

[2021-03-04 14:06] #274 closed, assigned to kleisauke

[2021-03-04 20:45] AggressivelyMeows commented on #268
An idea could be to implement some kind of authentication so that people who are using serverless APIs can use this service.

[2021-03-05 17:45] andrieslouw commented on #233
Thank you for the feedback, I hope all users are able to reach the service again.

[2021-03-06 11:58] mortenholmgaard commented on #270
@kleisauke Sounds good - I can't find any info about your deployment procedure? - I can see the documentation change is not live a least.

[2021-03-06 13:10] kleisauke commented on #270
It's supposed to be live. There ought to be a pop-up when new content is available (i.e. when the service worker has installed an update), for example:
![Screenshot](https://user-images.githubusercontent.com/1254613/70602095-a6140c00-1c04-11ea-9848-962abdbe8fe0.png)

[2021-03-10 20:37] #270 closed, assigned to kleisauke

[2021-03-11 01:41] #263 closed, assigned to nobody

[2021-03-12 06:06] jetexe commented on #233
All works! This is a good news for all of us!

[2021-03-12 06:06] #233 closed, assigned to andrieslouw

[2021-03-12 17:23] fabian-emilius commented on #271
That was indeed the problem

[2021-03-12 17:23] #271 closed, assigned to kleisauke

[2021-03-13 17:57] fabian-emilius opened #275 "Resized animated image has different fps"
We use a self hosted version of this software and it seems that the fps change after resizing the image.

Original Image:
https://cloudflare-ipfs.com/ipfs/QmYmPLnTEDwD8CwVSFjgWUpUHWV1DUxrMKWnMeHeHXgLCQ

Resized Image:
https://images.weserv.nl/?h=370&w=370&fit=inside&we&q=75&output=webp&n=-1&url=https://cloudflare-ipfs.com/ipfs/QmYmPLnTEDwD8CwVSFjgWUpUHWV1DUxrMKWnMeHeHXgLCQ

(uploaded result: https

[2021-03-13 20:48] kleisauke commented on #275
Thanks for the report, PR https://github.com/libvips/libvips/pull/2145 should resolve this. For now, you can workaround this by appending [the undocumented](https://github.com/weserv/images/blob/5e1ea90eba7110395300a6e51d0e83d5212c4d0f/src/api/parsers/query.cpp#L68-L70) `&delay=100` parameter to the URL.

[2021-03-16 10:05] Sewdn commented on #204
@andrieslouw is this the advised way of installing weserv image server on Google Cloud?
There is no official docker image on [DockerHub](https://hub.docker.com/u/weserv) yet, right?

[2021-03-16 12:30] fabian-emilius commented on #275
Seems like it was merged. Does it has to be updated here as well or will it just work?

[2021-03-16 12:55] kleisauke commented on #275
That PR is part of the libvips v8.10.6 release (which will probably be released in a couple of days). It should be automatically integrated into the Docker image after this version lands on [Remi's RPM repository](https://rpms.remirepo.net/).

You could try to compile libvips from the [`8.10` branch](https://github.com/libvips/libvips/tree/8.10) if you want to test this earlier.

[2021-03-16 21:57] andrieslouw commented on #204
There is no official image yet, because it needs to be maintained also. We may want to integrate this into our CI or something, tips and tricks are welcome. To make it work today would not be the biggest issue, but keeping it working (and testing and verifying this) is more of an issue.

[2021-03-17 08:32] oliverpool commented on #204
@andrieslouw if you want, I can try to integrate my change into your `docker` folder (using multistage and `FROM ./Dockerfile`).

I could also port my workflow to publish it to the github registry automatically and add some documentation about the "alpha-not-maintained" status of it.

(I think making it very easy for everyone to deploy could help reduce the load on you server).

[2021-03-17 15:34] kleisauke commented on #204
Given that [Docker Hub introduced rate limiting on pulls](https://www.docker.com/increase-rate-limits), it makes more sense to use a alternative container registry that doesn’t expose such a limit. Although marked as beta, [GitHub's Container Registry](https://docs.github.com/en/packages/guides/about-github-container-registry) is a good candidate.

Commit https://github.com/weserv/images/commit/c1

[2021-03-20 00:07] GitBoudewijn opened #277 "Keep the filename of the original file"
Right now you can use `&filename=` to set the filename for an image but otherwise it's always image.jpg/image.webp etc.

It would be nice if by default it would just keep the filename from the Content-Disposition header of the original file. (Changing the extension depending on `&output=`.)

If the original location doesn't have a Content-Disposition header you could just set the filename based on

[2021-03-27 11:17] kleisauke commented on #275
libvips v8.10.6 has been landed on [Remi's RPM repository](https://rpms.remirepo.net/) with commit [`0cc4753`](https://git.remirepo.net/cgit/rpms/lib/vips.git/commit/?id=0cc47534ff96da2eafd8efb9bc07ec6dcabf5c45), so a recompilation of the Docker image should automatically pick this up.

You could also use the prebuilt Docker image available on GitHub's Container Registry:
https://github.com/orgs/w

[2021-03-30 23:11] fabian-emilius opened #278 "Webp animation is overlapping"
The resized image has overlapping frames:

https://images.weserv.nl/?h=370&w=370&fit=inside&we&q=75&output=webp&n=-1&url=https://cloudflare-ipfs.com/ipfs/QmZ2czWvjhiiGoAyL3qSqWN7mSxY5J2ACAmXaPaELodUkh

Original: https://cloudflare-ipfs.com/ipfs/QmZ2czWvjhiiGoAyL3qSqWN7mSxY5J2ACAmXaPaELodUkh

[2021-04-01 11:35] kleisauke commented on #278
It looks like `DISPOSE_PREVIOUS` is not handled correctly in the GIF loader of libvips 8.10 (which is based upon giflib). libvips master has switched to libnsgif, which handles this image correctly.

[2021-04-01 12:27] fabian-emilius commented on #278
So it will work again if I rebuild the docker image?

[2021-04-01 12:31] kleisauke commented on #278
No, you'll have to wait for libvips 8.11 or build libvips from source within the Docker image.

[2021-04-03 14:36] dykuman commented on #267
Hi everyone,

I have similar problem with images.weserv.nl in Jekyll site. I hoste images myself. In Jekyll site some images works good and some doesn't work.  For example: http://pracepodwodne.pl/podwodne.html
Sometimes pictures witch now doesn't work, works but why I don't know?
Thanks for help.

[2021-04-11 23:16] errorID10TMC opened #279 "Filename can't be orientation options"
When the filename is one of the orientation or some of the adjustment options it will change the images. An example of this using flip is below.

https://images.weserv.nl/?url=images.weserv.nl/lichtenstein.jpg&w=300&h=300&filename=flip

This image does have the filename of flip but the image is also flipped. This also happens with some filenames that include one of the options.

[2021-04-13 09:54] kleisauke commented on #279
The problem was that the query string was parsed incorrectly. In some cases, key-value pairs could be misinterpreted as value-key pairs, as you discovered. This occurred for keys that were handled in the nginx module.

This has been fixed with commit https://github.com/weserv/images/commit/2bfc6bece48cf178a4e7b1f72bf06bf629e99847, which has just been rolled out to production. Thanks for reporting

[2021-04-23 20:03] lincolnthree opened #281 "Slow responses with 522 errors"
Hi there!

Thanks again for your amazing service.

As per issue https://github.com/weserv/images/issues/211, I am reporting that we're seeing a lot of 522 errors from `images.weserv.nl` currently. Looks like CloudFlare may be having some issues: https://www.cloudflarestatus.com/?_ga=2.49098022.1024970801.1580152244-f65b9b4d41bec4f33bfa4302bc2d1ac0

Not sure what other information would be useful!

[2021-04-23 20:05] lincolnthree commented on #281
![image](https://user-images.githubusercontent.com/362329/115924477-c46f5600-a44d-11eb-98eb-afde659e2d4b.png)

[2021-04-23 20:10] sergeevabc opened #282 "Add conversion to 256 palette for PNG"
* [source][1].png 144 512 bytes
* [processed][2].png with &af&l=9 switches  (maximum PNG squeeze via Weserv to date) 142 678 bytes
* let’s convert source to 256 palette via [pingo][3].exe -palette=100 -sb -> [out][4].png 46 214 bytes (and colors are still there!)

I would definitely use this mode for 99% of web graphics.

[1]: https://www.aignes.com/screenshots/note_ss_main1.png
[2]: https://image

[2021-04-24 02:43] fabian-emilius commented on #278
Mmh I do not really get it to work properly when compiling from master. Is there any hope that a fix for this is available soon?

[2021-04-26 17:39] andrieslouw commented on #281
We spotted some abuse of our public service, which caused slow response times for other users, and have taken the necessary steps to resolve this.

[2021-04-26 18:16] kleisauke commented on #282
PNG quantization functions require libvips to be compiled with libimagequant, which is (unfortunately) licensed under GPLv3.

There's a possibility to use a version prior to v1.5.0, for e.g. by using [this fork](https://github.com/lovell/libimagequant), since that version had a BSD-2 license. However, since image quantization is generally a time-consuming operation, it will require some research o

[2021-04-27 09:34] zhuang010203 opened #284 "The IP address request is too large and is blocked. How to unseal it"
The IP address request is too large and is blocked. How to unseal it

[2021-04-27 16:29] andrieslouw commented on #284
Is your IP-address blocked, or is the URL blocked? Could you provide the exact error-message, or a screenshot?

[2021-04-27 20:23] lincolnthree commented on #206
@andrieslouw We just tried this fix but are still getting the IP assignment errors:

[code]

imagesweserv.conf modifications look like this:
[code]
Is there something else we can adjust or dig into to find the source of these errors?

[2021-04-27 20:25] lincolnthree commented on #206
@andrieslouw We just tried this fix but are still getting the IP assignment errors -- seems like the `ipv6=off` setting is not being used:

[code]

imagesweserv.conf modifications look like this:
[code]
Is there something else we can adjust or dig into to find the source of these errors?

It looks like the IPV6 address upstream that fails is a cloudfair address.

[2021-04-27 20:38] lincolnthree commented on #206
Is this possibly related? https://trac.nginx.org/nginx/ticket/723

[2021-04-27 21:26] andrieslouw commented on #206
If the bug is in NGINX's proxy_pass: A really ugly hack would be to remove the IPv6 addr corresponding to the `.local` prefix from the `/etc/hosts`, or using a different hostname (instead of `images.weserv.local`); one which has no AAAA-records at all.

If the bug is in resolving and connecting to IPv6-origins, a ugly solution would be to use a DNS-resolver that doesn't provide AAAA-records, or st

[2021-04-27 21:28] lincolnthree commented on #206
@andrieslouw The weird thing is it works *some* of the time. I'll look into using a different hostname and report back. AFAIK IPV6 should be enabled in the stack.

[code]

[2021-04-27 21:37] lincolnthree commented on #206
@andrieslouw I'm not a networking expert, but it looks like IPV6 is enabled. There does not appear to be a `.local`-prefixed host defined:

[code]

[2021-04-27 21:53] lincolnthree commented on #206
Oh no. This could be the issue: https://docs.digitalocean.com/products/networking/ipv6/#:~:text=Load%20balancers%2C%20Floating%20IPs%2C%20and,to%20(like%20a%20Droplet).

Not supported for load balancers. Will test connecting directly to the server.

[2021-04-27 22:03] lincolnthree commented on #206
Update, load balancer should not be the issue.

@andrieslouw Interestingly enough. I can `ping6` addresses from my host, but not from inside the imagesweserv docker container:

[code]

[2021-04-27 22:10] lincolnthree commented on #206
@andrieslouw OK. That was the issue. Docker networking itself was not configured for IPV6. (Seems this is not the default for docker for some reason? Possibly a botched install?)

Either way --- For the time being I have run the docker container using `--network host` option to use the host network, since these servers are single-purpose and there will not be any overlap between containers, but I

[2021-04-27 22:26] andrieslouw commented on #206
Please let us know if there is something specific missing in our proposed docker config. Glad you got IPv6 working, hope we can help other users with your findings. Thank you for taking us with you while debugging this, it's really helpful to get some insight!

@kleisauke: Could you take a look into the IPv6 stack that Docker is using by default? Is something missing at our side?

[2021-04-28 00:52] mayli opened #285 "Is there a list of blocked urls, and reason of blocking?"
[code]
This seems to be a bug

"GET /?url=http://up.ccp.ovh/files/NrjVd/e6.png&w=240&il&output=webp HTTP/1.1" 200 5892 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.85 Safari/537.36" 1619573101.909
"GET /?url=http://up.ccp.ovh/files/NrjVd/e6.png&w=240&il&output=webp HTTP/1.1" 404 132 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit

[2021-04-28 02:57] lincolnthree commented on #206
@andrieslouw I will do my best. Thanks for your assistance with this. I likely would not have figured out IPV6 was not working for a LONG time.

I do wonder if it has to do with the order that the system configuration happens in. E.g. if IPV6 is configured after docker packages are installed, I'm wondering if it needs to be re-packaged/installed to pick that up. I need to do more digging to see if

[2021-04-28 05:22] zhuang010203 commented on #284
https://images.weserv.nl/?url=https://share.dmca.gripe/1PpGy1H1dd6kUU5c.png&default=www.z6z.xyz/index/public/images/downloaderrer.jpg

[2021-04-28 05:23] zhuang010203 commented on #284
![image](https://user-images.githubusercontent.com/59275452/116350674-eb020800-a824-11eb-8a4a-9e24fa1dae9e.png)

[2021-04-28 05:24] zhuang010203 commented on #284
Should IP be blocked? The computer can access the URL normally, but the server cannot import img

[2021-04-28 05:25] zhuang010203 commented on #284
Should IP be blocked? The local computer can access the URL normally, and the server cannot import img

[2021-04-28 05:28] zhuang010203 commented on #284
I used requests to simulate requests, all imgurls, pre caching

[2021-04-28 05:39] zhuang010203 commented on #284
Is IP blocked because of too many requests

[2021-04-28 06:08] andrieslouw commented on #284
Our scripts did block a large number of .xyz domains due to too many requests, DMCA claims and pornography. It is hard for us to keep up with all these reports, so that's the reason they are blocked. Especially pornography is not allowed on the public API to prevent our service from getting blocked by others. Please use the source-code to host your own version in this case.

In addition, there are

[2021-04-28 06:12] zhuang010203 commented on #284
Pictures can only be considered sexy... How to judge pornography... I'll build one, thank you

[2021-04-28 06:13] zhuang010203 commented on #284
Pictures can only be considered sexy... How to judge pornographic, quite outrageous... I build an API, thank you

[2021-04-28 06:17] andrieslouw commented on #285
Normally all urls are parsed by https://community.opendns.com/domaintagging/

To prevent our public service from being blocked or attacked by DMCA's, we block these categories:
- Adware
- Anime/Manga/Webcomic
- Gambling
- Hate/discrimination
- Nudity
- Pornography
- Proxy's (to mitigate the risk of redirect-loops)
- Sexuality
- Tasteless

Due to recent abuse and DMCA complaints, we added a list of

[2021-04-28 06:24] andrieslouw commented on #285
Just checked: ccp.ovh was blocked by script, due to related DMCA issues. I removed the block for now, and will monitor again.

[2021-04-28 06:27] andrieslouw commented on #284
Please do so, or else our service will be blocked in corporate firewalls etc. Let us know if you run into problems hosting the source code, many others are hosting themselves.

[2021-04-28 08:18] espressoelf commented on #285
Sorry for hijacking this, but answering here seems to be more appropriate than creating a new issue. Is **live.flickr.com** on your blocklist, too? OpenDNS didn't change their assigned tags as far as I can see, but I get the same error as mentioned in the initial post.

[2021-04-28 15:40] andrieslouw commented on #285
`flickr.com` is not on our list (and also no subdomains), but `live.flickr.com` gives `NXDOMAIN`. I asked the nameservers of `flickr.com`, but they cannot find `live.flickr.com`. Are you sure that `live.flickr.com` exists?

[2021-04-28 16:03] espressoelf commented on #285
I'm sorry, looks like I typo'd, should've copy&pasted it. **live.staticflickr.com** is the one I'm talking about. It inherits the CDN tag from Cloudfront on OpenDNS.

[2021-04-28 16:07] andrieslouw commented on #285
Thank you, removed it from our list, it triggered our abuse detection scripts. Should work again soon(ish)!

[2021-04-28 17:57] gabriel254 opened #286 "The hostname of the origin is unresolvable (DNS) or blocked by policy"
https://images.weserv.nl/?url=https://wx1.sinaimg.cn/large/0074wS7Fly1gpz4o4pg2qj30zg0se7wh.jpg&output=webp&w=1080
https://images.weserv.nl/?url=https://wx2.sinaimg.cn/large/0074wS7Fly1gpz4o4pg2qj30zg0se7wh.jpg&output=webp&w=1080
https://images.weserv.nl/?url=https://wx3.sinaimg.cn/large/0074wS7Fly1gpz4o4pg2qj30zg0se7wh.jpg&output=webp&w=1080
https://images.weserv.nl/?url=https://wx4.sinaimg.cn/la

[2021-04-28 19:48] #285 closed, assigned to andrieslouw

[2021-04-29 05:21] andrieslouw commented on #286
Thanks for the report, added it to a whitelist. Sorry for the trouble caused. Should work again!

[2021-04-29 07:04] happy-tao commented on #286
[https://images.weserv.nl/?url=https://img9.doubanio.com/view/photo/l_ratio_poster/public/p2626959989.jpg](https://images.weserv.nl/?url=https://img9.doubanio.com/view/photo/l_ratio_poster/public/p2626959989.jpg)

douban, The China's largest movie & tv paltform like imdb. It's block too.

[2021-04-29 08:10] baoziii commented on #286
https://images.weserv.nl/?url=https://s1.hdslb.com/bfs/seed/jinkela/footer-v2/images/partner.png
Bilibili, The popular video platform in China also be blocked.

[2021-04-29 08:22] gabriel254 commented on #286
Thanks, the `sinaimg.cn` is working now. But some popular services like Douban and Bilibili are also blocked. It works fine a few days ago. Maybe there are some bugs in your blacklist system?

[2021-04-29 14:14] darkboy245 opened #287 "The hostname of the origin is unresolvable (DNS) or blocked by policy"
https://images.weserv.nl/?url=//www.forums.gamers-israel.co.il/core/images/default/default_avatar_large.png

First time trying to use weserv on my site, would appreciate the help!

[2021-04-29 16:21] andrieslouw commented on #287
There are two problems, first you should remove the `//` in the `?url=`:
https://images.weserv.nl/?url=www.forums.gamers-israel.co.il/core/images/default/default_avatar_large.png

But then we get a 403 error from `www.forum.gamers-israel.co.il`. It looks like they also use CloudFlare, which is blocking our server. This should be solved by the owner of `www.forum.gamers-israel.co.il` by allowing ou

[2021-04-29 16:26] andrieslouw commented on #286
Both are whitelisted, thanks for the report. We've had quite some abuse of our service, and our measures where a bit unconventional. We eventually resorted to using scripts to block a high amount of seemingly randomly generated domains that where misabusing the public service, and thus where evading the OpenDNS blocklists. But using these scripts also caught some legitimate traffic.

[2021-04-29 17:03] #286 closed, assigned to andrieslouw

[2021-05-01 12:14] fivefilters commented on #287
I've noticed a bunch of *.wp.com subdomains which host images for WordPress sites (e.g. i0.wp.com, i1.wp.com, i2.wp.com) are also blocked by images.weserve.nl - used to work a couple of weeks ago. I don't know if that's a block on your end or if it's wp.com refusing access. Happy to provide full URLs if you need them.

[2021-05-01 15:12] TCboxa opened #288 "imgbb.com & postimages.org not working"
https://postimages.org/
https://imgbb.com/
Both stopped working yesterday and 404, other image hosts are working. I think they may have been blocked again.

An example image hosted on https://imgbb.com/ that won't display is here https://i.ibb.co/7C88jYr/vlcsnap-2021-05-01-14h25m58s386.png

[2021-05-02 17:38] andrieslouw commented on #288
Sorry, both are flagged for pornography by OpenDNS. We block this category on our public service. You can use our source code to host your own version without blocking.

See:
https://domain.opendns.com/postimg.org
https://domain.opendns.com/ibb.co

[2021-05-02 17:48] andrieslouw commented on #287
@fivefilters : We've had problems with users bypassing our blocklist(s) by abusing the [WordPress Photon](https://developer.wordpress.com/docs/photon/) service. This is also against the TOS of WordPress, so we blocked `i0/i1/i2.wp.com` to prevent this. You can use Photon or you can use `images.weserv.nl`. There is no reason to use both, but if you want to use both, you can use the source code prov

[2021-05-02 17:50] #284 closed, assigned to andrieslouw

[2021-05-02 17:51] andrieslouw commented on #281
Everything is stable since we took the measures to prevent abuse. Thank you for reporting!

[2021-05-02 17:51] #281 closed, assigned to andrieslouw

[2021-05-02 18:07] fivefilters commented on #287
@andrieslouw Thanks for the reply. I didn't realise they belonged to a similar service to yours - I assumed they hosted images for the WordPress.com service. I checked the URLs that weren't loading and they are self-hosted WordPress blogs, so they're probably using the Jetpack service. I'll look into special handling of those URLs then, or hosting your code ourselves.

[2021-05-05 14:27] Maxou44 opened #289 "Verbose mode"
Hello :)

Thanks for your amazing project, it's awesome :)

We tried to selfhost the project in a Kubernetes cluster, it works but we randomly have the error:
`{
status: "error",
code: 404,
message: "The hostname of the origin is unresolvable (DNS) or blocked by policy."
}`

If we refresh the link url in a new target, after one or two refreshs it works

The docker don't log anything, I don't know

[2021-05-05 14:49] kleisauke commented on #289
Sounds like the IPv6 interface is not properly configured, see #206 for more information. If using Docker, you can try to switch to host networking by passing `--network host` to the command line.

If that doesn't work, you could enable debugging in the nginx module by commenting this out.
https://github.com/weserv/images/blob/dffb6b496bb8c62e306ff5b5698d651265f711af/third_party/nginx/CMakeLists.t

[2021-05-05 17:34] Maxou44 commented on #289
Thanks for the answer, it solved my issue 🥰

[2021-05-05 17:34] #289 closed, assigned to kleisauke

[2021-05-05 17:36] Maxou44 commented on #238
It works well, I didn't found a bug on hundreds of images 😍
Really awesome 😎

[2021-05-06 15:11] danrin opened #290 "Image fetching from WordPress Photon (i*.wp.com) blocked"
Hi,
I noticed a 404 on url's from wp's hosted service, but when the image is requested directly from the customer domain it does work. Can you check what goes wrong, other than maybe policy on their end? other services seem to be able to fetch the images fine on from that domain, so i was thinking maybe the url itself poses a problem here.
url that doesnt work: https://images.weserv.nl/?url=ssl:i0

[2021-05-07 08:27] xSlOom commented on #288
I was about to ask for postimage but found this!

Thank you for the clarification.

[2021-05-07 16:25] andrieslouw commented on #290
Explanation in #287:

_Originally posted by @andrieslouw in https://github.com/weserv/images/issues/287#issuecomment-830845525_

[2021-05-11 03:26] zhuang010203 opened #291 "Access speed using the service is slower than the original image"
![微信截图_20210511111920](https://user-images.githubusercontent.com/59275452/117753784-a5ddcd00-b24b-11eb-9c50-d95400e70665.png)
![微信图片_20210511112007](https://user-images.githubusercontent.com/59275452/117753786-a7a79080-b24b-11eb-8883-dd0f94351a31.png)
Why use the URL of this site, access speed, not the original URL access speed?

[2021-05-11 03:29] zhuang010203 commented on #291
https://share.dmca.gripe/zroi5Q3fpRm2z5Sr.png

[2021-05-11 18:17] andrieslouw commented on #291
The first request will always be slower, especially when not resizing the image (the service is build for fast resizing). The next requests should be faster, but our cache will clear out images if they are not requested often.

For images.weserv.nl we process ~6 million requests per hour, and we have more than 1 million images in cache at any given moment. Our cache hit rate is around 90%, so ther

[2021-05-19 04:50] swordfox commented on #62
It would be good if it could server webp automatically if the request contains the header `accept: image/webp`

KeyCDN does it well:
https://www.keycdn.com/blog/webp-caching

Cheers

[2021-05-30 22:57] niutech opened #292 "Allow arbitrary max-age parameter"
Please allow arbitrary `max-age` parameter for `Cache-Control` header, such as `1d` or `7d` instead of only `31d`, `62d`, `93d` and `186d`. What's the technical problem with making it `n` days? Just remove this [`switch`](https://github.com/weserv/images/blob/5.x/src/nginx/util.cpp#L93) statement. For me, 31 days is too long.

[2021-06-01 15:50] oliverpool commented on #204
I guess this issue can now be closed ?

(image is available on registry and [README](https://github.com/weserv/images/blob/5.x/docker/README.md) has been updated)

[2021-06-07 22:37] sudofox commented on #223
I tried setting the user agent this way but it does not seem to actually change the user agent. Tried restarting nginx, restarting the entire docker thing, etc, no dice. Any tips?

Edit: Editing the ngx_conf does not work. Directly editing /etc/nginx/imagesweserv.conf does work. I don't see any script or anything to 'deploy' the stuff from ngx_conf into /etc/nginx/ or any mentions of it in docs fr

[2021-06-08 19:36] sudofox opened #293 "Disable/reduce gif quantization?"
Input image: https://www.hatena.ne.jp/images/what/what-riyo-img.gif

![image](https://user-images.githubusercontent.com/3847441/121246153-d88cdc80-c86e-11eb-98f8-8953bbdbd7e9.png)

255 colors in image

Output image: https://images.weserv.nl/?url=https://www.hatena.ne.jp/images/what/what-riyo-img.gif

![image](https://user-images.githubusercontent.com/3847441/121246239-f4907e00-c86e-11eb-9cd0-1f774

[2021-06-08 21:19] kleisauke commented on #293
It looks like ImageMagick applies by default a Riemersma dither during GIF encoding.
https://github.com/ImageMagick/ImageMagick6/blob/94026fbfb045d27576799d84ee63320ba7cbc7aa/magick/quantize.c#L2260-L2261

Dithers introduces by definition distributed distortion, but you're right, there's currently no way to change it (e.g. using Floyd-Steinberg dithering) or to turn if off (which could be useful f

[2021-06-08 21:25] kleisauke commented on #204
Yes, it can be closed. Thank you all!

[2021-06-08 21:25] #204 closed, assigned to kleisauke

[2021-06-08 21:26] #279 closed, assigned to kleisauke

[2021-06-08 21:26] #275 closed, assigned to kleisauke

[2021-06-09 08:17] sergeevabc commented on #282
Another approach to get PNG palette is [vips][1].exe pngsave in.png out.png --palette --strip
The output is not that optimized as Pingo’s one, but it costs much less in terms of resources.

[1]: https://github.com/libvips/build-win64-mxe/releases

[2021-06-09 09:03] kleisauke commented on #282
The `palette` flag requires libvips to be compiled against libimagequant, which is done in https://github.com/libvips/build-win64-mxe by using the fork mentioned above since v8.10.6.

As for this particular image, you could try to turn off filtering.
[code]
See https://stackoverflow.com/a/66194787 for some background info.

[2021-06-09 09:06] sergeevabc commented on #282
I see how to do it locally, but the issue is about processing it online via Weserv. :)

[2021-06-09 11:09] kleisauke commented on #223
Indeed, using the pre-built hosted image on [GitHub Container Registry](https://github.com/orgs/weserv/packages/container/package/images) (assuming that you're using Docker) requires changing `/etc/nginx/imagesweserv.conf` instead since the nginx configuration was 'deployed' during the image build.
https://github.com/weserv/images/blob/0d0c56dda1e827ab2924321668345de7e4e05210/docker/Dockerfile#L55

[2021-06-09 11:58] kleisauke commented on #278
libvips version 8.11.0-rc1 is now available for testing at [Remi's RPM repository](https://rpms.remirepo.net/) (see https://github.com/remicollet/remirepo/issues/171). To test this, this change in the Dockerfile is needed:
[code]

fwiw, this new version of libvips has been deployed on April 26th at [images.weserv.nl](https://images.weserv.nl/).

[2021-06-10 10:33] kleisauke commented on #278
libvips v8.11.0 has been landed on [Remi's RPM repository](https://rpms.remirepo.net/) with commit [`0654a74`](https://git.remirepo.net/cgit/rpms/lib/vips.git/commit/?id=0654a74c50ca863b464accacc9b0fdafacabf9e5). I've updated the RPM packages names with https://github.com/weserv/images/commit/40cc52cecad6664bbb37dccfad34e2265fb2d492, so a recompilation of the Docker image should automatically pick

[2021-06-12 01:20] sudofox commented on #282
This would be _amazing_. Quantization (when done correctly) can save an incredible amount of bandwidth.

[2021-06-20 11:25] hakimihamdan88 opened #294 "self certificate"
I just installed on ubuntu docker, and any idea how to install self certificate on docker?

[2021-06-30 07:18] andreapernici opened #295 "MIME Type always document"
I noticed that the image delivery always return a Mime Type of Document for any kind of image.

Is it fixable?

[2021-06-30 12:25] aletuba opened #296 "Error 404"
I have been using the service for a long time, however since yesterday I keep getting a 404 error: {"status":"error","code":404,"message":"The requested URL timed out."}

Here's one of the failed links: https://images.weserv.nl/?url=https://www.apartamentosnoklabin.com.br/fotos_imoveis/2017/2018.12.04-16.36.56-6.jpg

Any tips or troubleshooting ideas would be greatly appreciated!

[2021-07-04 16:34] laurencebedford opened #297 "Error 404"
https://images.weserv.nl/?url=https://www.innvictus.com/medias/IN-FY7393-1.png?context=bWFzdGVyfGltYWdlc3wxODIwfGltYWdlL3BuZ3xpbWFnZXMvaDZmL2gwMC8xMDIwMzg0OTM5MjE1OC5wbmd8M2RiZDY5YTY0ZmI1MmY5ZmE1M2U4OTFlYmJjZDEzYzJiMzExNWE3MTlmMmZkNzdiOWY2ZGE3ZjM2M2VmZmJiMw

I get an error 404 when using that URL

[2021-07-04 19:54] andrieslouw commented on #297
You should urlencode the url, or at least `?` to `%3F`: https://images.weserv.nl/?url=https://www.innvictus.com/medias/IN-FY7393-1.png%3Fcontext=bWFzdGVyfGltYWdlc3wxODIwfGltYWdlL3BuZ3xpbWFnZXMvaDZmL2gwMC8xMDIwMzg0OTM5MjE1OC5wbmd8M2RiZDY5YTY0ZmI1MmY5ZmE1M2U4OTFlYmJjZDEzYzJiMzExNWE3MTlmMmZkNzdiOWY2ZGE3ZjM2M2VmZmJiMw

Even better: https://images.weserv.nl/?url=https%3A%2F%2Fwww.innvictus.com%2Fmedias

[2021-07-04 19:56] andrieslouw commented on #296
It seems the server behind `apartmentos___.com.br` had some temporary problems. Looks fine now.

[2021-07-04 19:56] #296 closed, assigned to andrieslouw

[2021-07-04 19:59] andrieslouw commented on #295
We always sent the correct `Content-Type`, do you have any example?

This is an example from the documentation: https://redbot.org/?uri=https%3A%2F%2Fimages.weserv.nl%2F%3Furl%3Dimages.weserv.nl%2Flichtenstein.jpg

[2021-07-04 20:02] andrieslouw commented on #294
Please see https://certbot.eff.org/docs/install.html and look on that page for `Docker`, it should explain how to do this using free (self) certificates from LetsEncrypt.

[2021-07-04 20:05] andrieslouw commented on #292
You could remove the switch statement from the source to use it on your own server(s). It is some older implementation with two reasons: 1. CloudFlare only had specific options which worked with the max-age, but this is solved now. 2. We don't want to have shorter max-ages than 1 day, as it would be unfeasible to host the free service without any caching.

@kleisauke : Can we make it any number of

[2021-07-04 20:08] andrieslouw commented on #277
Will need to take a look at this, as it has some security implications.

[2021-07-04 20:09] andrieslouw commented on #252
This needs some code, and a lot of edge-case testing. If someone is able to work this into a pull-request, let me know!

[2021-07-04 20:12] andrieslouw commented on #249
Maybe someone can write this together with #252? So it is possible to use an user-supplied mask/overlay? I don't think we have the resources (time+testing) now to do this.

[2021-07-12 14:51] fabian-emilius opened #298 "Webp / GIF animation flickering"
When resizing an animated image, it often starts flickering even though it does not change position in the original image.
Example:

Source: https://cloudflare-ipfs.com/ipfs/Qmbiub1pBEjxTKWfw82FZ87L9p9gDsEi8K2MWdMJxQz2ZK/Kog/foil/common/1-7-3-24-1-0_front.webp
Resized: https://images.weserv.nl/?h=370&w=370&fit=inside&we&q=75&output=webp&n=-1&url=https://cloudflare-ipfs.com/ipfs/Qmbiub1pBEjxTKWfw82

[2021-07-12 18:45] kleisauke commented on #298
I was able to reproduce this using the vips CLI utility.
[code]

It appears, for this particular image, that almost all sub-frames are positioned as `(left = 200, top = 200, width = 800, height = 800)`, but some sub-frames are positioned differently from the rest.
<details>
  <summary>Details</summary>

[code]
</details>

This issue only seems to occur when libvips opens the image with the "scale-

[2021-07-12 18:57] fabian-emilius commented on #298
Original: https://cloudflare-ipfs.com/ipfs/QmXe65mTMhPiBPJ1tzeYXF6btHQy2QwwxNTkjgnAHsRLmu
Resized: https://images.weserv.nl/?h=370&w=370&fit=inside&we&q=75&output=webp&n=-1&url=https://cloudflare-ipfs.com/ipfs/QmXe65mTMhPiBPJ1tzeYXF6btHQy2QwwxNTkjgnAHsRLmu

[2021-07-12 18:58] fabian-emilius commented on #298
Ah sorry thats also webp, so probably only happens for webp images

[2021-07-13 15:07] jcupitt commented on #298
@kleisauke I tried:

[code]

To make:

![x](https://user-images.githubusercontent.com/580843/125476510-1c4b2614-87c7-4712-818a-03591f973fad.gif)

I see a slight up/down jiggle on the bottom edge, is that the error?

[2021-07-13 15:37] kleisauke commented on #298
Yes exactly, for comparison, I disabled the "scale-on-load" feature for WebP images and ran:
[code]

To make:
![x](https://user-images.githubusercontent.com/12746591/125481388-58a73c66-bf66-401f-b015-0ff3ccd0fc7f.gif)

[2021-07-13 15:48] jcupitt commented on #298
Ah I see! Yes, I bet we need to round the webp shrink factor to be 1 / multiple-of-page-height. I'll have a go.

[2021-07-24 22:34] GitBoudewijn opened #299 "How should I request images over https?"
Is it correct that _https://images.weserv.nl/?url=images.weserv.nl/lichtenstein.jpg_ is the same as _https://images.weserv.nl/?url=http://images.weserv.nl/lichtenstein.jpg_?

When I want to request an image via https should I use _https://images.weserv.nl/?url=https://images.weserv.nl/lichtenstein.jpg_ or _https://images.weserv.nl/?url=ssl:images.weserv.nl/lichtenstein.jpg_?

Also are they cached

[2021-07-24 23:08] GitBoudewijn commented on #291
What if you also cache the original images on a slower drive (maybe after it is downloaded for the second time)? Then when the processed image isn't in the cache anymore it can just process the image again from there. Also that way when you use different parameters on the same image it won't have to download it again every time. (I'm always cautious when requesting the same image multiple times be

[2021-07-27 15:03] uwekoenig opened #300 "404 issue with local hosted service and docker-compose file"
We host all our services for development and test purposes on our internal servers with Docker Compose.

I have the issue that we get after approx. 30 seconds the JSON result `error ... 404 ... The hostname of the origin is unresolvable (DNS) or blocked by policy.` if we try to load an image with
http://weservimages.our-local-domain.com:8082/?url=images.weserv.nl/lichtenstein.jpg&w=300&tint=red
I

[2021-07-28 08:38] Jay8023 commented on #286
https://images.weserv.nl/?url=https://thumb807.jfcdns.com/thumb/n131032418v38/7ef60fff21348a1f_160_160.png
This address cannot be requested successfully！

[2021-07-28 08:51] kleisauke commented on #300
Sounds like the IPv6 interface is not properly configured, see #206 for more information. If using Docker, you can try to switch to host networking by passing `--network host` to the command line (or you can use `network_mode: "host"`, when using Docker compose).

`shm-size` is not an environment variable, I think the correct usage in Docker compose would be:
[code]

[2021-07-28 09:22] kleisauke commented on #299
That's correct. Both given URLs will send an HTTP-request to `http://images.weserv.nl/lichtenstein.jpg`, see:
https://github.com/weserv/images/blob/a6d646643ab24aaad4a0a42bb83383d850d5b3e6/src/nginx/uri_parser.cpp#L456-L458

Although there's no difference, I can recommend just using the `https://…` variant. The `ssl:…` variant is kept for backwards compatibility as BBCode parsers could fail on the

[2021-07-28 09:46] kleisauke commented on #158
Note that HSTS Preloading should already be supported, since we automatically follow redirects. It's mandatory to create an explicit redirect from HTTP to HTTPS when you submit your website to the [HSTS Preload List](https://hstspreload.org/).

I'll close this issue, given that there's no further work to be done here. Upstream servers should be responsible for redirects, a fallback mechanism other

[2021-07-28 09:46] #158 closed, assigned to andrieslouw

[2021-07-28 09:50] kleisauke commented on #266
Closing due to inactivity. Please feel free to re-open if there's still a problem.

[2021-07-28 09:50] #266 closed, assigned to kleisauke

[2021-07-28 18:50] uwekoenig commented on #300
@kleisauke Thank you for your feedback.

I changed the docker-compose.yml to the following now:
[code]
Unfortunately the result is exactly the same like before. The server itself does not have a IPv6 configuration.

I tried also with a Traefik reverse proxy. Same result again. After 30 seconds I get the 404 again.
[code]

The container seems to get no IPv6 configuration. When I access the containe

[2021-07-29 16:37] RobinGiel opened #301 "Docker Compose Yaml"
here is my current docker compose yml
[code]

All of my other containers were very easy to add a reverse proxy to access a container with nginx proxy manager, expect this one. Is there something I'm doing wrong or missing? The container is running fine on http but when I want to access it using https with a reverse proxy I can't

[2021-07-30 07:21] RobinGiel commented on #300
It looks like this issue is also the same as mine, I'm also trying to use a reverse proxy in order to use https instead of http. but no luck. here is my issue #301

[2021-08-01 11:14] kleisauke commented on #301
By default, the container will only bind to port 80 on both IPv4 and IPv6. You'll need to make the following adjustment in the nginx configuration if you want to configure HTTPS:
[code]
(also see https://nginx.org/en/docs/http/configuring_https_servers.html)

After that, reload the configuration with:
[code]

[2021-08-01 11:21] kleisauke commented on #300
See https://github.com/weserv/images/issues/206#issuecomment-567015037 if looking up IPv6 addresses is not desired. Note that the pre-built Docker image requires changing `/etc/nginx/imagesweserv.conf` instead (since the nginx configuration was 'deployed' during the image build).

@RobinGiel This issue is about connecting to upstream servers, so I don't think it's similar to your issue.

[2021-08-01 12:27] kleisauke commented on #292
This has been fixed with commit e7ea2710b424ed96423277d2a1df7ca94505a88d, which has just been rolled out to production. Thanks for reporting this!

[2021-08-01 16:39] uwekoenig commented on #300
@kleisauke Thank you for your feedback which helped me a lot to solve the issues!

Especially the logs in /var/log/nginx/weserv-local-error.log (comments in #206) were informative.
It was a combination of a few problems. Here my config files.

docker-compose.yml
[code]

data/imagesweserv.conf (Modifications are marked with \#Modification Start and \#Modification End):
[code]

[2021-08-01 23:57] niutech commented on #292
Thank you!

[2021-08-01 23:57] #292 closed, assigned to kleisauke

[2021-08-04 17:28] aletuba opened #302 "404 - The requested URL timed out"
Probably my server is blocking the weserv IP. Can you tell me the IP to check?

[2021-08-05 09:39] kleisauke commented on #302
A complete list of the IPs we use for outbound traffic can be found here: https://images.weserv.nl/ips.txt

[2021-08-06 13:14] RobinGiel commented on #301
I actually had more an issue with my networks in the docker compose file, they were not pointed at the right network for me. Thanks for the reply :-)

[2021-08-06 13:14] #301 closed, assigned to kleisauke

[2021-09-01 08:37] adamjudd opened #303 "OpenDNS tag filtering on rejected tags?"
Hi all,

I just wanted to clarify on how the OpenDNS tag filtering works with weserv. I understand it's doing some automatic blocking of requests with specific tags (like pornography) to minimise potential for weserv being blocked itself by other systems. Does your blocking take into account the status of the tag? For example, if the tag has a `Rejected` status, is that then ignored for the purpos

[2021-09-02 11:23] andrieslouw commented on #303
Please see https://github.com/weserv/images/issues/285#issuecomment-828176654

As far as I know, tags with status "Unapproved" or "Rejected" are not blocked.

[2021-09-05 10:04] kokog4mi opened #304 "Status Code 404 With Message 'The requested URL returned error: 503'"
HI!
What can be the problem why I'm getting 404 status code trying to use this image link:
https://images.weserv.nl/?url=https://img.pccomponentes.com/articles/24/249924/serike-tk0l.jpg
Original image : https://img.pccomponentes.com/articles/24/249924/serike-tk0l.jpg
I also tried 'http' instead 'https'
Thanks.

[2021-09-08 10:28] kleisauke commented on #297
All the above URLs seem to work now, I'll close this issue.

[2021-09-08 10:28] #297 closed, assigned to andrieslouw

[2021-09-08 10:32] kleisauke commented on #304
This origin website has blocked non-browsers as a form of DDoS protection. Here's a part of the response:
[code]
This can also be verified using REDbot:
https://redbot.org/?uri=https://img.pccomponentes.com/articles/24/249924/serike-tk0l.jpg

There's not much we can do about this unfortunately. Embedding this image within a website will not work either unless a user has visited this website before

[2021-09-08 10:50] kleisauke commented on #293
We're now A/B testing libvips 8.12 in production, which includes a new `gifsave` operation that doesn't use ImageMagick for saving GIF images. This particular quantization bug seems to be fixed now, but please report if you see anything strange.

There's some discussion to add indexed read/write support to libvips. This would avoid unpacking to RGB(A) and re-quantization for GIF images that are pr

[2021-09-08 10:55] kleisauke commented on #300
Great, I'll close. Note that in the above example, you probably don't want `weservimages.our-local-domain.com` to be reachable from the outside, as that would bypass the proxy cache.

[2021-09-08 10:55] #300 closed, assigned to kleisauke

[2021-09-08 11:01] #278 closed, assigned to kleisauke

[2021-09-09 11:37] gMan1990 opened #305 "Original image without processing?"
how about if `q=100`, just return the origin image(include animated image)

[2021-09-09 14:51] andrieslouw commented on #305
Please read https://github.com/weserv/images/issues/291#issuecomment-838943709 on how we process images, and why we never pass the original file without altering it.

[2021-09-09 14:57] #305 closed, assigned to andrieslouw

[2021-09-09 18:47] ivanovskiilija opened #306 "Error 404 "The hostname of the origin is unresolvable (DNS) or blocked by policy.""
When attempting to open:

https://images.weserv.nl/?url=https://kajgana.com/sites/default/files/styles/facebook/public/2021-09/the-matrix-resurrections-trailer-reaction-cinemacon.jpg?h=7741cde7&itok=qP3LcFZx
https://images.weserv.nl/?url=https://i1.wp.com/gostivarpress.mk/wp-content/uploads/2020/02/infektivno-bolnica-2.jpg?resize=730%2C465&ssl=1&w=140&h=140&t=square&a=attention&bg=white&output=web

[2021-09-09 19:05] andrieslouw commented on #306
Duplicate of https://github.com/weserv/images/issues/290

[2021-09-09 19:06] andrieslouw commented on #306
Please see https://github.com/weserv/images/issues/290

[2021-09-09 19:45] ivanovskiilija commented on #306
Hey,

We have seen the issue about i1.wp.com, but the first link does not use i*.wp.com. Can you give me an answer about that domain?

[2021-09-09 21:16] andrieslouw commented on #306
Please see https://domain.opendns.com/kajgana.com

We block all categories mentioned in https://github.com/weserv/images/issues/285#issuecomment-828176654

[2021-09-13 09:52] triiieubuiii opened #307 "I use faulty by pass. please help me"
I use faulty by pass. please help me
![Capture](https://user-images.githubusercontent.com/88609051/133063317-11859a80-c85f-4750-ae3b-87d5e12a29c7.JPG)

[2021-09-13 10:01] andrieslouw commented on #307
All Truyen* domains are blocked by our proxy, due to heavy abuse and DMCA requests. This is the reason you see 204.

[2021-09-15 09:12] adamjudd commented on #303
@andrieslouw - thank you for confirming!

[2021-10-02 19:03] GitBoudewijn opened #308 "Shorter URLs?"
Sometimes the URL can get really long, especially when you use `&default=images.weserv.nl/...`.

So maybe you could have _weserv.nl_ and/or _i.weserv.nl_ as an alias for _images.weserv.nl_?

[2021-10-02 19:08] GitBoudewijn opened #309 "Add link rel="canonical" response header?"
I came across the following article about WordPress Photon:

https://michaelkummer.com/tech/jetpack-photon-seo/

Apparently they use a link response header with `rel="canonical"` so that search engines will index the original image rather than the proxied image.

Might be a good idea for you to have this as well?

[2021-10-06 19:51] mehulmpt opened #310 "graph.facebook.com blacklisted"
URLs on `graph.facebook.com` return `The hostname of the origin is unresolvable (DNS) or blocked by policy.` I'm not sure if URLs on facebook should be blocked by policy?

### Reproduction

Sample image - https://graph.facebook.com/2909952882667363/picture?type=large
Broken URL - https://images.weserv.nl/?url=https%3A%2F%2Fgraph.facebook.com%2F2909952882667363%2Fpicture%3Ftype%3Dlarge&w=96&q=75

[2021-10-08 13:36] GitBoudewijn opened #311 "Add Timing-Allow-Origin header"
It would be nice if images had a `Timing-Allow-Origin: *` response header.

See here for an explanation:

https://developer.akamai.com/blog/2018/06/13/how-add-timing-allow-origin-headers-improve-site-performance-measurement

[2021-10-08 13:40] andreapernici opened #312 "Preresize or Padding feature"
Hi all.

Is there a way to pre-resize the image or to insert a padding?

For example if I have an image 512x512 and I want to keep it 512x512, but with the content of the image 340x340.
It can be useful to create the maskable image for manifest.

Is there a way to achieve that?

[2021-10-08 14:06] GitBoudewijn opened #313 "Add `Cache-Control: immutable` header"
https://images.weserv.nl/faq/#why-am-i-not-seeing-any-http-304-header-when-i-request-a-cached-image

Here in the FAQ it says that you don't use `Last-Modified` headers in order to prevent 304 requests, however if you take a look at the headers it actually does include `Last-Modified`:

https://redbot.org/?uri=https%3A%2F%2Fimages.weserv.nl%2F%3Furl%3Dimages.weserv.nl%2Flichtenstein.jpg

Is it supp

[2021-10-08 14:26] GitBoudewijn commented on #312
Wouldn't this be the same as having a border (#134) with colour transparent?

[2021-10-08 14:59] andreapernici commented on #312
I think the result could be the same yes.

The point is to being able to reduce the image inside a bigger container.

[2021-10-09 12:50] andrieslouw commented on #313
The `Last-Modified` is inserted by Cloudflare, and I do not see any `If-Modified-Since`-requests at our servers. So it seems that Cloudflare is intercepting these requests.

The `Cache-Control: immutable` looks promising, will monitor that one, but implementation in Chromium will be quite important (as proved by https://caniuse.com/mdn-http_headers_cache-control_immutable ).

[2021-10-09 12:51] andrieslouw commented on #311
Thank you, will check this!

[2021-10-09 12:52] andrieslouw commented on #309
Seems logical, will investigate!

[2021-10-09 12:58] andrieslouw commented on #308
Good suggestion!

@kleisauke: Candidate could be `wsrv.nl` or `i.wsrv.nl`, that domain is not in use for any other project anymore.

[2021-10-09 13:03] andrieslouw commented on #310
Facebook Graph has been blocked due to privacy concerns. I will re-evaluate and elaborate on this, as I see the subdomain is used for more than tracking nowadays.

[2021-10-09 13:17] andrieslouw commented on #312
This is needed for app manifests? Or what would the use case be?

[2021-10-14 08:41] andreapernici commented on #312
App manifest is one use case, but it can be useful also for other purposes.

[2021-10-19 12:39] kleisauke commented on #309
This has been implemented with commit https://github.com/weserv/images/commit/522e8f2d64660524e8a67d68eabef7c669b8c6bb, which has just been rolled out to production. Thanks for reporting this!

[2021-10-19 12:40] kleisauke commented on #311
This has been implemented with commit https://github.com/weserv/images/commit/8ef0fb99021e1aa8bcd7bfcbd2a0b7e41c1bcf4c, which has just been rolled out to production. Thanks for reporting this!

[2021-10-19 22:04] #311 closed, assigned to andrieslouw, kleisauke

[2021-10-19 22:15] GitBoudewijn commented on #309
Nice.

Just a question about the implementation:
It seems you're using the final (redirected) url rather than just echoing the initial supplied url (this is what Photon does). Not sure what the upsides/downsides to this are. Maybe there could be cases where the redirection changes?

[2021-10-19 22:28] GitBoudewijn commented on #308
That would be even better!

I was going to suggest doing like Photon and having _i0.wsrv.nl_, _i1.wsrv.nl_ and _i2.wsrv.nl_ or just allowing any subdomain but apparently with HTTP2 that doesn't have any benefit anymore. Maybe you could just have subdomains redirect to _wsrv.nl_ or _i.wsrv.nl_ (like Imgur does).

[2021-10-20 10:19] kleisauke commented on #309
The purpose of a canonical is to explicitly and unambiguously indicate a preferred URL, so I think it's better to include the final URL rather than the initial URL in the `rel="canonical"` response header.

When an upstream server changes the redirection to another image, search engines may index the wrong URL if we set the initial URL as canonical (due to caching). While the current approach woul

[2021-10-21 07:50] #299 closed, assigned to kleisauke

[2021-10-21 08:04] GitBoudewijn commented on #309
Ok that makes sense. I just looked at how Photon does it but this is probably better. This way any url that redirects to https also gets the https url as canonical.

It seems the only information about Google is from 5 years ago so who knows. Thanks!

[2021-10-21 08:20] GitBoudewijn commented on #313
I guess the `Vary: Accept-Encoding` header is added by Cloudflare as well? Since I don't think you use any encoding.

Chrome will just ignore the immutable directive so you could add it, but it probably won't have much benefit either. Otherwise you can just close this issue and I'll reopen it if the situation changes.

[2021-10-24 14:59] ghost opened #314 "Allow list images from specified domains"
If self hosting, is there a way to allow only images from a list of domains I specify?

eg. if the &url value is not on the allow list, then a 404 is returned.

[2021-10-24 18:08] andrieslouw commented on #314
The easiest way is to specify your own `resolver` in the NGINX config:
https://github.com/weserv/images/blob/439f5c854b0a8895751da349e99bc7d5d45666d2/ngx_conf/imagesweserv.conf#L55

and let that resolver only respond to specific domains. It is the way we use to filter ourselves.

We use [Unbound](https://github.com/NLnetLabs/unbound) as a local(host) resolver, which forwards the requests to OpenDN

[2021-10-26 14:13] Ivanezko opened #315 "Random 404"
Hello.
I have a problem with self-hosted server (images.weserv.nl works like a charm)
Here is an example https://t-news-weserv.x.co.ua/?w=200&h=200&fit=cover&aaa=q1234569a&url=https://t-news-api.x.co.ua/api/1.0/static/6/4/646c1d97774f3e26cd99f1c0a6ad98b5
Changing "&aaa=q1234569a" by adding random symbols, I get 50/50 200/404

`{
    status: "error",
    code: 404,
    message: "The hostname of the

[2021-10-26 14:16] kleisauke commented on #315
Sounds like the IPv6 interface is not properly configured, see #206 for more information. If using Docker, you can try to switch to host networking by passing `--network host` to the command line (or you can use `network_mode: "host"`, when using Docker compose).

[2021-10-26 14:43] kleisauke commented on #314
If there's only one domain you want to allow, you can also use `proxy_pass` in combination with the `weserv filter` directive. For example, to process only images from Imgur:
[code]

[code]

[2021-10-26 15:28] Ivanezko commented on #315
cant really use network_mode: "host", because its incompatible with port binding (80 used by nginx on the host) and as I can see, weserv cant get port from environment.
looks like I need to build my own image just for resolver 8.8.8.8 ipv6=off;
Would be great to turn off ipv6 with parameter, without building the whole project
Anyway thanx

[2021-10-26 15:40] kleisauke commented on #315
If you are using the pre-built Docker image, you don't need to rebuild anything if you want to set the `ipv6=off` parameter. Just change `/etc/nginx/imagesweserv.conf` in the running container, or mount a custom nginx configuration at this file location. #300 is also relevant here.

[2021-10-26 18:20] Ivanezko commented on #315
thanx a lot, works good:
`  weserv:
    image: ghcr.io/weserv/images:5.x
    restart: always
    environment:
      shm_size: '1gb'
    volumes:
      - ./weserv/nginx/imagesweserv.conf:/etc/nginx/imagesweserv.conf
    ports:
      - "9110:80"`
and in imagesweserv.conf :
`resolver 8.8.8.8 ipv6=off;`

[2021-10-30 10:56] giautm opened #316 "Question: reduce size of docker image"
Current size of docker image is quite large. Can we reduce size to ~ 300MB for faster pull/push when deploy?

[code]

[2021-10-30 12:36] kleisauke commented on #316
This is a known issue. I'm not sure if ~300MB is is possible, since the base CentOS 8 image is already ~239MB, see for example:
[code]

Of course, any further reduction in size would be great. I've considered changing the base image to another distro, but haven't yet found a better alternative. For example, libvips in Debian 10 is still on version 8.7.4 due to their policy of never updating packag

[2021-10-30 12:56] kleisauke commented on #315
Great, I'll close. Note that specifying the `ipv6=off` parameter is not always desirable, since there are a numerous hosts that only support IPv6 and/or provide broken IPv4 fallbacks.

[2021-10-30 12:56] #315 closed, assigned to kleisauke

[2021-10-30 13:03] giautm commented on #316
Size of image after remove remove the `-devel` dependencies reduced to 1.07GB (only 50MB). I think there are still a lot of files we can remove (e.g: gcc cache during build phase).
[code]

The issue https://github.com/libvips/libvips/issues/1287 has been resolved by allow to set `VIPS_MIN_STACK_SIZE` to change stack size. Is any help to switch to Alpine?

[2021-10-30 14:06] giautm commented on #316
I able to build docker image to reduce size to 451MB. Can you double-check any issue with it?
[code]

[code]

[2021-10-30 16:04] kleisauke commented on #316
I'm not sure if `VIPS_MIN_STACK_SIZE` helps in all scenarios, for example a thread spawned by an external dependency would not honor this env variable. Another thing to consider is that Alpine packages are built with `-Os` by default (optimized for binary size) whereas CentOS/RHEL/Fedora uses, `-O2` (optimized for performance). libvips from Remi's RPM repository [also enables auto-vectorization](h

[2021-10-30 16:17] giautm commented on #316
Can we compile `libvips` from source code for alpine?

https://github.com/felixbuenemann/vips-alpine/blob/master/Dockerfile#L5-L30

[2021-10-31 13:07] kleisauke commented on #298
Upstream issue https://github.com/libvips/libvips/issues/2379 is now fixed and I just updated the production server to incorporate this fix (commit https://github.com/weserv/rpms/commit/fb874e6e0e17d7e2b5a1c1882a93632b5787e7af). This animated WebP image is now resized without juddering.

If you want to test this, you can use the RPMS repo from https://rpms.weserv.nl. This change in the Dockerfile

[2021-10-31 13:11] kleisauke commented on #316
With commit https://github.com/weserv/images/commit/a9488c4112e714970c40e34a0f684688e372b36c and https://github.com/weserv/images/commit/cee18376672cf37a1e5fed3ea05c85f7cfd5f5f5 I now see:

[code]

The `weserv/images:custom` tag is based on the experimental RPMS repo from https://rpms.weserv.nl, see comment https://github.com/weserv/images/issues/298#issuecomment-955697355 on how to use that.

I p

[2021-10-31 13:32] kleisauke commented on #316
FWIW, the released image on the GitHub Container Registry is even smaller :tada:
[code]

[2021-10-31 16:07] giautm commented on #316
The results are amazing. Thank you very much!

[2021-10-31 16:12] giautm commented on #316
Hi @kleisauke, I just build alpine in local and facing an error.

[code]

[2021-10-31 17:15] giautm commented on #316
My bad, new docker requires a volume to mount

[code]

[2021-10-31 17:15] #316 closed, assigned to kleisauke

[2021-10-31 18:07] kleisauke commented on #316
Those host volumes mount points shouldn't be necessary, commit https://github.com/weserv/images/commit/82771fc62b27e8d32eb428edc17f71efd6273725 fixes this.

After further testing, I noticed that AVIF and GIF output doesn't work in the Alpine based Docker image, the former needs further investigation, the latter is due to the missing ImageMagick dependency. The upcoming libvips 8.12 has a `gifsave`

[2021-11-04 13:08] m-prokic-levi9-com opened #318 "nothing in var/www/imagesweserv/public/"
Hi,
We are trying to build and run docker in Kubernetes but we are getting  following error:
var/www/imagesweserv/public/service-worker.js" failed (2: No such file or directory)

There is noting in this folder var/www/imagesweserv/public/

We have followed instructions for building docker image. Do you have any advice?

[2021-11-05 12:29] kleisauke commented on #318
Perhaps the git repo was cloned without submodules (i.e. without the `--recurse-submodules` argument)? For already cloned repositories you can do:
[code]

You can also use the pre-built hosted image on [GitHub Container Registry](https://github.com/weserv/images/pkgs/container/images), which may be easier than manually building the Docker image. For example:
[code]

[2021-11-05 12:37] giautm commented on #318
Can we remove Weserv's website from the public Docker image? In most cases, I don't need that site for public access.

Weserv's website can be provided via another image based on the public Docker image.

[2021-11-05 15:41] kleisauke commented on #318
@giautm I don't intend to remove the [`weserv/docs`](https://github.com/weserv/docs) submodule from the pre-built Docker image, because that would break compatibility for existing users who want our documentation to be served.

If you want a custom page served, I recommend extending it from the pre-built Docker image, for example:
[code]

[2021-11-05 15:50] giautm commented on #318
@kleisauke : Hi, I don't want to break compatibility for anyone. But, I think weserv should have a base image with default Nginx (for production ready) and the module weserv only.

The current image `ghcr.io/weserv/images:5.x` can be re-created based on that.

[2021-11-06 01:01] mehulmpt commented on #238
Thanks for adding support for avif! Any expected timeline by when it could be used on the main `images.weserv` domain?

[2021-11-07 03:26] xSlOom opened #319 "Imgur issue ?"
Hello,

We  are facing (again) an issue with Imgur.

Weserv is giving an error 429. Can you take a look at why it doesn't work ?

Example of picture: https://images.weserv.nl/?h=30&url=https://i.imgur.com/jSy8UOD.jpg

Thank you!

[2021-11-07 11:34] andrieslouw commented on #319
Imgur is rate-limiting requests nowadays, and our public service only runs on a handful of IP-adresses. There is not much we can do about this.

You could host the service yourself.

[2021-11-07 12:45] xSlOom commented on #319
Ok thanks for the information !

[2021-11-07 12:45] #319 closed, assigned to nobody

[2021-11-07 15:47] kleisauke commented on #318
@giautm Ah, I think I misunderstood your question. Are you referring to [dynamic nginx modules](https://www.nginx.com/resources/wiki/extending/converting/)? If so, I'm currently working on that in our [`weserv/rpms`](https://github.com/weserv/rpms) repository, see the [`nginx-mod-weserv`](https://github.com/weserv/rpms/tree/nginx-mod-weserv) branch. This allows users to install nginx and the weser

[2021-11-09 20:56] 3cstudio commented on #14
@andrieslouw where does this topic of clearing image cache stand? I had a client using a WordPress Plugin (Podcast Feed Player Widget and Shortcode) that shows image thumbnails for a podcast preview "cover" image via Weserv, but he was uploading large PNG files (!). Thus, he quickly "outgrew" his allotted space, I'm guessing. :-o  Only the Alt tag text was showing in place of the thumbnails. We ha

[2021-11-20 13:52] Janeco2012 opened #320 "01"
[https://imgur.com/WdGSxHw](url)

[2021-11-20 13:55] kleisauke commented on #320
Duplicate of #319

[2021-11-20 13:55] #320 closed, assigned to nobody

[2021-11-21 14:32] kleisauke commented on #316
AVIF output in the Alpine-based Docker image should work after commit https://github.com/weserv/images/commit/a0c4337b33bd71223c0cac7870daa7b32215a6ca. GIF output should work once Alpine updates libvips to 8.12 and builds against libcgif.

[2021-11-21 14:33] kleisauke commented on #298
libvips v8.12.0 has been landed on [Remi's RPM repository](https://rpms.remirepo.net/) with commit [`faba5a2`](https://git.remirepo.net/cgit/rpms/lib/vips.git/commit/?id=faba5a2f33781e6443a88767b22eec16f4c5e406), so a recompilation of the Docker image (or using the prebuilt [`ghcr.io/weserv/images:5.x`](https://github.com/weserv/images/pkgs/container/images) image) should automatically incorporate

[2021-11-21 14:33] #298 closed, assigned to kleisauke

[2021-11-21 15:36] kleisauke commented on #318
I hope this information helped. Please feel free to re-open with more details if further assistance is required.

[2021-11-21 15:36] #318 closed, assigned to kleisauke

[2021-11-21 15:37] kleisauke commented on #314
I hope this information helped. Please feel free to re-open if questions remain.

[2021-11-21 15:37] #314 closed, assigned to andrieslouw

[2021-11-21 15:39] kleisauke commented on #232
I haven't seen this issue on SourceForge in a while, so it looks like they've fixed their connectivity issues. I'll close.

[2021-11-21 15:39] #232 closed, assigned to kleisauke

[2021-11-21 15:51] kleisauke commented on #197
I'm a bit reluctant to add things I never test or use (like Heroku configuration). We now have a [prebuilt Docker image available on GitHub Container Registry](https://github.com/weserv/images/pkgs/container/images), which should suit the needs of most users. In addition, we are doing tests with dynamic nginx modules (see https://github.com/weserv/images/issues/318#issuecomment-962633835 for more

[2021-11-21 15:51] #197 closed, assigned to kleisauke

[2021-11-21 15:56] kleisauke commented on #262
Setting the `Cache-Control: no-store, must-revalidate` header to 204 responses fixed this issue. This fix went live on December 21, 2020. I'll close.

[2021-11-21 15:56] #262 closed, assigned to andrieslouw

[2021-11-21 15:58] kleisauke commented on #265
I hope this information helped. Please feel free to re-open if questions remain.

[2021-11-21 15:58] #265 closed, assigned to andrieslouw

[2021-11-21 16:02] kleisauke commented on #180
I know a number of people running the Docker image on Google Cloud Platform without any issues, I'll close.

[2021-11-21 16:02] #180 closed, assigned to nobody

[2021-11-21 16:03] #307 closed, assigned to andrieslouw

[2021-11-21 16:06] kleisauke commented on #267
The images on the above mentioned URL works for me. I'll close, please feel free to re-open if questions remain.

[2021-11-21 16:06] #267 closed, assigned to andrieslouw

[2021-11-21 16:09] kleisauke commented on #287
I hope this information helped. Please feel free to re-open if questions remain.

[2021-11-21 16:09] #287 closed, assigned to andrieslouw

[2021-11-21 16:09] kleisauke commented on #288
I hope this information helped. Please feel free to re-open if questions remain.

[2021-11-21 16:09] #288 closed, assigned to andrieslouw

[2021-11-21 16:18] kleisauke commented on #268
To prevent abuse of our service, whitelisting of CloudFlare Worker IPs will not happen. The use of an authentication mechanism to bypass the rate limiter is also beyond the scope of this project.

It is always possible to use our open source code, without filtering and limitations, on your own server.

[2021-11-21 16:18] #268 closed, assigned to kleisauke

[2021-11-21 16:32] #303 closed, assigned to andrieslouw

[2021-11-21 16:33] kleisauke commented on #302
I hope this information helped. Please feel free to re-open if questions remain.

[2021-11-21 16:33] #302 closed, assigned to kleisauke

[2021-11-21 16:33] kleisauke commented on #304
I hope this information helped. Please feel free to re-open if questions remain.

[2021-11-21 16:33] #304 closed, assigned to kleisauke

[2021-11-21 16:34] kleisauke commented on #295
Closing due to inactivity, please feel free to re-open with more details if further assistance is required.

[2021-11-21 16:34] #295 closed, assigned to andrieslouw

[2021-11-21 16:34] kleisauke commented on #294
I hope this information helped. Please feel free to re-open if questions remain.

[2021-11-21 16:34] #294 closed, assigned to andrieslouw

[2021-11-21 16:35] kleisauke commented on #306
I hope this information helped. Please feel free to re-open if questions remain.

[2021-11-21 16:35] #306 closed, assigned to andrieslouw

[2021-11-21 16:46] kleisauke commented on #291
Caching original/processed images on a hard drive will not happen due to the storage issue mentioned above. Please consider using our code to set up your own solution, if you want to do this.

[2021-11-21 16:46] #291 closed, assigned to andrieslouw

[2021-11-21 16:47] kleisauke commented on #290
I hope this information helped. Please feel free to re-open if questions remain.

[2021-11-21 16:47] #290 closed, assigned to andrieslouw

[2021-11-21 17:15] kleisauke commented on #238
AVIF decoding should already be supported ([live demo](https://images.weserv.nl/?url=https://github.com/weserv/images/raw/5.x/test/api/fixtures/cosmos_frame12924_yuv420_10bpc_bt2020_pq_q50.avif)).  Unfortunately, AVIF encoding is slow and consumes a lot of resources even when [rav1e](https://github.com/xiph/rav1e) is used, which is why we disabled it in the [`&output`](https://images.weserv.nl/doc

[2021-11-22 13:07] gradyskyi opened #321 "Check accepted user-agent content types"
Great service!
It would be wonderful to add some optional parameter, witch will check acceptable user-agent content types for format converting.
So if I set "&output=webp&**accept=true**", for example, service will check **Accept** user-agent header for **webp** format, and if user-agent doesn't support requested format, service will ignore **output=webp** parameter.
Thanks!

[2021-11-22 13:10] kleisauke commented on #321
Due to Cloudflare's caching it's technically impossible to change the output depending on the type browser. Please use the `<picture>`-tag as explained in https://github.com/weserv/images/issues/214.

[2021-11-22 13:22] #321 closed, assigned to nobody

[2021-11-23 21:02] Watreni opened #322 "https://i.ibb.co/MBzX4sg/Le-H3c-ED-1.png"

[2021-11-23 22:05] Watreni opened #323 "https://i.imgur.com/7FdZ9eF.jpg"

[2021-11-24 08:18] andrieslouw commented on #323
Duplicate of #319

[2021-11-24 08:18] #323 closed, assigned to nobody

[2021-11-24 08:19] andrieslouw commented on #322
Duplicate of #288

[2021-11-24 08:19] andrieslouw commented on #322
Please see #288: ibb.co is marked as Pornography.

[2021-11-24 08:19] #322 closed, assigned to nobody

[2021-12-03 13:56] 3cstudio opened #324 "using a WordPress plugin: Podcast Feed Player Widget & Shortcode, and the thumbnails were saved as massive PNGs"
... now, I have replaced all Featured Images that were once massive PNG files for MUCH smaller JPEGs, but it appears those PNG images are still cached by WeServ -- I really need to clear those cached files, as the images must have clearly exceeded an unknown quota and no longer show on: AntiochPodcast.org -- can anyone advise as to how to do this? I have found no documentation (other than "the opt

[2021-12-07 03:32] GitBoudewijn opened #325 "Some more potentially relevant response headers"
Hi!

I did some more research on response headers and found the following that would be useful for you to have:

### 1. [Cross-Origin-Resource-Policy: cross-origin](//developer.mozilla.org/en-US/docs/Web/HTTP/Cross-Origin_Resource_Policy_(CORP))

To use some features like high precision timing with `Performance.now()` you have to have cross-origin isolation on your site:
http://developer.mozilla.o

[2021-12-08 05:06] GitBoudewijn commented on #309
@kleisauke
Found this post from 3 months ago from a WordPress engineer and they still claim Google follows the canonical link:
http://wordpress.org/support/topic/too-many-oversights-make-this-plugin-easily-exploitable-for-image-thieves/
(Ignore the other guy who talks about 'stealing' images as if that's possible.)

But I wanted to come back on the redirect issue:

Say you get an image from Instag

[2021-12-08 10:12] kleisauke commented on #324
If you want, you can send us an [email](mailto:admin@weserv.nl) with the images that are affected and need to be purged from cache.

[2021-12-08 11:00] kleisauke commented on #325
1. We don't use `SharedArrayBuffer` or `Performance.now()`, so I'm not sure if there are any benefits of setting this header. Setting the CORP header on our site also requires that any sub-resources we load are properly allowed via CORS or CORP, which we cannot ensure at this moment on our homepage (for example, we use Algolia search as an external service).
2. Indeed, this header is only relevant

[2021-12-08 12:29] kleisauke commented on #309
I think the root cause of this is caching. Without that, the canonical link will always indicate the correct preferred URL. While determining the canonical link on permanent redirects might solve the issue for Instagram, it is more or less a workaround; if Instagram switches to permanent redirects for these URLs then it won't work anymore.

You're always free to use our source code to host your ow

[2021-12-08 12:29] #309 closed, assigned to andrieslouw, kleisauke

[2021-12-08 13:54] GitBoudewijn commented on #309
I disagree this is about caching. Instagram gives a temporary redirect because it's a temporary URL. If Instagram switches to permanent redirects than that would mean they consider that final URL to be permanent. But this isn't about Instagram but about all canonical URLs, I was just using this as an example.

Don't you agree that a canonical URL is always a permanent one?

(That being said, in th

[2021-12-08 13:59] GitBoudewijn commented on #325
1. I'm sorry maybe I wasn't clear. With 'you' I meant you as the user. So if I want to use those features on my site and have your images on my site, the images need to have the `Cross-Origin-Resource-Policy: cross-origin` header.

2. Yeah that's true, I just thought that it doesn't have any downside either.

3. `X-Original-Size` would be so you can calculate the amount of filesize reduction so yo

[2021-12-08 15:49] kleisauke commented on #325
1. You're right, the CORP header is necessary for websites that have opt-in to a cross-origin isolated state and make non-CORS requests to images.weserv.nl. See for example this [live demo](https://kleisauke.github.io/wasm-vips/playground/?deflate=hVJfa9swEP8qhxnYgUxO30aWZCxlGYGNwVif6kJl-2IrkyUhnWNC6XffKXab7mHsxfr3-3e-u08qawJB2R8O6GENcpCK4IBUtVnaErmwzHPVyQaDGDCgPwmj80CSVJVrVbWEzEdlxNE1n4b1zWKRzgS1

[2021-12-08 16:06] kleisauke commented on #313
`Vary: Accept-Encoding` is send by Cloudflare as well (but I couldn't find the reason why this is added, curious).

Let's leave this issue open. We can consider adding the `Cache-Control: immutable` header once it's supported by all modern web browsers.

[2021-12-08 22:51] 3cstudio commented on #324
Oh? Send an email of the image file names, or the images themselves? And should I use WeTransfer.com to send them (as they were many & large!) if you need the actual image files themselves? To give you further insight, here is a sampling of the imagery that was replaced (larger PNG files for reduced size JPEGs):
-- Episode 57: https://antiochpodcast.org/podcast/episode-57-an-antioch-encore-institu

[2021-12-09 12:45] kleisauke commented on #324
Thanks for the details! It looks like this is not a caching issue, the above mentioned page is using both WordPress Photon and images.weserv.nl, which cannot be used simultaneously. See #290 for more details.

[2021-12-10 16:18] 3cstudio commented on #324
Ahhhh.... that makes sense! Thank you, @kleisauke  -- I went into the WP admin area and turned off the Jetpack (from WordPress) feature for: Performance & Speed > Enable site accelerator > Speed up image load times (thinking that must be where Photon comes into use: https://jetpack.com/support/site-accelerator/) . . . but this didn't resolve the issue.  Might there be a propagation period or cache

[2021-12-11 13:17] kleisauke commented on #309
According to [RFC 6596 section 3](https://datatracker.ietf.org/doc/html/rfc6596#section-3) ("The Canonical Link Relation"), the target (canonical) URL may be the source of a temporary redirect:

The same section emphasizes that the target (canonical) URL should not be designated to a permanent redirect.

So I think you're right. I just fixed this with commit 34b08b15849600babd2217d0e957faf93c938be

[2021-12-11 13:18] kleisauke commented on #272
This has been implemented with commit https://github.com/weserv/images/commit/73c3b4784f662295ec108b69f7d592f1f86a4394, which has just been rolled out to production.
https://images.weserv.nl/clear-cache

Thanks for reporting this!

[2021-12-11 13:18] #272 closed, assigned to andrieslouw

[2021-12-11 13:32] kleisauke commented on #325
Commit https://github.com/weserv/images/commit/f52d724a57949f4f1fc7bc45c9f25119a94d4b84 (which has just been rolled out to production) adds the following response headers to the API:
1. `Cross-Origin-Resource-Policy: cross-origin`.
2. `X-Cache-Status: <MISS|BYPASS|EXPIRED|STALE|UPDATING|REVALIDATED|HIT>`, see:
    https://nginx.org/en/docs/http/ngx_http_upstream_module.html#var_upstream_cache_stat

[2021-12-11 13:49] kleisauke commented on #324
The images on the above mentioned URL works for me now. I'll close, please feel free to re-open if questions remain.

[2021-12-11 13:49] #324 closed, assigned to nobody

[2021-12-15 10:43] abargiela opened #326 "Application returning 404 instead of 200"
Hello,
We self host the project but we noticed that the same problem we have on our self hosted project, we also have using your URL( https://images.weserv.nl), so I would like to understand if it's possible to fix that in a self hosted project, can you help me?

The URL we are trying to reach: https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.ama

[2021-12-15 11:40] kleisauke commented on #326
This fails because the upstream URL redirects to itself.

On Google Chrome, this will result in an `ERR_TOO_MANY_REDIRECTS` error message (try opening that URL in an incognito tab, for example). Our service will return a 404 with this error message:
[code]
(all upstream errors are [remapped to 404](https://github.com/weserv/images/blob/6171702646129b3dadbbeb7bfe75e4ac9379b714/src/api/utils/status.

[2021-12-16 10:00] abargiela commented on #326
Thank you for your quick response @kleisauke

[2021-12-17 08:19] #326 closed, assigned to nobody

[2021-12-20 21:41] maffinca69 opened #327 "Support aarch64 (pi 4)?"
Hello. I tried manual install and all exist good. This is x86 computer
Soon i tried install weserv on raspberry, he has aarch64 architecture. I received some errors, full log:
[code]

i want asked planned on support aarch64 architecture? Or i can fix manul this errors?
Sorry, i not very good at this

[2021-12-20 22:15] maffinca69 commented on #327
UPDATE: I tried use alpine.Dockerfile and all good - service is started and worked.
My issue resolved :)

[2021-12-20 22:16] #327 closed, assigned to nobody

[2022-01-11 01:30] Sir-Will opened #328 "GIF to WebP causes increased file size"
When using the image server to convert a GIF to WebP, I have noticed that the WebP file is larger than the original GIF.

What causes the increased file size? Shouldn't it be smaller?

Example:
  https://images.weserv.nl/?url=https://i.ibb.co/ch2v7wk/1b9770514b2c82f47bf60baf1bc007c6.gif&n=-1&output=webp
  https://i.ibb.co/ch2v7wk/1b9770514b2c82f47bf60baf1bc007c6.gif

[2022-01-31 09:01] Soetens commented on #309
But how to disable it, as its very unwanted to announce the original location. Also gives in our case unwanted behavior with caching and could also lead to unwanted indexing at search engines.

I cant find in the documentation where to disable it.

[2022-01-31 10:07] kleisauke commented on #309
There are no plans to disable nor allow the rel="canonical" HTTP header to be configured on the public API. Most search engine crawlers will respect `robots.txt`, in which we defined that all proxied images should not be indexed, see:
https://github.com/weserv/images/issues/165#issuecomment-438777292
https://images.weserv.nl/robots.txt

If you need to "mask" the original image location, then our p

[2022-01-31 11:48] Soetens commented on #309
We do not use the public service, but our own docker. We want to hide the source location of images for obvious reasons, but just noticed it by accident that there was a canonical header added.
We removed it via the nginx proxy hide headers options, so that works fine. But this could be a minor security issue if you don't know about this change and starting publishing your image sources.

For exam

[2022-01-31 16:15] kleisauke commented on #309
Ah, I thought you were referring to our public service. However, I don't think this is a security issue, since the original image source would also be available in the `?url=` query parameter (unless there's another service in front of it that masks this parameter).

Anyways, I made this configurable with the `weserv_canonical_header` nginx directive added in commit 7f102c555ffe94a0c5b39c136540495

[2022-01-31 16:38] kleisauke commented on #328
WebP images can be optimized by setting the quality (`&q=`) parameter.  For example, adding `&q=60` to the first URL will make the WebP image smaller than the GIF image in size. By default a quality of `80` is used, which usually produces excellent results.

Perhaps the provided GIF image was optimized with something like [Gifsicle](https://github.com/kohler/gifsicle)?

[2022-02-03 18:49] vyacheslavdanilin opened #329 "The hostname of the origin is unresolvable (DNS) or blocked by policy."
Hi.

From time to time I get the following error (self hosting)

`{"status":"error","code":404,"message":"The hostname of the origin is unresolvable (DNS) or blocked by policy."}`

I tried to disable ipv6 in imagesweserv.conf:

`resolver 8.8.8.8 ipv6=off;`

but it doesn't help.

[code]

Docker-compose dosen't support ipv6.

[code]

Thanks

[2022-02-07 17:03] vyacheslavdanilin commented on #329
Do you have any ideas how to fix this?

[2022-02-07 17:31] kleisauke commented on #329
Are you using the pre-built Docker image hosted on [GitHub Container Registry](https://github.com/weserv/images/pkgs/container/images)? If so, that requires modifying `/etc/nginx/imagesweserv.conf` instead (since the nginx configuration was 'deployed' during the image build). Remember to [reload the nginx configuration file](https://github.com/weserv/images/tree/5.x/docker#useful-commands) if you

[2022-02-07 17:59] ebaynaud opened #330 "Lots of 204 responses"
Hi there, thanks a lot for your awesome work.

Starting today, I keep getting 204 responses when loading images from my app pages (app.alobees.com):

![Screenshot 2022-02-07 at 18 55 50](https://user-images.githubusercontent.com/1921301/152844717-8e3ae499-e29c-4f04-be45-9a62d6ac45b9.png)

If I open the image URL directly in the browser, the image displays well and refreshing the initial page, I ge

[2022-02-07 22:21] andrieslouw commented on #330
Our automated system to block abuse flagged some traffic, and made rules that blocked a bit too much. I'll spare you the details, but somewhere a regular expression got a bit too inclusive, and your request payload was matching this.

The 204 is send by this system as a last resort to prevent users from hogging resources, it's the fastest way of telling the client to keep going and ignore the resp

[2022-02-07 22:23] ebaynaud commented on #330
Yes it looks ok now, thank you so much for your reactivity.

[2022-02-07 22:23] #330 closed, assigned to andrieslouw

[2022-02-07 22:24] andrieslouw commented on #330
No problem, thanks for the report!

[2022-02-07 23:01] vyacheslavdanilin commented on #329
Hey!

Yes, I took your image, created a new config file with the setting `/etc/nginx/imagesweserv.conf` and copied this file into the container.
Yes, the desired configuration is launched in the container `ipv6=off`.

The thing is that `docker-compose` does not support ipv6 due to swarm mode.

I like your project but I can't use it.

Any ideas where to look, what to try?
Thanks for answers

[2022-02-08 08:17] kleisauke commented on #329
What's the output of running:
[code]
within the container? Containers that use the default bridge network inherits the DNS settings of the host, whereas containers that use a custom network (i.e. Docker compose) use Docker's embedded DNS server, which forwards external DNS lookups to the DNS servers configured on the host.

You could try using this embedded DNS server by changing the resolver to `

[2022-02-08 10:17] vyacheslavdanilin commented on #329
I made queries for a domain with a CHAME DNS record.
Now I send requests directly to the s3 domain.

Problem solved, thanks for the help.
Thanks for a great project!

[2022-02-08 15:03] kleisauke commented on #329
Great, I'll close.

[2022-02-08 15:03] #329 closed, assigned to nobody

[2022-02-18 12:17] artjom-lipak commented on #286
Hi, could you please whitelist this domain?

file://images.weserv.nl/?url=https://questory.app/uploads/pr-da-is-dh-ma.jpg

[2022-02-18 12:34] artjom-lipak opened #331 "The hostname of the origin is unresolvable (DNS) or blocked by policy"
Hi, could you please whitelist this domain?

https://images.weserv.nl/?url=https://questory.app/uploads/pr-da-is-dh-ma.jpg

{"status":"error","code":404,"message":"The hostname of the origin is unresolvable (DNS) or blocked by policy."}

[2022-02-20 18:20] kleisauke commented on #331
It looks like the resolved IPv4 address of `questory.app` is unreachable by our servers.
[code]

Our IP addresses that we use for outbound traffic (listed [here](https://images.weserv.nl/ips.txt)) are most likely blocked by this web host. Although, this domain resolves also to a IPv6 address which seems to work fine.
[code]

Browsers typically use a DNS failover implementation whenever this occurs

[2022-02-21 05:53] wuizard commented on #331
Hello @kleisauke ..
I've just found that, today The page always shown cloudflare 522 connection timeout page

for example, when i call this link https://images.weserv.nl/?url=https://questory.app/uploads/pr-da-is-dh-ma.jpg . it shows 522 too.

[2022-02-21 06:32] eldario commented on #331
We have the same problems.
In response, we get **522**.

**For example**:
https://images.weserv.nl/?url=avatars.githubusercontent.com/u/47894183

**Single image**:
https://avatars.githubusercontent.com/u/47894183

[2022-02-21 07:00] finesofttech commented on #331
I am also facing same issue here in India, always showing cloudflare "Error 504, Gateway time out"
Please fix the issue.

[2022-02-21 07:03] andrieslouw commented on #331
There are some issues indeed, we're looking into them.

[2022-02-21 07:12] wuizard commented on #331
Hi @andrieslouw  .. just want to confirm that is working fine now .. Thank you for you and your team quick response.

[2022-02-21 07:35] eldario commented on #331
@andrieslouw

Thank you very much, everything works!

[2022-02-23 16:24] DouweHof opened #332 "204 Response when loading images from website"
Hey,

Recently we started to get signals of images that were not loading on our websites. The weird thing is that accessing the image source url directly from the browser, everything works fine. The image is then also cached, after which it can be loaded by the webpage. After looking through the issues on this repo, I found this to be similar to issue #330.

Here is a screenshot of the request dat

[2022-02-23 17:17] andrieslouw commented on #332
Repetition of #330
@kleisauke is looking into it now

[2022-02-23 17:20] kleisauke commented on #332
Should be fixed now, could you verify this?

[2022-02-23 17:25] DouweHof commented on #332
I've given it a quick look, everything seems to be fine now. Thanks for looking into it so quickly, it is very appreciated!

[2022-02-23 17:25] #332 closed, assigned to kleisauke

[2022-03-07 20:21] Rongronggg9 opened #333 ""Without enlargement" (`&we`) allow enlargement for vectors"
In most cases, we need to resize an image without enlargement is just because the enlargement does not bring any improvement. However, if the original image is a vector image (e.g., SVG, PDF), that's a whole different story.

What about adding a new param `allow-vectors` or `only-raster` to `&we`, resizing any raster images without enlargement, but in the meantime allowing vector images to be enla

[2022-03-10 12:04] abubelinha opened #334 "document how to pass in urls with ? / & marks"
Original image url (from IIIF server):
https://merovingio.c2rmf.cnrs.fr/fcgi-bin/iipsrv.fcgi?FIF=PIA03883.pyr.tif&WID=800&CVT=jpeg

I guess this fails because there is a "`?`" in the original url?
https://images.weserv.nl/?url=merovingio.c2rmf.cnrs.fr/fcgi-bin/iipsrv.fcgi?FIF=PIA03883.pyr.tif&WID=800&CVT=jpeg

[code]

[2022-03-10 12:34] kleisauke commented on #334
Users are expected to URL-encode the given URL, or at least `?` to `%3F` and `&` to  `%26`, for example:
https://images.weserv.nl/?url=merovingio.c2rmf.cnrs.fr/fcgi-bin/iipsrv.fcgi%3FFIF=PIA03883.pyr.tif%26WID=800%26CVT=jpeg

[2022-03-10 12:59] abubelinha commented on #334
Great!!
I was suspecting something like this, but I asked because I couldn't find it in the FAQ/docs.  Now I see other similar issues (#220, #175, ...)

I suggest adding it to [FAQs](https://images.weserv.nl/faq/) or as a note next to the [main example in docs](https://images.weserv.nl/docs/#how-it-works).

[2022-03-10 13:18] kleisauke commented on #334
Indeed, we should probably note this in the docs.

[2022-03-10 19:27] kleisauke commented on #333
We do not plan to add dedicated option values to our API that could produce a different image based on the image type, as that would certainly over-complicate things and cause confusion (even if it is opt-in).

Aside from this being an uncommon use case, is there a reason why you can't just omit the `&we` option when resizing vector-based images?

[2022-03-10 21:11] Rongronggg9 commented on #333
OK. I agree with you.

If you just get tons of external URLs, but no more information about these images, sometimes it is hard to guess their format from the URLs. The only way is to fetch their response headers to get the Content-Type, which slightly increases the server loads.

[2022-03-11 13:01] abubelinha commented on #334
I edited the title and reopen just to remember adding this to docs.
Feel free to close if you prefer.

[2022-03-11 13:02] abubelinha commented on #334
I edited the title and reopen the issue as a reminder of adding this to docs.
Feel free to close it if you prefer.

[2022-03-13 13:22] abubelinha opened #335 "IIIF-compatible service"
Not sure if this could be completely off topic here, because nobody else has mentioned [IIIF](https://iiif.io) in any previous issues.

I am completely ignorant about how difficult this could be. But having [vips](https://github.com/libvips/libvips) behind, this is probably something not impossible to implement.

My starting point for thinking about this was I didn't found any options for requesti

[2022-03-14 11:09] abubelinha commented on #231
I have just tried with the gdrive file linked in the way #145 (year 2018), and it still worked.
So does still work the file linked above (as of today, march 2022).

But as for this issue, I understand this can change at any time, so we shouldn't trust gdrive as a good storage system to combine with weserv?
@raRaRa what did you end up doing?
Did you (or @kleisauke or @andrieslouw) get any answer fr

[2022-03-14 12:47] kleisauke commented on #335
Apart from the technical difficulties (e.g. `info.json` proxying and handling), I think providing an IIIF-compatible API in addition to the regular API would be beyond the scope of this project.

Region of interest is just a rectangle crop in our API:
https://images.weserv.nl/docs/crop.html#rectangle-crop

However, this will not work on our public service with the original 14400x9600 image you pro

[2022-03-14 13:10] abubelinha commented on #335
Providing my own service is too technical stuff for my skills, but thanks anyway.

Regrding the size limit info, you mean the first link I put is actually showing a reduced version of the full original image I am requesting? (because I see an image, anyway)

[2022-03-14 14:18] kleisauke commented on #335
Perhaps a shim API that rewrites the calls to our API can be implemented more easily? For example, your first ROI coordinates (`/450,800,500,300/`) can easily be rewritten as `&cx=450&cy=800&cw=500&ch=300`.

Indeed, the "full" image on https://merovingio.c2rmf.cnrs.fr/iiif/PIA03883.pyr.tif/full/full/0/default.jpg (4096x2741) is not in fact the original image. Applying your second ROI coordinates (

[2022-03-14 17:04] abubelinha commented on #335
Indeed. Translating calls looks easy. That's exactly why I suggested to implement that translation server side. So your server understands IIIF calls ... just because IIIF is a standard communication protocol (I guess it's a good thing to make things compatible).

I think you misunderstood my ROIs. I was requesting a 500x300 and a 500x200 sized images (first two numbers are relative to image top l

[2022-03-14 17:43] abubelinha commented on #335
Indeed. Translating calls looks easy. That's exactly why I suggested to implement that translation server side. So your server understands IIIF calls ... just because IIIF is a standard communication protocol (I guess it's a good thing to make things compatible).

You mean it is not possible because weserv would need to download the full image before cropping the requested 500x200 part, don't you?

[2022-03-16 01:59] abubelinha commented on #34
I am a bit confused about these comments.
Are you talking about https://github.com/weserv/images or is this issue a different thing?:

Really?  In other answers you say different things:
https://images.weserv.nl/faq/#is-the-code-open-source

- C++ 92.5%
- Perl 3.7%
 - CMake 2.3%
 - Dockerfile 1.2%
 - Other 0.3%

Where is the PHP stuff?

[2022-03-16 02:03] abubelinha opened #336 "I can't see any images when testing for mobile with ready.mobi"
I use this site for testing:

https://ready.mobi/

But when I browse a simple github page using weserv/images , I can't see any pictures.

Is this something which can be solved or I just can't use that service for whatever reason?
Which other free services (and weserv/images compatible) do you know that I can use for the same testing purpose?
Thanks

[2022-03-16 09:07] kleisauke commented on #34
@abubelinha  Did you notice that this original migrated issue is almost 10 years old? See [`CHANGELOG.md`](https://github.com/weserv/images/blob/5.x/CHANGELOG.md) for things that have changed since then.

[2022-03-16 09:18] kleisauke commented on #336
I noticed that the mentioned website also had problems rendering images on other websites, so I don't think I can do anything about this.

Google's mobile friendly test or Lighthouse in Chrome DevTools could be used for this as well.
https://search.google.com/test/mobile-friendly
https://developers.google.com/web/tools/lighthouse

[2022-03-16 10:15] kleisauke commented on #231
I'm not sure if Google is interested in whitelisting our project. If you are able to host your own solution, it might be more appropriate to use the [`weserv filter;`](https://github.com/weserv/images/tree/5.x/ngx_conf#weserv) nginx directive in combination with static content, for example:
https://images.weserv.nl/static/lichtenstein.jpg?w=200

This is handled by default in the Docker image (just

[2022-03-16 10:34] abubelinha commented on #336
Thanks a lot @kleisauke
Those Google tools are very useful indeed.
But I can't  (or I don't find the way to) see how page/images are displayed in different mobile screens, as in the link I provided.

I found two others myself, which seem to work (2nd one looks different using http and https ... not sure if that has something to do with images being visible or not):
- https://bluetree.ai/screenfly/

[2022-03-16 10:35] kleisauke commented on #335
Handling it server-side would cause a lot of IIIF specific code. My feeling is that a "shim" (such as the ones listed at https://iiif.io/get-started/image-servers/#make-a-existing-image-server-iiif-compatible) is more appropriate in this case.

Yes, exactly. We could do a 500x200 crop on the 4096x2731 image, but the XY coordinates of 8300,4150 cannot be applied to this. Therefore you'll need to fe

[2022-03-16 10:45] abubelinha commented on #34
Sorry and thanks, that explains it all.

[2022-03-16 10:52] kleisauke commented on #336
I'm not aware of any other tools/services. I'll close as this question has nothing to do with this repository and/or public service.

[2022-03-16 10:52] #336 closed, assigned to nobody

[2022-03-16 11:19] abubelinha commented on #335
Thanks for long explanations and the final joke.
Do you really have the feeling that IIIF is not becoming an standard?  If so, then indeed I see your point.
I had not that feeling but I am a complet newbie so thanks for giving me that opinion.

As for the different servers you link, I am currently using one of them (iipimage), but only for part of my stuff.
And I don't really know about the others

[2022-03-16 11:56] abubelinha commented on #335
I was not exactly meaning that (which is also true, indeed).
I meant that, as far as I know weserv size limits, it is my own problem to be sure I will not go beyond limits.

In the sense that I should not try to request a ROI from a huge image stored in Google Drive.  Because if I do that, weserv will return me an error.
But if the file is inside the limits, then I can happily use weserv to serve

[2022-03-16 12:54] abubelinha commented on #231
Thanks but no, we are not able to self host this service.

So the choices of weserv beign blacklisted by Google depend on the number of recent requests of images, which might be low by the time I tried but can change at any time.

What if I provide a custom php access point for my google images?
(I guess the number of Google requests from my site would be much lower)
So I pass to weserv my own sit

[2022-03-16 18:40] andrieslouw commented on #335
Hi there, I see some good questions asked about policy and such, let me walk through a bit of history: This project started around 2006, 9 years before IIIF started. The goal was simple in the old days: provide an online service which can make thumbnails fast for users that already have the larger image stored somewhere.

The goal is still the same, and we've kept the same API the past ~16 years.

[2022-03-16 19:24] andrieslouw commented on #231
We can and will serve through HTTPS, no matter the original URL. There is a large group of users using our service just to do so. And indeed, your proposed additional "PHP-proxy" may work as suggested, but the fastest (and most "in-control") solution would be to host this project yourself. If you only have access to PHP and have libvips installed, there is an older version of our project still her

[2022-03-17 12:22] abubelinha commented on #335
👍  All very reasonable.
Thanks for your deep explanation @andrieslouw

[2022-03-17 12:33] abubelinha commented on #231
I'll try the gDrive php-proxy idea first to see if it works (it's the easiest way for me).
Thanks for all the alternatives suggested @andrieslouw

[2022-03-20 13:10] crypto-moe opened #337 "How to cancel the access restriction in the self-built server?"
I am currently using this image due to an error when deploying using the image provided by the project

supersandro2000/images-weserv

But I found that some domains show blocked by policy How do I disable the limit

[2022-03-20 13:12] kleisauke commented on #337
Sounds like the IPv6 interface is not properly configured, see #206 for more information.

[2022-03-20 13:42] crypto-moe commented on #337
thank you very much
The image loss issue should have been fixed

Yesterday I used the image deployment of the project and this error occurred. What could be the reason
`nginx: error while loading shared libraries: /lib64/libgsf-1.so.114: invalid ELF header`

[2022-03-20 13:50] kleisauke commented on #337
That error might occur if you build the Docker image on one architecture (e.g, x86-64) and then try to use the same built image on a different architecture (e.g, AArch64).

Are you testing on AArch64? If so, you might need to use the [`alpine.Dockerfile`](https://github.com/weserv/images/blob/d9b0cefa98f6c689e8210dad4d8ae49fc7965280/docker/alpine.Dockerfile) image, since the RPM repositories we de

[2022-03-20 14:29] crypto-moe commented on #337
In Ubuntu 20.04.4 LTS  on Windows 10 x86_64 using wsl1

[2022-03-30 22:56] dsimunic opened #338 "How to Build With kleisauke/libvips-packaging?"
I'm trying to build weserv module on Debian 11 and link it against the pre-built `libvips-cpp.so` from [kleisauke/libvips-packaging](https://github.com/kleisauke/libvips-packaging/releases/tag/v8.12.2).

The build succeeds, but linking fails with

[code]
A [simple example .c file](https://github.com/libvips/libvips/issues/1423#issuecomment-530005322) linked against that same libvips setup works, s

[2022-04-06 17:51] kleisauke commented on #338
Hi @dsimunic,

Sorry for the delay. The pre-built binaries in the [`kleisauke/libvips-packaging`](https://github.com/kleisauke/libvips-packaging) repository were compiled with the devtoolset packages on RHEL/CentOS 7 which forcefully disabled the `-D_GLIBCXX_USE_CXX11_ABI=1` compiler flag, see: https://stackoverflow.com/a/52611576.

You can verify this with the readelf utility:
[code]

So, to take

[2022-04-07 10:25] kleisauke commented on #338
Thinking about this further, we can also avoid calling the string overload of `VImage::new_from_buffer`, so that mixed C++ ABIs will work without any issues.

I just did this with commit https://github.com/weserv/images/commit/2b51dd828c220f2b5fed010b6fabca5757f03117, so please ignore the above comment. Thanks for reporting this!

[2022-04-07 11:13] dsimunic commented on #338
Didn't know that compilation output can differ between distributions. TIL a lot.

Thanks so much for taking the time to look into this and sorting it out. And thanks for the awesome plugin.

[2022-04-07 11:13] #338 closed, assigned to nobody

[2022-04-10 12:53] aoaostar commented on #331
@kleisauke
I have the same problem with my domain name.
https://images.weserv.nl/?url=https://pic.v8cdn.cc/5556c6963001291.jpg
https://images.weserv.nl/?url=https://i.v8cdn.cc/i/5556c6967001291.jpg

[2022-04-12 14:29] Merelybeing opened #339 "Blogger images 204 response"
Hi there, thanks a lot for your awesome work.
Recently, this project was applied to Blogger often 204 response and sometimes 404 response.
I found this to be similar to issue #332

Here is a screenshot of the request data when trying to load the image from Blogger:
![001](https://user-images.githubusercontent.com/24914557/162985401-27b593d2-accb-4416-b4b3-08df89798162.png)

And here is a screensho

[2022-04-12 16:37] andrieslouw commented on #331
@aoaostar
Due to multiple, and continuing, abuse of our service from many randomly generated cheap domains, we blocked all .cc .club .date .fun .pw .top .xxx .xyz domains on our public service. I'm really sorry for this, but the abuse was continuously using over 2 Gbit/s of our bandwidth, which we provide for free. Please consider changing domains to a normal TLD, or hosting the service yourself.

[2022-04-12 16:38] andrieslouw commented on #339
Due to multiple, and continuing, abuse of our service from many randomly generated cheap domains, we blocked all .cc .club .date .fun .pw .top .xxx .xyz domains on our public service. I'm really sorry for this, but the abuse was continuously using over 2 Gbit/s of our bandwidth, which we provide for free. Please consider changing domains to a normal TLD, or hosting the service yourself.

[2022-04-12 16:38] #339 closed, assigned to andrieslouw

[2022-04-16 15:06] Merelybeing commented on #339
Ok, finally know what's going on, thank you.

[2022-04-22 23:38] maffinca69 opened #341 "Add http basic auth"
There are images that are not accessible from the outside and can be accessed either from a specific network or under authorization. For example, https://user:password@google.com/example.png
Now in response to such a request we get an error:
[code]

Will basic auth support be added in the future? Parse login and password and put them in headers

[2022-04-23 04:24] giautm commented on #341
You should sent the request with headers, it should be passed to the upstream.

[2022-04-23 07:46] maffinca69 commented on #341
@giautm Where exactly should this be added (what config file)?
If I pass the headers in my request, it doesn't work either and the error remains the same

[2022-04-24 20:05] mmcloughlin commented on #134
I'd be interested in this feature. I'm using weserv to generate circle GitHub avatars in a Github README, which is a case where I cannot use CSS (since Github strips it from `<img>` tags). It would be cute to include a light grey border around the circle mask, similar to how Github itself displays circle avatars.

![Screenshot from 2022-04-24 13-02-47](https://user-images.githubusercontent.com/713

[2022-04-27 13:32] aletuba opened #342 "URL returned error: 403"
Hello!
Been using images.weserv.nl, recently I've noticed that now 403 errors, no matter what image I used.
I suspect it might be a user agent problem. Can you help me?

The URL we are trying to reach: https://images.weserv.nl/?url=https://www.tomnegociosimobiliarios.com.br/fotos_imoveis/16/123514-3.jpg

[2022-04-29 15:02] aoaostar opened #343 "My gif won't load. Input image exceeds pixel limit. Width x height should be less than 71000000"
My gif won't load.
It outputs
[code]
But my picture is in line with the requirements.Why does this problem occur?
Thank you.
https://images.weserv.nl/?n=-1&url=https://pic.opop.vip/551f16624001291.gif
![](https://images.weserv.nl/?n=-1&url=https://pic.opop.vip/551f16624001291.gif)

But the other one is normal.
https://images.weserv.nl/?n=-1&url=https://pic.opop.vip/551f1662a001291.gif
![](https://

[2022-05-01 13:18] kleisauke commented on #343
The first image exceeds our pixel limit since it is 800x240600 (401 frames, with each frame being 800x600).
[code]

The second image does not exceed our pixel limit since it is 400x49500 (165 frames, with each frame being 400x300).
[code]

[2022-05-01 13:42] kleisauke commented on #342
I could reproduce this, it seems that this website has blocked our User-Agent.
[code]

If you are able to host this project yourself, you can use this to change the outgoing User-Agent within the nginx configuration:
[code]

Otherwise there's not much we can do for this. Please report this to this website if it continues to be a problem.

[2022-05-01 13:42] #342 closed, assigned to nobody

[2022-05-01 13:48] kleisauke commented on #331
I hope this information helped. Please feel free to re-open if questions remain.

[2022-05-01 13:48] #331 closed, assigned to nobody

[2022-05-01 13:55] kleisauke commented on #337
Could you try to upgrade to WSL 2? I cannot reproduce this with Ubuntu 20.04.4 on Windows 10 using WSL 2.

[2022-05-02 03:42] aoaostar commented on #343
Well, it would be nice to be able to exceed the maximum number of pages for displaying gifs, after all, it would be uncomfortable if the images could not be displayed.
Thank you very much for your answer!

[2022-05-06 02:36] #343 closed, assigned to nobody

[2022-05-28 22:31] sudofox commented on #282
Bumpity bump bump I'm making another website and wanted to check on this... using the proxy to handle profile image URLs from a service that for some reason doesn't send cache-control headers or do quantization.

[2022-05-29 09:24] SwiftWinds opened #344 "dynasty-scans.com blocked"
Example URL: https://images.weserv.nl/?url=https://dynasty-scans.com/system/releases/000/036/409/114.png&w=300

I know that weserv images relies on OpenDNS domain tagging. Looking at [the OpenDNS entry for dynasty-scans](https://domain.opendns.com/dynasty-scans.com) and it seems that the only accepted tag is "Anime/Manga/Webcomic." Why is this grounds for dynasty-scans.com to be blacklisted?

[2022-05-29 11:10] andrieslouw commented on #344
Normally all urls are parsed by https://community.opendns.com/domaintagging/

To prevent our public service from being blocked or attacked by DMCA's, we block these categories:

- Adware
- Anime/Manga/Webcomic
- Gambling
- Hate/discrimination
- Nudity
- Pornography
- Proxy's (to mitigate the risk of redirect-loops)
- Sexuality
- Tasteless

Please use the source code provided here to host your own

[2022-05-29 11:10] #344 closed, assigned to nobody

[2022-05-29 11:18] andrieslouw commented on #341
Is there anyone still using HTTP basic auth?
You could use something like `proxy_set_header Authorization "Basic base64encodeduserpass";`, but make sure to check the manuals and code-examples on this. It's not something we'd support in our public proxy.

[2022-05-29 16:02] SwiftWinds commented on #344
Alright, thank you for clarifying :)

[2022-06-11 15:28] dayeggpi opened #345 "How to add HTTPS support"
Hi team,

I followed the install steps from https://github.com/weserv/images/blob/5.x/docker/README.md
and install via docker worked like a charm.

However, I can only access it via http.
Could you please explain to a noobie how to add such support ?

I use Ubuntu 20.04 TLS, with OpenLiteSpeed.

[2022-06-11 15:33] dayeggpi opened #346 "How to block domains"
Hi team,

I followed the install steps from https://github.com/weserv/images/blob/5.x/docker/README.md
and install via docker worked like a charm.

However, I would like to protect myself from people using my server for their images...
Could you please explain to a noobie how to only allow specific domains or block specific domains for the "url" parameter?

I use Ubuntu 20.04 TLS, with OpenLiteSpe

[2022-06-11 16:28] dayeggpi opened #347 "How to install in specific subfolder"
Hi team,

I followed the install steps from https://github.com/weserv/images/blob/5.x/docker/README.md
and install via docker worked like a charm.

However, I would like to access it via mydomain.com/weserv/?url=etc (versus today where it is as mydomain.com/?url=
Could you please explain to a noobie how to achieve that ?

I use Ubuntu 20.04 TLS, with OpenLiteSpeed.

[2022-06-29 02:49] giszh86 opened #348 "I got 403 with imgur"
I use imgur, and get 403,
![image](https://user-images.githubusercontent.com/8955999/176340598-ee382ac4-f8a5-48bb-a7b3-0cb9de5c6d0e.png)

https://images.weserv.nl/?url=https://i.imgur.com/ejXJlrZ.jpeg
https://images.weserv.nl/?url=http://i.imgur.com/ejXJlrZ.jpeg