[2017-02-12 16:53] kleisauke opened #6 "Allow 256 colors for small screens"
# Allow 256 colors for small screens [10265160] #

**Submitted by joey liechty on 19-10-2015 0:00:00**
**1 votes on UserVoice prior to migration**

I am trying to display images on a pebble smart watch and I think there's a limitation on how many colors I can display on it.

## Response ##
**by Andries Louw Wolthuizen on 19-10-2015 0:00:00**

Hi Joey,
Unfortunate the pebble watch only support 64 c

[2017-02-12 16:53] kleisauke opened #7 "imgur image cache failed"
# imgur image cache failed [10700433] #

**Submitted by Anonymous on 14-11-2015 0:00:00**
**1 votes on UserVoice prior to migration**

https://images.weserv.nl/?url=i.imgur.com%2F7Wc71ci.jpg "Error 521"
the origin image "http://i.imgur.com/7Wc71ci.jpg&quot; exists, but cache failed, please help

## Response ##
**by Andries Louw Wolthuizen on 14-11-2015 0:00:00**

We had some issues, which are solv

[2017-02-12 16:53] kleisauke opened #8 "How to setup proxy server on APACHE server ? any tutorial ?"
# How to setup proxy server on APACHE server ? any tutorial ? [13031043] #

**Submitted by Darpa on 18-3-2016 0:00:00**
**1 votes on UserVoice prior to migration**

how to setup source (github) of proxy on apache based linux server, shared hosting ?

## Response ##
**by Andries Louw Wolthuizen on 18-3-2016 0:00:00**

Hi Darpa,
There is no support on self hosting the code; the service is provided a

[2017-02-12 16:53] kleisauke opened #9 "Add Content-Length header to allow for indeterminate progress."
# Add Content-Length header to allow for indeterminate progress. [13345773] #

**Submitted by Andrew Yates on 7-4-2016 0:00:00**
**3 votes on UserVoice prior to migration**

Would be awesome to add the Content-Length header to allow for progress to be calculated when downloading images. Guess this may only be possible when serving the image from cache.

## Response ##
**by Andries Louw Wolthuizen

[2017-02-12 16:54] kleisauke opened #10 "Support non-standard ports."
# Support non-standard ports. [13807617] #

**Submitted by John Doe on 11-5-2016 0:00:00**
**3 votes on UserVoice prior to migration**

Accessing sites which listen to a non-standard HTTP port.

## Response ##
**by Andries Louw Wolthuizen on 11-10-2016 0:00:00**

We looked into this problem, but there are too many pathways of abuse that would be opened, therefore, we’re not going to implement this

[2017-02-12 16:54] kleisauke opened #11 "Left is right and right is left"
# Left is right and right is left [14887038] #

**Submitted by 1v on 21-6-2016 0:00:00**
**3 votes on UserVoice prior to migration**

left and right align image relatively to canvas:
https://images.weserv.nl/?url=www.google.com/images/title_homepage4.gif&q=100&w=50&h=50&a=left&t=square
but top and bottom align canvas relatively to image:
https://images.weserv.nl/?url=encrypted.google.com/images/na

[2017-02-12 16:54] kleisauke opened #12 "Custom domain"
# Custom domain [15107112] #

**Submitted by Anonymous on 7-7-2016 0:00:00**
**1 votes on UserVoice prior to migration**

Allow us to setup a custom domain, such as images.example.org I understand this would be hard to implement but I would pay for this too.

## Response ##
**by Andries Louw Wolthuizen on 12-7-2016 0:00:00**

Please see https://github.com/andrieslouw/imagesweserv/wiki/CNAME-ing-yo

[2017-02-12 16:54] kleisauke opened #13 "Manage cyrilic and arabic caracters"
# Manage cyrilic and arabic caracters [15427689] #

**Submitted by Anonymous on 27-7-2016 0:00:00**
**1 votes on UserVoice prior to migration**

Hello,
The service works fine except when I try to use cyrilic and arabic caracters
ex: https://images.weserv.nl/?url=%2F%2Ftalkalang-avatars.s3-eu-west-1.amazonaws.com%2FzzcmNEhWHMgCSFKBF%2F%D0%9A%D0%B2%D0%B0%D0%B4%D1%80%D0%B0%D1%82.png

## Response ##
*

[2017-02-12 16:54] kleisauke opened #14 "Remove cached images (by API/manual)"
# Remove cached images (by API/manual) [15774949] #

**Submitted by Eugene Huseynov on 23-8-2016 0:00:00**
**24 votes on UserVoice prior to migration**

GIVEN:
//------------------------------------------------------------------------
image source (url parametre) is:
maps.googleapis.com/maps/api/staticmap?sensor=false&size=2048x350&scale=2&maptype=roadmap&zoom=13&markers=color:blue|size:small|1400

[2017-02-12 16:54] kleisauke opened #15 "can you add support in webp from jpg?"
# can you add support in webp from jpg? [15966898] #

**Submitted by gal on 8-9-2016 0:00:00**
**1 votes on UserVoice prior to migration**

## Response ##
**by Andries Louw Wolthuizen on 11-10-2016 0:00:00**

This is planned. Related to: https://github.com/andrieslouw/imagesweserv/issues/68

**[Original UserVoice Submission](https://imagesweserv.uservoice.com/forums/144259-images-weserv-nl-general

[2017-02-12 16:54] kleisauke opened #16 "Browser cache doesn't work, expected to return HTTP 301"
# Browser cache doesn't work, expected to return HTTP 301 [16591651] #

**Submitted by Binyamin on 10-10-2016 0:00:00**
**1 votes on UserVoice prior to migration**

https://images.weserv.nl/?url=rbx.weserv.nl/lichtenstein.jpg is never cached by browser, it always returns HTTP 200, while when cached expected to return HTTP 301. You can test/check it in https://redbot.org/?uri=https://images.weserv.

[2017-02-12 16:55] kleisauke opened #17 "Use Coudflare DNS and proxy"
# Use Coudflare DNS and proxy [16591702] #

**Submitted by Binyamin on 10-10-2016 0:00:00**
**1 votes on UserVoice prior to migration**

Coudflare would benefit CDN delivery, better security and caching (you can set "Cache All"), over HTTP/2. Image optimization is applied when using Pro plan.

## Response ##
**by Andries Louw Wolthuizen on 11-10-2016 0:00:00**

We are already using CloudFlare for

[2017-02-12 16:55] kleisauke opened #18 "Output "auto" - return best optimized/supported format"
# Output "auto" - return best optimized/supported format [16591912] #

**Submitted by Binyamin on 10-10-2016 0:00:00**
**1 votes on UserVoice prior to migration**

Like https://images.weserv.nl/?url=rbx.weserv.nl/lichtenstein.jpg might return even better optimized image when returned as PNG, WebP, BPG or else. You can compare before returning the final result.
Still not all browsers supports WebP,

[2017-02-12 16:55] kleisauke opened #19 "Parameter "url" support also with http?://"
# Parameter "url" support also with http?:// [16592074] #

**Submitted by Binyamin on 10-10-2016 0:00:00**
**1 votes on UserVoice prior to migration**

I propose to allow parameter "url" support also http:// and https://, there are many reasons for it.
1. more consistent API with similar services
2. http and https may respond different results, for example https://a.b/kitties.jpg may return cats i

[2017-02-12 16:55] kleisauke opened #20 "API params without query usage"
# API params without query usage [16592635] #

**Submitted by Binyamin on 10-10-2016 0:00:00**
**1 votes on UserVoice prior to migration**

Problem:
1. The "url" value might contain query params used in images.weserv.nl API what causes https://images.weserv.nl/?w=30&h=30&url=domain.com/image&w=300&h=300 return image size 300x300 while expected in size 30x30. And what if http://domain.com/image&w=3

[2017-02-12 16:55] kleisauke opened #21 "Supporting IPv6"
# Supporting IPv6 [2478866] #

**Submitted by Andries Louw Wolthuizen on 29-12-2011 0:00:00**
**0 votes on UserVoice prior to migration**

**[Original UserVoice Submission](https://imagesweserv.uservoice.com/forums/144259-images-weserv-nl-general/suggestions/2478866)**

[2017-02-12 16:55] kleisauke opened #22 "SSL-support on client-side"
# SSL-support on client-side [2478869] #

**Submitted by Andries Louw Wolthuizen on 29-12-2011 0:00:00**
**0 votes on UserVoice prior to migration**

Make the service reachable over https://

**[Original UserVoice Submission](https://imagesweserv.uservoice.com/forums/144259-images-weserv-nl-general/suggestions/2478869)**

[2017-02-12 16:55] kleisauke opened #23 "Chosable transformations"
# Chosable transformations [2478876] #

**Submitted by Andries Louw Wolthuizen on 29-12-2011 0:00:00**
**0 votes on UserVoice prior to migration**

Let users choose how the image should be resized.

**[Original UserVoice Submission](https://imagesweserv.uservoice.com/forums/144259-images-weserv-nl-general/suggestions/2478876)**

[2017-02-12 16:55] kleisauke opened #24 "Aligning"
# Aligning [2570350] #

**Submitted by sinz on 5-2-2012 0:00:00**
**1 votes on UserVoice prior to migration**

Image can be aligning to top, bottom,
somthing like http://www.binarymoon.co.uk/demo/timthumb-cropping/

## Response ##
**by Andries Louw Wolthuizen on 17-2-2012 0:00:00**

Updated the documentation, which marks this suggestion as completed!

## Comments ##

#### Comment by Andries Louw W

[2017-02-12 16:56] kleisauke opened #25 "[bug] blogspot image bug"
# [bug] blogspot image bug [2572791] #

**Submitted by sinz on 6-2-2012 0:00:00**
**1 votes on UserVoice prior to migration**

i dont know all blogspot images will be all black if t=square
no problem if t=absolute
eg:
http://images.weserv.nl/?t=square&w=60&h=60&url=1.bp.blogspot.com%2F-K3KwoQUq90A%2FTy-Lt-N4feI%2FAAAAAAAADMA%2F1qVfxFFmvm8%2Fs72-c%2FUntitled%252B1.jpg
http://images.weserv.nl/?t=abs

[2017-02-12 16:56] kleisauke opened #26 "+ bug"
# + bug [2586863] #

**Submitted by sinz on 10-2-2012 0:00:00**
**1 votes on UserVoice prior to migration**

replace + with 2%b but same result
http://4.bp.blogspot.com/-y2_gvZppkms/TxHHbS8Z6jI/AAAAAAAABIc/DbFuRlaA8Ks/s72-c/Honda+NSX+concept+copy.jpg
http://images.weserv.nl/?url=4.bp.blogspot.com/-y2_gvZppkms/TxHHbS8Z6jI/AAAAAAAABIc/DbFuRlaA8Ks/s72-c/Honda%2BNSX%2Bconcept+copy.jpg

## Response ##

[2017-02-12 16:56] kleisauke opened #27 "turn of the debug"
# turn of the debug [2592037] #

**Submitted by sinz on 12-2-2012 0:00:00**
**1 votes on UserVoice prior to migration**

http://i.imgur.com/dgJ6H.png

## Response ##
**by Andries Louw Wolthuizen on 12-2-2012 0:00:00**

Done! Thank you

**[Original UserVoice Submission](https://imagesweserv.uservoice.com/forums/144259-images-weserv-nl-general/suggestions/2592037)**

[2017-02-12 16:56] kleisauke opened #28 "error 404"
# error 404 [2607996] #

**Submitted by sinz on 18-2-2012 0:00:00**
**1 votes on UserVoice prior to migration**

screenshot - http://i.imgur.com/LXD7W.png
http://images.weserv.nl/index.php?url=2.bp.blogspot.com/-vMJlc3TgDqE/Tz7i0kzGWkI/AAAAAAAAHic/6D4_b0kPT5o/s72-c/frontpage.jpg&w=60&h=60&t=square';
the image is here ;status code:200 - http://2.bp.blogspot.com/-vMJlc3TgDqE/Tz7i0kzGWkI/AAAAAAAAHic/

[2017-02-12 16:56] kleisauke opened #29 "image bug"
# image bug [2624073] #

**Submitted by sinz on 24-2-2012 0:00:00**
**1 votes on UserVoice prior to migration**

http://images.weserv.nl/?url=4.bp.blogspot.com/-OolsZerGQ7Q/TvhWw7lwiuI/AAAAAAAAAmM/-vxLDJulH_k/s72-c/nike-just-do-it.jpg&w=120&h=120&t=square
http://images.weserv.nl/?url=4.bp.blogspot.com/-OolsZerGQ7Q/TvhWw7lwiuI/AAAAAAAAAmM/-vxLDJulH_k/s72-c/nike-just-do-it.jpg&w=60&h=60&t=square

##

[2017-02-12 16:56] kleisauke opened #30 "bug?"
# bug? [2640029] #

**Submitted by sinz on 1-3-2012 0:00:00**
**1 votes on UserVoice prior to migration**

screenshot - http://i.imgur.com/D9GKn.png
actual image - http://i1214.photobucket.com/albums/cc482/mediamalaya/neelofa1.jpg
http://images.weserv.nl/?url=i1214.photobucket.com/albums/cc482/mediamalaya/neelofa1.jpg

## Response ##
**by Andries Louw Wolthuizen on 19-3-2012 0:00:00**

That image

[2017-02-12 16:56] kleisauke opened #31 "What happened to SPDY Support?"
# What happened to SPDY Support? [2679854] #

**Submitted by Ataa on 14-3-2012 0:00:00**
**1 votes on UserVoice prior to migration**

## Response ##
**by Andries Louw Wolthuizen on 5-1-2013 0:00:00**

Together with CloudFlare SPDY is again enabled for images.weserv.nl!
We’ll continue to fine-tune SPDY-support over the next few weeks.

## Comments ##

#### Comment by Andries Louw Wolthuizen (Webmas

[2017-02-12 16:57] kleisauke opened #32 "Add a parameter to define the compression level"
# Add a parameter to define the compression level [2693320] #

**Submitted by Anonymous on 18-3-2012 0:00:00**
**0 votes on UserVoice prior to migration**

At the moment the JPEG Compression level seems quite high, would be great to have a way to control it.

## Response ##
**by Andries Louw Wolthuizen on 31-3-2012 0:00:00**

Added the parameter &q=
You can use any value between 0 and 95. If you d

[2017-02-12 16:57] kleisauke opened #33 "Add support to fetch images over HTTPS"
# Add support to fetch images over HTTPS [2693328] #

**Submitted by Anonymous on 18-3-2012 0:00:00**
**0 votes on UserVoice prior to migration**

## Response ##
**by Andries Louw Wolthuizen on 5-1-2013 0:00:00**

Sorry for the late update on this question, but you can now use the prefix ssl:
Example:
http://images.weserv.nl/?url=ssl:www.google.com/logos/logo.gif
Will fetch https://www.google.com/

[2017-02-12 16:57] kleisauke opened #34 "Add Pricing info"
# Add Pricing info [2813884] #

**Submitted by tlianza on 1-5-2012 0:00:00**
**1 votes on UserVoice prior to migration**

Your service matches exactly what I'm looking for, but I'm unclear if it's a business I can rely on, or a project that's for fun. If the former, what is the pricing/terms? If the latter, is the code open source by chance?

## Response ##
**by Andries Louw Wolthuizen on 15-7-201

[2017-02-12 16:57] kleisauke opened #35 "Add a "Scale to Fill" resize feature"
# Add a "Scale to Fill" resize feature [2834089] #

**Submitted by tlianza on 8-5-2012 0:00:00**
**1 votes on UserVoice prior to migration**

The service is fantastic and it may be the case that no one thus far is in need of this, but one thing we do at http://www.wishpot.com/ is crop images in such a way that they fill a rectangle, even if that means we have to cut out part of the image (via over

[2017-02-12 16:57] kleisauke opened #36 "404 image bug"
# 404 image bug [2924845] #

**Submitted by sinz on 14-6-2012 0:00:00**
**1 votes on UserVoice prior to migration**

the image return 200 status - http://static.palingseru.com/2012/06/a98208_rsz_blow-up-doll-clothes-12-300x217.jpg
http://images.weserv.nl/?url=static.palingseru.com/2012/06/a98208_rsz_blow-up-doll-clothes-12-300x217.jpg&w=60&h=60&t=square&a=t

## Response ##
**by Andries Louw Wolthu

[2017-02-12 16:57] kleisauke opened #37 "Return default image if the image's URL not found"
# Return default image if the image's URL not found [2924913] #

**Submitted by Alif Alfiandy on 14-6-2012 0:00:00**
**12 votes on UserVoice prior to migration**

Let say if the image from hosting was removed but the image's URL is still in the database, then it will not load the image as the 404 error happens. My idea is, to replace the 404 error with default image so that we will never see the b

[2017-02-12 16:57] kleisauke opened #38 "Imgur Problem"
# Imgur Problem [2992165] #

**Submitted by sinz on 11-7-2012 0:00:00**
**1 votes on UserVoice prior to migration**

http://i.imgur.com/GXoWy.jpg working fine but
http://images.weserv.nl/?url=i.imgur.com/GXoWy.jpg&w=60&h=60&t=square&a=t
return "Error 404: Server could not reach the ?url= that you were looking for. The file doesn't exists, or it isn't a valid image. " error

## Response ##
**by And

[2017-02-12 16:58] kleisauke opened #39 "able to remove black/white whitespace"
# able to remove black/white whitespace [3083264] #

**Submitted by sinz on 17-8-2012 0:00:00**
**1 votes on UserVoice prior to migration**

able to trim/remove black bar such as on youtube.
eg: http://i.ytimg.com/vi/9bZkp7q19f0/hqdefault.jpg to http://i.imgur.com/hBDi4.png

## Response ##
**by Andries Louw Wolthuizen on 5-1-2013 0:00:00**

Wrote an implementation for your idea, would you please t

[2017-02-12 16:58] kleisauke opened #40 "If the images were modified, does the proxy will refresh it after a certain period of time? Thanks."
# If the images were modified, does the proxy will refresh it after a certain period of time? Thanks. [3153039] #

**Submitted by Spencer on 12-9-2012 0:00:00**
**1 votes on UserVoice prior to migration**

If the images were modified, does the proxy will refresh it after a certain period of time? Thanks.

## Response ##
**by Andries Louw Wolthuizen on 15-11-2012 0:00:00**

The proxy caches images

[2017-02-12 16:58] kleisauke opened #41 "resize with get parameter image"
# resize with get parameter image [3340674] #

**Submitted by sinz on 10-11-2012 0:00:00**
**1 votes on UserVoice prior to migration**

how do i resize this image?
http://www.espnstar.my/servlet/file/867564_33_preview.jpg?ITEM_ENT_ID=867564&ITEM_VERSION=2&COLLSPEC_ENT_ID=10&FILE_SERVICE_CONF_ID=33

## Response ##
**by Andries Louw Wolthuizen on 15-11-2012 0:00:00**

By url encoding all parameters:

[2017-02-12 16:58] kleisauke opened #42 "follow url"
# follow url [3351717] #

**Submitted by sinz on 14-11-2012 0:00:00**
**1 votes on UserVoice prior to migration**

can it follow this url?
bm.malaysia-chronicle.com/media/k2/items/cache/292622165e02da58dae9b0058e6c4311_Generic.jpg
it will redirect to http://cdnbm.malaysia-chronicle.com/media/k2/items/cache/292622165e02da58dae9b0058e6c4311_Generic.jpg

## Response ##
**by Andries Louw Wolthuizen on

[2017-02-12 16:58] kleisauke opened #43 "Need Implement 304 Not modify Http Response code"
# Need Implement 304 Not modify Http Response code [3356424] #

**Submitted by Thanh Tung on 15-11-2012 0:00:00**
**1 votes on UserVoice prior to migration**

Hi your service is so good and very useful for me. But you need implement "304 Not Modified" to reduce your server bandwidth and response time when image reload.
Thanks so much.

## Response ##
**by Andries Louw Wolthuizen on 5-1-2013 0:00:0

[2017-02-12 16:58] kleisauke opened #44 "Add image compression!!"
# Add image compression!! [3386044] #

**Submitted by Uri Goldshtein on 25-11-2012 0:00:00**
**1 votes on UserVoice prior to migration**

That will be a huge help!

## Response ##
**by Andries Louw Wolthuizen on 19-9-2013 0:00:00**

What compression do you mean?
GZip compression is disabled, because it increases filesizes for JPEG-images, and it increases CPU-load on client and server.
JPEG-compre

[2017-02-12 16:58] kleisauke opened #45 "Allow us to host on our own server"
# Allow us to host on our own server [3519754] #

**Submitted by Marcus Greenwood on 5-1-2013 0:00:00**
**1 votes on UserVoice prior to migration**

It would be great if we can self-host this. Is it open source?

## Response ##
**by Andries Louw Wolthuizen on 19-9-2013 0:00:00**

The image proxy is free for use to anyone, and we offer it as-is, it’s just basic image resizing, available to anyone,

[2017-02-12 16:59] kleisauke opened #46 "CNAME to allow for nicer URLs"
# CNAME to allow for nicer URLs [3519776] #

**Submitted by Marcus Greenwood on 5-1-2013 0:00:00**
**4 votes on UserVoice prior to migration**

It would be cool if we could do the following.
1. CNAME our own subdomain e.g. images.mydomain.com -> images.weserv.nl
2. Then reference images like so: http://images.mydomain.com/path/to/myimage.png?width=64
This would effectively be the same as http://im

[2017-02-12 16:59] kleisauke opened #47 "Error 404?"
# Error 404? [3616797] #

**Submitted by anonymouse on 3-2-2013 0:00:00**
**1 votes on UserVoice prior to migration**

This url: statik.tempo.co/?id=164903 returns Error 404
Tried:
https://images.weserv.nl/?url=statik.tempo.co%2F%3Fid%3D164903
https://images.weserv.nl/?url=statik.tempo.co/?id=164903

## Response ##
**by Andries Louw Wolthuizen on 3-2-2013 0:00:00**

Error resolved, cause unknown,

[2017-02-12 16:59] kleisauke opened #48 "png transparency is lost"
# png transparency is lost [3835046] #

**Submitted by anonymous on 9-4-2013 0:00:00**
**1 votes on UserVoice prior to migration**

png transparency is lost

## Response ##
**by Andries Louw Wolthuizen on 6-6-2013 0:00:00**

I’m sorry, can you give me an example which fails? It seems to work to me:
http://images.weserv.nl/?url=upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Wikipe-tan_in_navy_un

[2017-02-12 16:59] kleisauke opened #49 "Add circle effect to photos"
# Add circle effect to photos [3910149] #

**Submitted by korayem on 30-4-2013 0:00:00**
**4 votes on UserVoice prior to migration**

## Response ##
**by Andries Louw Wolthuizen on 10-5-2013 0:00:00**

I modified the effect to your requirements, is this like you want it?
Without:
https://images.weserv.nl/?url=www.bestwalls.net/wp-content/uploads/2013/03/nature-wallpapers-high-resolution.jpg&h=400

[2017-02-12 16:59] kleisauke opened #50 "Add parameter to use progressive jpegs"
# Add parameter to use progressive jpegs [3998911] #

**Submitted by Michal on 26-5-2013 0:00:00**
**1 votes on UserVoice prior to migration**

## Response ##
**by Andries Louw Wolthuizen on 26-5-2013 0:00:00**

I added the parameter &il
This will add interlacing to GIF and PNG. For JPEG it will add progressive rendering of the resulting image.
Example, normal:
http://images.weserv.nl/?url=upload.

[2017-02-12 16:59] kleisauke opened #51 "Images uploaded from mobile devices turned sideways"
# Images uploaded from mobile devices turned sideways [4003609] #

**Submitted by Malte on 28-5-2013 0:00:00**
**1 votes on UserVoice prior to migration**

This image was uploaded from a mobile device. The browser rotates it automatically:
http://static.living.is/gallery/original/1e6a051bbec8ac3471a779936b8f43a7.jpg
Resized by your servers, its turned sideways.
http://images.weserv.nl/?url=static.

[2017-02-12 16:59] kleisauke opened #52 "to support url with unicode characters"
# to support url with unicode characters [4033438] #

**Submitted by Simon Lock on 6-6-2013 0:00:00**
**1 votes on UserVoice prior to migration**

## Response ##
**by Andries Louw Wolthuizen on 11-10-2013 0:00:00**

Added basic support for unicode characters: http://images.weserv.nl/?url=upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Piktogramm_Verbot_%DF.svg/500px-Piktogramm_Verbot_%DF.svg.png

[2017-02-12 17:00] kleisauke opened #53 "Error 404?"
# Error 404? [4039549] #

**Submitted by Anonymous on 7-6-2013 0:00:00**
**1 votes on UserVoice prior to migration**

url 1: https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/486362_574580832586511_1342350572_n.jpg
url 2: http://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/486362_574580832586511_1342350572_n.jpg
Error 404: https://images.weserv.nl/?url=ssl:fbcdn-sphotos-h-a.akamaihd.net/hph

[2017-02-12 17:00] kleisauke opened #54 "Are you saving / caching images forever?"
# Are you saving / caching images forever? [4238722] #

**Submitted by Nick @ www.merq.org on 27-7-2013 0:00:00**
**0 votes on UserVoice prior to migration**

You are caching the images. But how long? When does the server refresh images?
Example: Image chached, original image deleted. Does the server output the image after some time?
Thanks!

## Response ##
**by Andries Louw Wolthuizen on 19-9-201

[2017-02-12 17:00] kleisauke opened #55 "BUG: Redirecting the browser on facebook fbcdn links"
# BUG: Redirecting the browser on facebook fbcdn links [4277688] #

**Submitted by wasabi on 7-8-2013 0:00:00**
**1 votes on UserVoice prior to migration**

I've noticed when using weserv as a HTTPS wrapper, it somehow decides to redirect the browser which breaks the green lock (mixed content warning).
I suggest the default behavior is never to redirect the user.
Here is the link.
https://images.w

[2017-02-12 17:00] kleisauke opened #56 "Animated GIFs on Facebook do not animate"
# Animated GIFs on Facebook do not animate [4345119] #

**Submitted by Anonymous on 27-8-2013 0:00:00**
**1 votes on UserVoice prior to migration**

Animated GIFs on Facebook do not animate.
They are JPG extensioned.
Sample:
Direct, animated:
https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash2/251820_447832188581840_821313291_n.jpg
images.weserv.nl, inanimated:
https://images.weserv.nl/?url=ssl

[2017-02-12 17:00] kleisauke opened #57 "Running 'images.weserv.nl' internally on our company's server"
# Running 'images.weserv.nl' internally on our company's server [4358104] #

**Submitted by James Park on 29-8-2013 0:00:00**
**1 votes on UserVoice prior to migration**

I'm developing book-based social networking service.
Can you open your source to our company to use 'images.weserv.nl' internally?
if there is any terms and conditions to use your source code, let me know.
My email is james1063@g

[2017-02-12 17:00] kleisauke opened #58 "Make an up-to parameter"
# Make an up-to parameter [4514123] #

**Submitted by Christoffer on 1-10-2013 0:00:00**
**4 votes on UserVoice prior to migration**

Make it possible to define if the image should be resized over its original dimensions:
Fx:
http://images.weserv.nl/?w=200&h=150&url=website.com/image_w400h300.jpg
- returns an 200w 150h image
http://images.weserv.nl/?w=800&h=600&url=website.com/image_w400h300.jpg
-

[2017-02-12 17:00] kleisauke opened #59 "Return image base64 encoded"
# Return image base64 encoded [4522336] #

**Submitted by Nick @ www.merq.org on 2-10-2013 0:00:00**
**14 votes on UserVoice prior to migration**

Hello,
I like your service very much!
Could you please add a parameter for encoding?
Example: &encoding=base64 returns the base64_encode($image) string.
Thats very useful for embedding images directly. And the string is cached via Cloudflare. So it's fa

[2017-02-12 17:01] kleisauke opened #60 "Please add additional parameters to documentation!"
# Please add additional parameters to documentation! [4755709] #

**Submitted by Anonymous on 23-10-2013 0:00:00**
**3 votes on UserVoice prior to migration**

For example &fnr or $encoding are very important parameters for the official documentation ;)

## Response ##
**by Andries Louw Wolthuizen on 10-11-2013 0:00:00**

Updated the documentation, it may take some time to propagate to all servers

[2017-02-12 17:01] kleisauke opened #61 "disable auto grow when using t=square"
# disable auto grow when using t=square [4794715] #

**Submitted by Idan Bercovici on 26-10-2013 0:00:00**
**1 votes on UserVoice prior to migration**

Hi,
i use your service and it's a great one.
i use t=square, the problem for me is that if the image is smaller than the W and H parameters - the image is enlarged to fit these parameters. i will really appreciate if you make it possible to control

[2017-02-12 17:01] kleisauke opened #62 "Format conversion"
# Format conversion [5097964] #

**Submitted by Seb on 30-11-2013 0:00:00**
**1 votes on UserVoice prior to migration**

As I strictly need progressive jpg images, without knowing input format, please add format conversion.
Parameter &of=png, default to input format if not set.
Please note I only need png2jpg.
Thank you and congrats for this wonderful service!

## Response ##
**by Andries Louw Wol

[2017-02-12 17:01] kleisauke opened #63 "Fixing animated GIF (IDEA)"
# Fixing animated GIF (IDEA) [5146226] #

**Submitted by RME on 7-12-2013 0:00:00**
**6 votes on UserVoice prior to migration**

If you cant render gifs in other sizes you can just only cache them in the original size.
So if you request a gif you get it in original size (animated) but if you want to resize it you cant (it gets static).
Summary:
If the image is a GIF do not resize it, only cache it

[2017-02-12 17:01] kleisauke opened #64 "store-only option"
# store-only option [5701315] #

**Submitted by User1212 on 30-3-2014 0:00:00**
**1 votes on UserVoice prior to migration**

Thanks for this great service!
Please make a parameter (e.g. "q=store") that disables all image processing (also default jpeg compression) and just keeps the original image in the CDN to allow hosting images that do not need further changes (e.g. small jpg images)
Thanks!

#

[2017-02-12 17:01] kleisauke opened #65 "Remove query strings from static resources"
# Remove query strings from static resources [5701330] #

**Submitted by User1212 on 30-3-2014 0:00:00**
**1 votes on UserVoice prior to migration**

Thanks for this great service!
Please make it possible to set all parameters without query strings. This allows better proxy caching.
https://developers.google.com/speed/docs/best-practices/caching#LeverageProxyCaching
so the image url
<img src="http

[2017-02-12 17:01] kleisauke opened #66 "Specify a cache validator"
# Specify a cache validator [5701336] #

**Submitted by User1212 on 30-3-2014 0:00:00**
**1 votes on UserVoice prior to migration**

Thanks for this great service!
Please specify a Last-Modified (preferred) or ETag header to enable better browser cache validation.
https://developers.google.com/speed/docs/best-practices/caching#LeverageBrowserCaching
Thanks!

## Response ##
**by Andries Louw Wolthu

[2017-02-12 17:02] kleisauke opened #67 "Disallow robots"
# Disallow robots [5824558] #

**Submitted by Nick @ www.merq.org on 24-4-2014 0:00:00**
**3 votes on UserVoice prior to migration**

Please disallow robots to index images. You could also create a subdirectory, for example http://images.weserv.nl/norobots/?url=...
It's very important because webhosters could not change this value in their own robots.txt for external images.

## Response ##
**by A

[2017-02-12 17:02] kleisauke opened #68 "support webp format"
# support webp format [5856116] #

**Submitted by sinz on 29-4-2014 0:00:00**
**2 votes on UserVoice prior to migration**

we need webp support as google started to implement this on blogspot

## Response ##
**by Andries Louw Wolthuizen on 3-5-2014 0:00:00**

Partial support for WEBP has been implemented. We’re not outputting WEBP towards browsers, and all WEBP-files are internally converted to PN

[2017-02-12 17:02] kleisauke opened #69 "Allow blur transformation (with radius parameter)"
# Allow blur transformation (with radius parameter) [5873014] #

**Submitted by Guillaume Lecomte on 2-5-2014 0:00:00**
**6 votes on UserVoice prior to migration**

CSS3 "filter: blur(px)" has a tendency to slow down the entire page.
As a workaround I use the javascript StackBlur library but it would really be a nice feature to delegate that to an images server with proper caching.

## Response ##

[2017-02-12 17:02] kleisauke opened #70 "Wider image format support"
# Wider image format support [5877622] #

**Submitted by Andries Louw Wolthuizen on 3-5-2014 0:00:00**
**4 votes on UserVoice prior to migration**

In an effort to support more image formats (such as TIFF, WEBP, PDF-thumbnails, etc), we're testing with delegating some file-formats to a new library. Please be advised that we're "officially" only supporting GIF, JPEG, PNG and BMP files.
All non GIF/

[2017-02-12 17:02] kleisauke opened #71 "provide css & js cache as well"
# provide css & js cache as well [6013510] #

**Submitted by Apasajja on 5-6-2014 0:00:00**
**2 votes on UserVoice prior to migration**

I want to suggest to provide cache for css & js as well.

## Response ##
**by Andries Louw Wolthuizen on 16-8-2014 0:00:00**

The scope of the proxy will be limited to images; it’s what we’re good at. For static file CDN solutions you could look at CloudFlare’s s

[2017-02-12 17:02] kleisauke opened #72 "Moving to Server Name Indication SSL certificates"
# Moving to Server Name Indication SSL certificates [6834713] #

**Submitted by anonymous on 12-12-2014 0:00:00**
**1 votes on UserVoice prior to migration**

It seems that the new SSL certificate, dated Sat Dec 06 16:00:00 PST 2014, outdated old browsers/ssl clients. Could you check your ceritificate and usage of SNI?
https://www.ssllabs.com/ssltest/analyze.html?d=images.weserv.nl&s=104.28.18.104

[2017-02-12 17:02] andrieslouw commented on #15
See https://github.com/andrieslouw/imagesweserv/issues/68

[2017-02-12 17:02] kleisauke opened #73 "Problem with direct server ip addresses (IPv4 & IPv6)"
# Problem with direct server ip addresses (IPv4 & IPv6) [6937203] #

**Submitted by Amir on 8-1-2015 0:00:00**
**1 votes on UserVoice prior to migration**

guilan.ac.ir/gallery//IMG_5371.jpg works fine, but
89.144.141.141/gallery//IMG_5371.jpg doesn't work
both of them are one picture on one server
this is an example, i tested several other sites and problem exist

## Response ##
**by Andries Louw

[2017-02-12 17:02] kleisauke opened #74 "Are there any way to remove a pic from the cache manually?"
# Are there any way to remove a pic from the cache manually? [7077457] #

**Submitted by Marcsello on 10-2-2015 0:00:00**
**2 votes on UserVoice prior to migration**

I wrote a very simple photobook application which generates thumbnails using this service, but some of the images messed up for the first time, so I re uploaded them at the same name, but weserv still serve the old one due to cached,

[2017-02-12 17:03] kleisauke opened #75 "support SVG image format"
# support SVG image format [7236402] #

**Submitted by R+pixnet on 17-3-2015 0:00:00**
**5 votes on UserVoice prior to migration**

## Response ##
**by Andries Louw Wolthuizen on 4-2-2016 0:00:00**

I added (early) SVG support, it will output as PNG by default, example:
https://images.weserv.nl/?url=dev.w3.org/SVG/tools/svgweb/samples/svg-files/rg1024_green_grapes.svg&w=300
Commit:
https://github.

[2017-02-12 17:03] kleisauke opened #76 "Add support for icon (.ico) files"
# Add support for icon (.ico) files [7550209] #

**Submitted by Jacob H on 13-4-2015 0:00:00**
**2 votes on UserVoice prior to migration**

This would be useful for shortcut icons, such as http://www.google.co.uk/favicon.ico

## Response ##
**by Andries Louw Wolthuizen on 17-5-2015 0:00:00**

I’ve implemented .ico support, but this is only for .ico files as source.
Example: http://images.weserv.nl

[2017-02-12 17:03] kleisauke opened #77 "Animated gif"
# Animated gif [7998564] #

**Submitted by Seung Yeon, You on 17-5-2015 0:00:00**
**1 votes on UserVoice prior to migration**

animated gif support will be amazing.
It will be easy if you don't support resize or crop animated gif.

## Response ##
**by Andries Louw Wolthuizen on 17-5-2015 0:00:00**

We don’t support animated gifs (anymore). With the current loads it’s too computational intensive fo

[2017-02-12 17:03] kleisauke opened #78 "Add image filename in HTTP Header."
# Add image filename in HTTP Header. [8072553] #

**Submitted by LI-NA on 22-5-2015 0:00:00**
**3 votes on UserVoice prior to migration**

There are no file name in HTTP header.
This mean, when downloading image to "Save This Image", it's filename is default of browser.
But in mobile, it's file name likes 'download.bin'! It is not iamge extensions!
Please add image filename in http header for supp

[2017-02-12 17:03] kleisauke opened #79 "php api"
# php api [8808709] #

**Submitted by Anonymous on 11-7-2015 0:00:00**
**1 votes on UserVoice prior to migration**

[code]

## Response ##
**by Andries Louw Wolthuizen on 19-10-2015 0:00:00**

Maybe the API needs to be modified a little bit to add “ssl:” for https resources. I will also look into solving this problem on the end of the proxy.

## Comments ##

#### Comment by Darpa on 18-3-2016 7:52

[2017-02-12 17:03] kleisauke opened #80 "letterbox images that need to fit"
# letterbox images that need to fit [9495519] #

**Submitted by bvarent on 26-8-2015 0:00:00**
**54 votes on UserVoice prior to migration**

In the current implementation, if an image needs to fit a given w/h, and its original aspect ratio is not similar to the requested, either the resulting w or h will be less, to keep the aspect ratio. However, sometimes (e.g. in e-mails) it is required to have

[2017-02-12 17:03] kleisauke opened #81 "Background setting"
# Background setting [9558300] #

**Submitted by Nick @ www.merq.org on 31-8-2015 0:00:00**
**7 votes on UserVoice prior to migration**

I've problems with transparent images. Could you please have a look?
Image 1: https://images.weserv.nl/?url=www.briefklick.de%2Ffavicon.ico&w=64&h=64&t=square&output=gif
Image 2: https://images.weserv.nl/?url=www.vavideo.de%2Ffavicon.ico&w=64&h=64&t=square&output

[2017-02-12 17:04] #77 closed

[2017-02-12 17:04] #73 closed

[2017-02-12 17:04] #72 closed

[2017-02-12 17:04] #71 closed

[2017-02-12 17:04] #67 closed

[2017-02-12 17:04] #66 closed

[2017-02-12 17:04] #65 closed

[2017-02-12 17:04] #64 closed

[2017-02-12 17:04] #63 closed

[2017-02-12 17:04] #60 closed

[2017-02-12 17:04] #59 closed

[2017-02-12 17:04] #58 closed

[2017-02-12 17:04] #57 closed

[2017-02-12 17:04] #56 closed

[2017-02-12 17:04] #55 closed

[2017-02-12 17:04] #54 closed

[2017-02-12 17:04] #53 closed

[2017-02-12 17:04] #52 closed

[2017-02-12 17:04] andrieslouw commented on #16
See https://github.com/andrieslouw/imagesweserv/issues/66

[2017-02-12 17:04] #51 closed

[2017-02-12 17:04] #50 closed

[2017-02-12 17:04] #49 closed

[2017-02-12 17:04] #48 closed

[2017-02-12 17:04] #47 closed

[2017-02-12 17:05] #46 closed

[2017-02-12 17:05] #45 closed

[2017-02-12 17:05] #44 closed

[2017-02-12 17:05] #43 closed

[2017-02-12 17:05] #41 closed

[2017-02-12 17:05] #40 closed

[2017-02-12 17:05] #39 closed

[2017-02-12 17:05] #38 closed

[2017-02-12 17:05] #36 closed

[2017-02-12 17:05] #35 closed

[2017-02-12 17:05] #34 closed

[2017-02-12 17:05] #33 closed

[2017-02-12 17:05] #32 closed

[2017-02-12 17:05] #31 closed

[2017-02-12 17:05] #30 closed

[2017-02-12 17:05] #29 closed

[2017-02-12 17:05] #28 closed

[2017-02-12 17:05] #27 closed

[2017-02-12 17:05] #26 closed

[2017-02-12 17:05] #25 closed

[2017-02-12 17:05] #24 closed

[2017-02-12 17:05] #23 closed

[2017-02-12 17:05] #22 closed

[2017-02-12 17:05] #21 closed

[2017-02-12 17:05] #20 closed

[2017-02-12 17:06] #19 closed

[2017-02-12 17:06] #18 closed

[2017-02-12 17:06] #17 closed

[2017-02-12 17:06] #16 closed

[2017-02-12 17:06] #12 closed

[2017-02-12 17:06] #11 closed

[2017-02-12 17:06] #10 closed

[2017-02-12 17:06] #8 closed

[2017-02-12 17:06] #7 closed

[2017-02-12 17:06] andrieslouw commented on #19
See https://github.com/andrieslouw/imagesweserv/issues/33

[2017-02-12 17:06] #6 closed

[2017-02-12 17:09] andrieslouw commented on #46
See https://github.com/andrieslouw/imagesweserv/issues/45

[2017-02-12 17:25] andrieslouw commented on #80
See https://github.com/andrieslouw/imagesweserv/issues/81

[2017-02-12 17:25] andrieslouw commented on #81
See https://github.com/andrieslouw/imagesweserv/issues/80

[2017-02-12 17:26] andrieslouw commented on #74
See https://github.com/andrieslouw/imagesweserv/issues/14

[2017-02-12 17:26] andrieslouw commented on #14
See https://github.com/andrieslouw/imagesweserv/issues/74

[2017-02-12 19:04] marcselman commented on #80
Awesome that this is going to be implemented.
Maybe make transparency available for png images and fallback to white (or another defined color) for jpg images.

[2017-02-12 22:03] #61 closed

[2017-02-12 22:04] #9 closed

[2017-02-12 22:05] andrieslouw commented on #15
See https://github.com/andrieslouw/imagesweserv/issues/62

[2017-02-12 22:05] andrieslouw commented on #68
See https://github.com/andrieslouw/imagesweserv/issues/62

[2017-02-12 22:06] andrieslouw commented on #76
Needs https://github.com/jcupitt/php-vips/issues/34 for milestone v3.0.0

[2017-02-18 08:40] uok opened #82 "Image without parameters bigger than original"
Thanks for this great tool (and also moving to github)

Today I noticed that if you forget to set parameters the size of the new image is bigger than the original, e.g.
[code]
In this case sending the unprocessed data from original image could help saving bandwidth and computing time

[2017-02-18 09:57] kleisauke commented on #82
Hello, that logo will probably have been `pngcrush`ed. `pngcrush` tries combinations of compression level and row filter settings to see which produces the smallest output.

With commit 79f7f22 (on the [3.x branch](https://github.com/andrieslouw/imagesweserv/tree/3.x)) and the logo you have provided the new image size on our test environment is `6714 bytes` (an increase of 12.48%). If we set `zlib

[2017-02-18 11:06] uok commented on #82
Thanks for the fast response and compression settings! I think those two checks would be a good improvement.

The same goes for a JPG image which is not transformed: if new dimensions (height, width) are the same as the old ones you usually end up with a much larger image because of decompressing and compressing afterwards (e.g. with standard quality setting of 85). Here a comparison of new data s

[2017-02-20 09:31] leongersen opened #83 "Cloudflare IP Ban"
Someone at my company decided to scrape some of our websites, hitting the weserv server an excessive amount of times. I guess some rate limit kicked in and -rightfully- banned our IP. Is there a way to get unbanned?

I yelled at my collegue and he won't do it again.

[2017-02-20 10:11] andrieslouw commented on #83
Please grab a coffee, bans only last for one hour, and should be lifted automatically (like magic!). If it happens more often, we could relax the limits a bit, if you let me know what you're trying to do in advance.

And yelling at your colleagues is never appropriate, maybe you could put them on coffee-duty for a week or so ;-)

[2017-02-20 12:58] leongersen commented on #83
Ah, great news, all is well again. I wouldn't dare to *actually* yell, I just look really disappointed and hope the message sticks. Thanks!

[2017-02-20 12:58] #83 closed, assigned to nobody

[2017-02-20 13:24] kleisauke commented on #82
We decided to not implement this feature. There are 2 reasons for this:
- When we first completely process the image, then comparing the original image with the processed image, and then perhaps return the original image again, it all takes longer than simply return the processed image.
- We're stripping all metadata (EXIF, XMP, IPTC) from the output image. Also, we're doing auto-orient based on t

[2017-02-20 13:24] #82 closed, assigned to nobody

[2017-02-26 15:25] noahbody-knows commented on #83
What is the actual limit, by the way?  I've been playing with a Greasemonkey script to add cover thumbnails to a book site, and it tends to trip the ban within a few pages (at a couple hundred thumbnails per page).

One rather surprising thing about it is that loading *the same images* from a different IP results in a ban for that second IP, even though it seems those images should already be bein

[2017-02-26 15:34] andrieslouw commented on #83
The limit is around 700 images per 3 minutes. CloudFlare works a bit like magic, because the caching is done per datacenter. With around 100+ datacenters, it could be that your second IP is hitting another datacenter.

[2017-03-05 11:42] hakimihamdan88 commented on #37
embedly support errorurl parameter, The URL of the fall back image to use when url fails
see http://docs.embed.ly/docs/display

[2017-03-06 13:53] uok opened #84 "Image resizing bug"
Hello,

Today I noticed that using the width/height parameters sometimes does not output correctly resized image. There are no errors on original image and it is also possible to recreate this bug with sample images

[400x400](https://images.weserv.nl/?url=ssl:ipsumimage.appspot.com%2F400x400.png&q=90&w=150&h=150&t=fit) (w=150, h=150) -> output: 150x150 = correct
[400x180](https://images.weserv.nl

[2017-03-06 14:05] kleisauke commented on #84
The `&t=fit` parameter will **not** oversample the image if the requested size is larger than that of the original. Try `&t=fitup` this **will** increase the size of the image if it is smaller than the output size. See: https://github.com/andrieslouw/imagesweserv/issues/58

[2017-03-06 16:56] uok commented on #84
I know about the fitup parameter, but in this case I find it counter intuitive because one dimension e.g. original height is 400px which is larger than target h=150px. I would only use fitup if e.g. original image is 130x90 (= both dimensions < 150px) to resize it to 150 x [...] plus expected quality loss because of upscaling

[2017-03-06 18:12] andrieslouw commented on #84
We found the bug, I'm sorry for the trouble caused, caches are emptying right now.

[2017-03-06 18:15] kleisauke commented on #84
With the above commit it's fixed. Sorry for any inconvenience caused. I'll close this issue.

[2017-03-06 18:15] #84 closed, assigned to nobody

[2017-03-06 19:01] uok commented on #84
Confirmed, working as expected now! Thanks for the quick fix and have a nice day!

[2017-03-06 21:27] Phyxsius21 opened #85 "&shape=circle not working?"
Hey!
I'm trying to change the shape of [an image](https://images.weserv.nl/?url=avatar.leagueoflegends.com/summonerid/na/5908.png&shape=circle), but atm it's not working, although it was some hours ago.
Is there any problem on your end or it's me doing something wrong?

[2017-03-06 22:07] kleisauke commented on #85
It seems that this is a bug in our old script. Cropping to a circle without specifying the width (`&w=`) or height (`&h=`) is broken in that script. For example, this is fixable if you specify only the width:
https://images.weserv.nl/?url=avatar.leagueoflegends.com/summonerid/na/5908.png&w=128&shape=circle

If you were wondering why it did work some hours ago; we’re currently doing some tests with

[2017-03-10 01:11] degarb opened #86 "Cache control for weather images"
I wish to use the proxy to shave 600k in weather images.

Cache age can be no more than 60 minutes old.  I tried adding & cache controls. But I reload and the weather image still is pulling from the cache.

[2017-03-11 14:12] andrieslouw commented on #86
We will not adjust the cache age, it'll simply cause too much load on our servers, and the service needs to remain free to use for anyone. Please use the script, modify it, and host it for yourself. I'm sorry, but we previously tried such options, but they're really hard to sustain.

[2017-03-11 14:12] #86 closed, assigned to nobody

[2017-03-11 14:15] andrieslouw commented on #85
As stated, A/B-testing caused some issues here, old versions need both &h= and &w=, new versions work well with only one parameter given. It should be solved now. I'll close this issue.

[2017-03-11 14:15] #85 closed, assigned to nobody

[2017-03-27 17:41] degarb opened #87 "Easy installing - Docker"
I have only installed phonifier php before. And managed to write my own index.php, for my simple webpage that uses simple if/then and date variables to avoid javascript, which I hate with a passion.

I read readme, wiki.  Really no step by step directions for installing on my server. My goal to shave a half gig off my monthly cell bill: I check up to 120 weather images daily.  I need good compress

[2017-03-27 19:10] andrieslouw commented on #87
Step-by-step instructions are not available (yet), but I mostly understand that you would like an easy-to-setup way of running our code.

We will look if we can make a docker image from our repo for this purpose. Docker images should run regardless of operating system, and facilitate the ease of setup required by you.

Please allow us some time to experiment with docker, as there is some time inve

[2017-03-28 03:55] samfriend opened #88 "Support xhr request by Access-Control-Allow-Origin: *"
Support xhr request by Access-Control-Allow-Origin: *

add the header so we can use xhr to get the image?

[2017-03-28 17:59] andrieslouw commented on #88
Added the header, but most of the content will be cached for one month. I also still need to commit the changes in Nginx-config to this repo.

[2017-03-28 18:02] andrieslouw commented on #13
Fixed in current version.

[2017-03-28 18:02] #13 closed

[2017-03-28 18:07] andrieslouw commented on #69
&blur= has been implemented, see: https://images.weserv.nl/#effects

[2017-03-28 18:07] #69 closed

[2017-03-28 18:08] andrieslouw commented on #70
Fixed in current version.

[2017-03-28 18:08] #70 closed

[2017-03-28 18:10] andrieslouw commented on #75
Fixed in current version.

[2017-03-28 18:10] #75 closed

[2017-03-28 18:13] andrieslouw commented on #76
https://github.com/jcupitt/php-vips/issues/34 has been fixed, need to wait for libvips 8.5 to appear in repo's.

[2017-03-28 18:14] andrieslouw commented on #78
Fixed in current version.

[2017-03-28 18:14] #78 closed

[2017-03-28 18:19] andrieslouw commented on #80
Implemented, see https://images.weserv.nl/#trans-letterbox and https://images.weserv.nl/#background-bg

[2017-03-28 18:19] #80 closed

[2017-03-28 18:20] andrieslouw commented on #81
Implemented, see https://images.weserv.nl/#background-bg

[2017-03-28 18:20] #81 closed

[2017-03-28 18:22] andrieslouw commented on #15
See https://github.com/andrieslouw/imagesweserv/issues/68 for follow up.

[2017-03-28 18:22] #15 closed

[2017-03-28 18:23] andrieslouw commented on #62
See https://github.com/andrieslouw/imagesweserv/issues/68 for follow-up on WEBP output.

[2017-03-28 18:23] #62 closed

[2017-03-28 18:25] andrieslouw commented on #14
This feature is planned, but it needs additional code to delete images from the different caches. Currently it isn’t exactly clear when this will be implemented. I will update this idea when I have more info.

[2017-03-28 18:26] andrieslouw commented on #74
See https://github.com/andrieslouw/imagesweserv/issues/14 for follow-up, will mark this as duplicate.

[2017-03-28 18:26] #74 closed

[2017-03-28 18:57] andrieslouw commented on #8
See #87

[2017-03-28 19:07] andrieslouw commented on #68
Full support implemented, for output see: https://images.weserv.nl/#output-output

[2017-03-28 19:07] #68 closed

[2017-03-28 19:09] andrieslouw commented on #37
&errorredirect added, documentation to be written..

[2017-03-30 08:45] hakimihamdan88 commented on #37
@andrieslouw nice https://images.weserv.nl/?url=example.org/noimage.jpg&errorredirect=www.google.nl/logos/logo.gif

[2017-04-06 15:07] chrisbianca opened #89 "Image resizing bug"
I have noticed a strange issue where images are squashed when certain images are resized below a certain height and width.  This is consistent with the same image when uploaded multiple times, but not between similar images with the same size ratio.

[Original image](https://images.weserv.nl/?url=ssl:firebasestorage.googleapis.com%2Fv0%2Fb%2Fdev-mybaby-bio.appspot.com%2Fo%2Fusers%252FrJw5TEzI7KWbw

[2017-04-06 16:50] andrieslouw commented on #89
We are looking into this bug, thanks for reporting!

[2017-04-06 17:17] andrieslouw commented on #89
Problem has been found, it is due to the auto-orientation of images based on EXIF-data. Should be fixed from now on, but caches may contain old (& wrong) images.

[2017-04-06 17:37] andrieslouw commented on #89
There have been some issues in the roll-out of the fix onto our servers, it will take some time to properly propagate the fix for this issue.

[2017-04-06 17:51] andrieslouw commented on #89
With https://github.com/andrieslouw/imagesweserv/commit/85bfacbfbdd94aca6916d346412ed996d5da6639 the last remaining issues should also be fixed. Caches still need to update themselves, but I will mark this bug as completed.

[2017-04-07 07:38] chrisbianca commented on #89
Fantastic, thanks for investigating and fixing so quickly!  I can confirm that re-uploading the image works properly now

[2017-04-07 15:24] #89 closed, assigned to kleisauke

[2017-04-07 15:27] andrieslouw commented on #76
Needs https://github.com/jcupitt/php-vips-ext/issues/7 to implement in production.

[2017-04-09 10:38] kleisauke opened #90 "Add support for smart crop"
Support for smart crop has landed in the new [libvips 8.5](http://jcupitt.github.io/libvips/2017/03/16/What's-new-in-8.5.html). This cropping method searches the image for edges, skin tones and areas of saturated colour, and attempts to position the crop box over the most significant feature.

If libvips 8.5 appears in [Remi's RPM repository](https://git.remirepo.net/cgit/rpms/lib/vips.git/) (and

[2017-04-10 16:48] andrieslouw commented on #90
Still needs some documentation & examples to be marked as completed, code is running in production.

[2017-04-10 16:51] andrieslouw commented on #76
https://github.com/jcupitt/php-vips-ext/issues/7 is fixed, PECL has been updated, libvips updated to 8.5.2 in production thanks to https://git.remirepo.net/cgit/rpms/lib/vips.git/commit/?id=69047e379be1e5abfc0998178c997e1ca6aae13f

[2017-04-10 16:51] #76 closed

[2017-04-10 17:18] kleisauke commented on #90
Implemented, see: https://images.weserv.nl/#crop-smartcrop

I'll leave this enhancement open to give it some publicity.

[2017-04-15 10:42] andrieslouw opened #91 "Issue affecting 0.03% of JPEG-resizes"
Since 11th of April 2017 we see issues occuring at 0.03% of the resize operations on JPEG-images.

The issue has been fixed upstream, and will be implemented soon. Please bear with us while we fix things.

[2017-04-15 10:43] andrieslouw commented on #91
See https://github.com/jcupitt/libvips/issues/639

[2017-04-15 10:43] andrieslouw commented on #91
Similar to https://github.com/jcupitt/libvips/issues/261

[2017-04-19 10:02] andrieslouw commented on #91
https://github.com/jcupitt/libvips/issues/639 has been solved, waiting for push to production enviroment.

[2017-04-22 14:54] ImaCrea opened #92 "Image doesn't seem to load with il parameter on jpg"
Hi dear folks,
we absolutely love your service at http://mailta.pe

But lately there's been an image that we haven't been able to load from your server correctly.
We always get this error:

This happens when trying to request: https://images.weserv.nl/?url=www.mailta.pe/img/guestPic257.jpg&w=1400&t=fit&il
I tried also with a jpg file, same error.

What's even more weird is that if I request https:

[2017-04-22 20:12] andrieslouw commented on #91
Pushed to production, still not fixed, https://github.com/jcupitt/libvips/issues/639 has been reopened

[2017-04-22 20:22] andrieslouw commented on #92
The error you're mentioning has to do with transfer speed. The image could not be downloaded from the origin (mailta.pe) within 10 seconds. It looks like mailta.pe had an upload speed of 2.0 Mbit/s (2555760 bytes = 19.5 megabits in 10 seconds). It is possible that this error won't show each time. You would require around 4.5 Mbit/s at least for that image to load within 10 seconds, so you'll need

[2017-04-23 16:26] kleisauke commented on #91
This issue has been solved in libvips v8.5.4 which is running in production. Sorry for any inconvenience caused.

[2017-04-23 16:26] #91 closed, assigned to andrieslouw, kleisauke

[2017-04-24 19:41] andrieslouw commented on #92
If no further assistance is required, I'll close this issue. The image still seems to large to load quickly from your servers, please increase your bandwidth, or shrink this image.

[2017-04-24 19:41] #92 closed, assigned to andrieslouw

[2017-05-04 08:31] leongersen opened #93 "Discoloration and unexpected transparency using output=WebP"
Using the WebP output method, I'm seeing odd results on some images, and I can't narrow down why. Here is an example:

Output as JPEG (ok):
https://images.weserv.nl/?il&t=squaredown&w=640&h=480&url=s3-eu-west-1.amazonaws.com%2Fair-photos%2F0000107357%2Ftarget-2048-60.jpg&q=40

The same image, output as WebP (bad):
https://images.weserv.nl/?il&t=squaredown&w=640&h=480&url=s3-eu-west-1.amazonaws.com

[2017-05-04 13:14] kleisauke commented on #93
Thanks for reporting! This bug is due to incorrect interpretation of color profiles.

The linked picture has no color-space metadata (it looks like a CMYK image) and no embedded color profile, which causes an incorrect WebP output (unexpected transparency/desaturation).

This issue has been fixed in https://github.com/andrieslouw/imagesweserv/commit/e648861ae869ed9f34b119380db6f5eb0641389b which s

[2017-05-04 14:46] leongersen commented on #93
Ah, great. Thanks for investigating! I'm assuming I'll have to bust cache on these images when the fix rolls out?

[2017-05-06 13:48] Kiel-H-Byrne commented on #33
I'm trying to pull this [image](https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-1/c60.0.200.200/p200x200/15356713_359230487770414_5786763214325760286_n.jpg?oh=e6655b3b21d60b58777f81e6c5611016&oe=598B1B6B):
`https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-1/c60.0.200.200/p200x200/15356713_359230487770414_5786763214325760286_n.jpg?oh=e6655b3b21d60b58777f81e6c5611016&oe=598B1B6B`

over your proxy via your `s

[2017-05-06 20:35] kleisauke commented on #33
@tdotholla Try to encode your URL first, like [this](https://images.weserv.nl/?url=ssl:scontent-lga3-1.xx.fbcdn.net%2fv%2ft1.0-1%2fc60.0.200.200%2fp200x200%2f15356713_359230487770414_5786763214325760286_n.jpg%3foh%3de6655b3b21d60b58777f81e6c5611016%26oe%3d598B1B6B).

[2017-05-07 05:06] Kiel-H-Byrne commented on #33
Ah Kudos!!! Thank you for this service btw; really saves me on serving 'insecure' static images.

[2017-05-17 18:04] adin234 commented on #75
can this proxy an svg+xml?

`http://svgshare.com/i/1de.svg`
![GitHub Logo](http://svgshare.com/i/1de.svg)

`https://images.weserv.nl/?url=svgshare.com/i/1de.svg`
![GitHub Logo](https://images.weserv.nl/?url=svgshare.com/i/1de.svg)

[2017-05-19 07:46] adin234 opened #95 "Is svg+xml supported?"
can this proxy an svg+xml?

`http://svgshare.com/i/1de.svg`
![GitHub Logo](http://svgshare.com/i/1de.svg)

`https://images.weserv.nl/?url=svgshare.com/i/1de.svg`
![GitHub Logo](https://images.weserv.nl/?url=svgshare.com/i/1de.svg)

[2017-05-19 15:43] kleisauke commented on #95
SVG images are supported, it will be loaded through `librsvg`.

This particular SVG image doesn't output correctly because negative `stroke-dashoffset` values are not supported by `librsvg` (see [rsvg-styles.c#L853-L854](https://github.com/GNOME/librsvg/blob/81bbfe8e5a9815bda2f63d694900021a3c3d8a80/rsvg-styles.c#L853-L854)).

I've tried to fix your SVG image:
[code]
(uploaded [here](https://t0.nl/

[2017-05-20 07:03] adin234 commented on #95
thanks for the help!

[2017-05-20 07:03] #95 closed, assigned to nobody

[2017-05-22 17:37] kleisauke commented on #93
Fix has been rolled out to production. Cache for some images still needs to be invalidated.

If you want, you can send us an [email](mailto:admin@weserv.nl) with the images that are affected by this bug and need to be purged from cache.

[2017-06-06 08:37] leongersen commented on #93
I had no real way of finding all affected images, so I waited out the cache period before re-deploying WebP.

Thanks for fixing this!

[2017-06-06 08:37] #93 closed, assigned to kleisauke

[2017-06-10 18:14] #90 closed, assigned to kleisauke

[2017-06-10 18:15] andrieslouw commented on #37
Documentation has been written: https://images.weserv.nl/#default

[2017-06-10 18:15] #37 closed

[2017-06-10 18:17] #88 closed, assigned to andrieslouw

[2017-06-11 07:14] marmor7 opened #96 "SVG images massed up"
Great service, thanks!

I've found that it doesn't work well for SVG images:

e.g.:
http://www.contactspls.com/files/theme/images/cplus_logo.svg
<img width="1235" alt="original" src="https://user-images.githubusercontent.com/1893538/27009123-c44038ac-4e8e-11e7-9adf-3aa2a8010086.png">

https://images.weserv.nl/?url=www.contactspls.com%2Ffiles%2Ftheme%2Fimages%2Fcplus_logo.svg&h=200&w=200
<img width

[2017-06-11 10:38] kleisauke commented on #96
Most SVG images are outputted correctly. However, some SVG images have problems including this one (this is usually due to limitations of `librsvg` that we use to load SVG images). When I tried to open this SVG in `GIMP` it has the same (incorrect-)output as you've specified (in `Inkscape` it was correct).

I couldn't find exactly the root cause why this one has render problems, but it looks like

[2017-06-11 11:08] marmor7 commented on #96
Thanks for the quick reply!

I'll try to investigate the cause for the issue on this SVG...

[2017-06-11 11:08] #96 closed, assigned to nobody

[2017-06-29 12:01] Kikobeats opened #97 "Face detection based cropping"
Hey,

I love this projects. Thanks for offering free and open source!

Do you think tha could be more or less easy implement face detection for cropping?

References:
- http://cloudinary.com/documentation/image_transformations#face_detection_based_cropping
- https://29a.ch/2014/04/03/smartcrop-content-aware-image-cropping

[2017-06-29 14:45] kleisauke commented on #97
There is a smart crop feature available (which is similar to your second reference).
See: https://images.weserv.nl/#crop-smartcrop and https://github.com/andrieslouw/imagesweserv/issues/90.

This cropping method searches the image for edges, skin tones and areas of saturated colour, and attempts to position the crop box over the most significant feature.

It's not a `face-detection` based crop, bu

[2017-07-15 19:32] andrieslouw commented on #87
Please take a look at our new Docker tutorial: https://github.com/andrieslouw/imagesweserv/blob/3.x/DOCKER.md

[2017-07-16 04:22] degarb commented on #87
Awesome!  I will.

Thank you, thank you for the email.

Best regards, Dennis Garber 330-957-[redacted]

Mobile voice transcription a courtesy of Google Inc.-- causing accidents
since 2008 to make way for the Google driverless car of the future. .

[2017-07-23 09:52] Kikobeats commented on #97
Thanks for your comment!

Could be nice add `question` tag for this issue for help people in the future 👍

[2017-07-23 09:52] #97 closed, assigned to nobody

[2017-07-23 09:53] Kikobeats opened #99 "[Question] invalid url image"
Hello,

I'm trying to resize an image from Twitter CDN:

[code]

but imagesweserv says it is not an image

[code]

Any idea what is happening?

[2017-07-23 09:55] Kikobeats commented on #99
My fault; it is working removing protocol

[code]

Probably could be easy add this functionality internally and remove protocol from the URL if it is present 🤔

[2017-07-23 09:55] #99 closed, assigned to nobody

[2017-07-23 18:14] andrieslouw commented on #99
Related issue https://github.com/andrieslouw/imagesweserv/issues/19

Also; we won't strip nor accept http(s):// in the ?url= because it's considered bad practice to do so. UBB-parsers frequently fail on the double http:// in an [img]-tag; this has caused numerous issues in the past. So please remove the http(s):// part yourself to be consistent. (In addition; to force https-fetching, use ssl: in f

[2017-07-23 18:18] Kikobeats commented on #99
thanks 😄

[2017-08-09 22:57] Enalmada opened #100 "404 for working image"
This image link from wayback machine works....

`https://web.archive.org/web/20161028222242im_/http://safetyforall.com/wp-content/uploads/2016/08/img-people.jpg`

But when encoding it...
`https://images.weserv.nl/?url=ssl%3A%2F%2Fweb.archive.org%2Fweb%2F20161028222242im_%2Fhttp%3A%2F%2Fsafetyforall.com%2Fwp-content%2Fuploads%2F2016%2F08%2Fimg-people.jpg`

...it returns some strange error.
`Error 4

[2017-08-12 11:28] andrieslouw commented on #100
The 503 error has been fixed, it had to do with our Squid setup. Related commit https://github.com/andrieslouw/imagesweserv/commit/57c8b7095370dec34ee5623ec6aaa7eb71aaf513

In addition, web.archive.org was blocked by our filtering policy. I've adjusted the policy for web.archive.org. It will take a few hours for all changes to propagate around our network.

[2017-08-12 11:50] andrieslouw commented on #100
Your image works now: https://images.weserv.nl/?url=ssl:web.archive.org%2Fweb%2F20161028222242im_%2Fhttp%3A%2F%2Fsafetyforall.com%2Fwp-content%2Fuploads%2F2016%2F08%2Fimg-people.jpg

[2017-08-22 00:55] ChristopherWalz opened #101 "image not loading through proxy"
https://images.weserv.nl/?url=board.medimax.me/images/styleLogo-857f9bcb1a732fbfb293b580e253fb9e807b6756.png is not working even though board.medimax.me/images/styleLogo-857f9bcb1a732fbfb293b580e253fb9e807b6756.png is.

[2017-08-22 06:30] kleisauke commented on #101
Looks like a misconfigured server. See this request with cURL (`-L` will follow all redirects):
[code]
Output:
[code]

However, it works when forcing HTTPS:
[code]
Output:
[code]

To fetch images over HTTPS, you'll need to prefix the hostname with `ssl:`, see:
https://images.weserv.nl/?url=ssl:board.medimax.me/images/styleLogo-857f9bcb1a732fbfb293b580e253fb9e807b6756.png

[2017-08-22 08:48] JosunLP opened #102 "Error 500"
Unable to start the index.php in the public folder and also unable to start the client and server tests.

[2017-08-22 10:13] neo22s opened #103 "API rate limit"
What is the API rate limit? just curious. thanks great project!

[2017-08-24 19:13] andrieslouw commented on #103
I'm sorry for the delay in answering. Please check https://github.com/andrieslouw/imagesweserv/issues/83

Let me know if there's anything still unclear.

[2017-08-24 19:18] andrieslouw commented on #102
It would really help us helping you if you could provide a bit more details. I'd like to know if you see any errors (in a log, or in your browser), and maybe you could show us the output of your `phpinfo();`.

Detailed information about your environment (operating system, installed packages, etc) could also aid us.

Unfortunately I cannot see why things wouldn't be working on your side without a b

[2017-08-24 19:23] #79 closed

[2017-08-24 19:26] #100 closed, assigned to andrieslouw, kleisauke

[2017-08-24 19:44] Enalmada commented on #100
Thank you very much for doing this!

[2017-08-24 19:56] neo22s commented on #103
thanks a lot!!

[2017-08-24 19:56] #103 closed, assigned to andrieslouw

[2017-08-29 10:41] uplg opened #104 "Error redirect defaults to http ?"
I can't have the "error_redirect" parameter working in HTTPS, defaulting to http and can't enforce (breaks the error image..)

[2017-08-29 11:09] kleisauke commented on #104
To force the `errorredirect` parameter (note the missing `_`) to fetch over HTTPS you can prefix the hostname with `ssl:`. See:

[code]

The documentation for the `errorredirect` parameter needs to be clarified. Thanks for opening this issue.

[2017-08-29 11:42] uplg commented on #104
Thanks for quick reply ! 👍 Good work

[2017-08-29 11:45] #104 closed, assigned to kleisauke

[2017-09-06 07:31] digihiveinc opened #105 "Getting VipsOperation errors"
libvips returning various errors on some operations including
400 Bad Request - VipsOperation: class "smartcrop" not found
400 Bad Request - magickload_buffer: no property named `dpi'

while other work fine

[2017-09-06 10:41] kleisauke commented on #105
It looks like you're trying to install images.weserv.nl on your own server.

Smart crop is added in libvips 8.5, so you need to install libvips >= 8.5 ([libvips 8.5.8](https://github.com/jcupitt/libvips/releases/tag/v8.5.8) is recommended) on your server. The [php-vips extension](https://github.com/jcupitt/php-vips-ext) >= 1.0.7 (which can be found on [PECL](https://pecl.php.net/package/vips)) is

[2017-09-06 14:07] digihiveinc commented on #105
Thank you so much. Yes. We are trying to install on our own server.
With your help we are half way through :)

We installed vips 8.5.8 with php-vips 1.0.7, and that fixed the issue with the 400 Bad Request - VipsOperation: class "smartcrop" not found
but it did not fix the issue with the 400 Bad Request - magickload_buffer: no property named `dpi'

We are getting
[root@* imgcdn.*.com]# vips -v
vip

[2017-09-06 14:15] andrieslouw commented on #105
Could have something to do with your version of ImageMagick, could you show us what version you're running?

[2017-09-06 14:16] digihiveinc commented on #105
imagick module version | 3.4.3
-- | --
imagick classes | Imagick, ImagickDraw, ImagickPixel, ImagickPixelIterator, ImagickKernel
Imagick compiled with ImageMagick version | ImageMagick 6.9.9-11 Q16 x86_64 2017-09-04 http://www.imagemagick.org
Imagick using ImageMagick library version | ImageMagick 6.9.9-11 Q16 x86_64 2017-09-04 http://www.imagemagick.org

imagick module | enabled
-- | --
imagick m

[2017-09-06 14:23] andrieslouw commented on #105
@kleisauke : Is this related to https://github.com/jcupitt/libvips/issues/523 ?

[2017-09-06 14:30] andrieslouw commented on #105
@dihihive : Would you be willing to share any information about what you're trying to do in general? Like which image formats you're inputting, and the operations that you want to execute? Are you loading PDF's for example? The magickloader should only be executed on "exotic" image formats, so it probably has something to do with (the version of) another library.

[2017-09-06 14:39] digihiveinc commented on #105
The error in question discussed at [jcupitt/libvips#523](https://github.com/jcupitt/libvips/issues/523)  is related to rendering PDF.

But we are not trying to do anything exotic.

The error appears when shape filter is applied //imgcdn.*.com/?url=ssl:imgcdn.*s.com/img/image.jpg&w=300&h=300&t=square&shape=circle

[2017-09-06 15:23] digihiveinc commented on #105
so it is is just a standard JPEG image manipulation with shape filter applied to it: [http://take.ms/dfPAi](http://take.ms/dfPAi)

[2017-09-06 15:29] kleisauke commented on #105
Did you build libvips with `librsvg`? I see:
[code]
<sup>(at the summary of `./configure`)</sup>

When cropping an image to a cirlce (`shape=circle`), the [Shape manipulator](https://github.com/andrieslouw/imagesweserv/blob/57c8b7095370dec34ee5623ec6aaa7eb71aaf513/src/Manipulators/Shape.php#L246-L249) makes a mask image with `librsvg` ([`vips_svgload_buffer`](https://github.com/jcupitt/libvips/blo

[2017-09-06 16:19] digihiveinc commented on #105
Great. Thank you. That fixed it!

[2017-09-06 23:31] #105 closed, assigned to kleisauke

[2017-09-08 03:10] jimthedev opened #106 "SVG resolution"
Hi there, great service. I have a few svgs that are becoming pixelated when going through the service. Not a huge deal but does not seem to be related to any output or quality settings that I can configure.

Original (expected):
http://slack.mnphp.org/badge.svg

Tranformed (grainy):
https://images.weserv.nl/?url=slack.mnphp.org/badge.svg

Any chance you know if this something that will be fixed wh

[2017-09-08 19:34] andrieslouw commented on #106
Will be fixed by #94 indeed, our staging environment shows way better results (uses latest development build of libvips), although it ain't perfect either. Good test case, thanks for providing it! (We're still experimenting with good SVG support).

[2017-09-08 20:23] jimthedev commented on #106
Great, thanks for the update. Keep up the good work. Leaving open for posterity until #94 merges. Cheers!

[2017-09-10 15:41] kleisauke commented on #106
Fix has been rolled out to production. The cause of this bug was due to missing fonts on the production server.

Cache has been invalidated for the [particular image](https://images.weserv.nl/?url=slack.mnphp.org/badge.svg). If you want, you can send us an [email](mailto:admin@weserv.nl) with the images that are affected by this bug and need to be purged from cache.

Let me know if this looks bett

[2017-09-14 14:55] kleisauke commented on #106
Update:
SVG images without `width` and `height` attributes are still pixelated when being processed. This specific issue comes from a regression in libvips v8.5.7+. See https://github.com/jcupitt/libvips/pull/724.

Hopefully it will be solved in libvips 8.6 (due in a few weeks). I'll update this issue once I have more information.

[2017-09-14 15:00] jimthedev commented on #106
Thanks for the update @kleisauke. Glad that use-case is being included in the mix.

[2017-09-16 14:52] kleisauke commented on #106
Update:
Today we updated the production server from CentOS 7.3.1611 to CentOS 7.4.1708. With this update `librsvg` has also updated (from 2.39.0-1 to 2.40.16-1).

Unfortunately, `librsvg` has now some problems with provided SVG example, see:
![badge](https://user-images.githubusercontent.com/12746591/30512567-b5d9944c-9af2-11e7-84b4-f09dc050f881.png)

This is fixable if we remove the unnecessary r

[2017-09-16 14:59] jimthedev commented on #106
Hah, the extra g actually broke Safari too and was fixed a while ago but this organization must be using an old version of Slackin

https://github.com/rauchg/slackin/commit/edcaebce0fb2b4e07ca834a58fa069c53a5e0bf3#diff-09a4fe039e6455db71dfaa055aec0b53

[2017-09-16 20:08] andrieslouw commented on #102
Closing due to inactivity.

[2017-09-16 20:08] #102 closed, assigned to andrieslouw

[2017-09-19 10:06] bogdanripa opened #107 "RGBA support"
I am trying to convert a JPG to a PNG and add transparency:

https://images.weserv.nl/?url=........jpg&w=90&h=90&t=square&shape=circle&output=png

The problem I have is that the output is RGB, and I need RGBA... Is there any way to force it? I tried adding a "&bg=00112233" parameter but without any luck...

Thanks!

[2017-09-20 10:28] kleisauke commented on #107
The `&shape=` and `&t=letterbox` operations defaults to a transparent background (see [this](https://images.weserv.nl/?url=ory.weserv.nl/lichtenstein.jpg&w=300&h=300&t=square&shape=circle&output=png) and [this](https://images.weserv.nl/?url=ory.weserv.nl/lichtenstein.jpg&w=300&h=300&t=letterbox&output=png)). So I'm not sure what problems you're experiencing. Are you trying to replace a color with

[2017-09-21 20:27] petrk94 opened #108 "When cache get cleared?"
Hello,

I have a image what has changed, but its showing still the old one.
After changing the value parameter in the URL of one digit, its loading the new image, so this is a caching case.
I would like to know when the cache get updated?
Thanks

[2017-09-21 20:34] andrieslouw commented on #108
The image will be deleted eventually, but there are a lot of different caches. I expect it to be deleted between 14 and 31 days, depending on the amount of requests an image gets. Images that are getting (almost) no requests will be deleted sooner.

The server will only initiate a refresh when all caches have expired, and only when the image is still being requested by end users.

This is also sta

[2017-09-21 20:51] petrk94 commented on #108
ah ok, exist a url parameter to specify the caching time or disable the cache?
I need just the image proxy for cropping the image automatically, no caching at all^^.
Because the image should been updated as soon it get changed.

thanks

[2017-09-22 16:24] bogdanripa commented on #107
Thanks!

[2017-09-22 16:24] #107 closed, assigned to kleisauke

[2017-09-23 21:52] andrieslouw commented on #108
Unfortunately there isn't such parameter. We also don't plan adding it, to prevent people abusing it.
If needed you could use the source code from GitHub to set-up your own proxy. The cache is only something that is added on images.weserv.nl; it isn't included in the source code.

[2017-09-24 10:14] petrk94 commented on #108
ah I understand,
Thats a little sad, because this feature were pretty nice, to avoid abusing it, it could be possible to allow only specific maximum caching time.
Self hosting is for me currently not a option due only few people take a look on the image.
Thanks anyway for your help :)

[2017-09-24 10:14] #108 closed, assigned to andrieslouw

[2017-09-24 11:38] andrieslouw commented on #101
Closing due to inactivity.

[2017-09-24 11:38] #101 closed, assigned to kleisauke

[2017-10-11 13:24] raRaRa opened #109 "Service down? - Glass fibre broken between DC's"
I get this error back:
Error 502 Ray ID: 3ac221117f3c0a6c • 2017-10-11 13:22:36 UTC
Bad gateway

CloudFlare isn't able to reach your server.

[2017-10-11 13:34] gjmendoza commented on #109
Also getting this error. Server appears down. Getting 502's from Cloudflare.

[2017-10-11 14:04] andrieslouw commented on #109
Some roadworks from Grand Paris have damaged the fibre cable connecting our datacenters, without any cutoff yet but situation is highly unstable. Tomorrow the contractor will start reparations on the cable by replacing the broken section of the cable. For now I will try to switch to our backup servers.

[2017-10-11 14:08] andrieslouw commented on #109
Switched to Roubaix DC. Performance will be impacted, but should be more stable now.

[2017-10-11 14:51] andrieslouw commented on #109
I will need to evaluate why our monitoring didn't catch this, thanks for reporting the issues!

[2017-10-11 15:06] gjmendoza commented on #109
Thank you for this awesome service and for your quick response @andrieslouw.

[2017-10-11 15:21] raRaRa commented on #109
I would also like to thank you for the incredible quick response and fix.

I have two questions, not really related to this issue but here it goes:
I've been thinking about hosting imagesweserv in AWS. Do you have any rough cost estimate for hosting the service with proper CDN in front, e.g. Cloudflare or Cloudfront? What are you paying? :)

And my last question, do you guys earn anything from thi

[2017-10-11 16:05] andrieslouw commented on #109
As I had a similar question earlier, I may need to update our wiki, but let me recap; We never accepted payments, and all our support is best-effort. Our focus is helping small start-ups, self-employed, and personal websites with something that should be easy nowadays (resizing images on-the-fly). I started writing the original script around 2005, written in PHP 3. In those days you wouldn't even

[2017-10-11 16:49] andrieslouw commented on #109
I've found the root cause of our monitoring problems: While we do monitor our links, communication with CloudFlare and between servers is IPv6-preferred. It looks like the IPv6 stack flapped, causing CloudFlare and gateways to go haywire. Monitoring didn't spot any issues, because it has IPv4-preference on the same links. The resulting drop in requests didn't trigger alarms, and most of the errors

[2017-10-12 16:44] andrieslouw commented on #109
Fibers have been checked, additional monitoring in place, switched service back to Paris DC. Will need to write some additional code to piece all monitoring together, but performance should be back in check now. I'm still investigating the IPv6 specific issues, to keep them from happening again.

[2017-10-15 16:27] finesofttech opened #110 "Image not generating"
Thanks for the nice scripts!!

Could some one help me, why my image not generating

here is my actual image URL which is working perfectly

http://www.zabrabox.com/assets/images/camera/canon/Canon%20EOS%201300D%2018MP%20Digital%20SLR%20Camera%20(Black)%20with%2018-55mm%20ISII%20Lens,%2016GB%20Card%20and%20Carry%20Case/81+NUSxTjpL._SL1500_.jpg

And here is images.weserv.nl URL which is not working

[2017-10-15 16:35] kleisauke commented on #110
You'll need to encode the URL, try this:
https://images.weserv.nl/?url=www.zabrabox.com%2Fassets%2Fimages%2Fcamera%2Fcanon%2FCanon%2520EOS%25201300D%252018MP%2520Digital%2520SLR%2520Camera%2520(Black)%2520with%252018-55mm%2520ISII%2520Lens%2C%252016GB%2520Card%2520and%2520Carry%2520Case%2F81%2BNUSxTjpL._SL1500_.jpg

[2017-10-15 16:39] finesofttech commented on #110
Thanks @kleisauke for very quick response.

[2017-10-21 19:47] #110 closed, assigned to kleisauke

[2017-11-08 12:17] marcselman opened #111 "Force http"
Hi,

I have some images I want to serve over http instead of https.
But when I call the http url of weserv it automatically redirects to https:

http://images.weserv.nl/?url=cdn.wwva.nl%2FWebshops%2FLive%2Fbenderooy%2FProducts%2FImages%2FLarge%2F13068_benderooy_3192347_1.jpg

Is there a way I can force http?

[2017-11-08 16:48] andrieslouw commented on #111
For added security we use HSTS to let modern browsers know that they can and should use HTTPS, we don't send any redirect headers ourselves, this is being done by your browser. It prevents any opportunistic MITM attacks. See: https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security

[2017-11-13 18:56] andrieslouw opened #112 "SRI-hashes on static.weserv.nl / images.weserv.nl"
We've noticed that the SRI-hashes for all static resources on static.weserv.nl have changed, due to a server migration. This may show up as a page without CSS-stylesheet:

![imagesweserv-srihash](https://user-images.githubusercontent.com/11487455/32743413-962b2efc-c8ac-11e7-9397-40eb1d632f2c.PNG)

Currently we're fixing this issue by re-calculating the SRI-hashes of all static resources.

[2017-11-13 18:56] andrieslouw commented on #112
Fixed as of https://github.com/andrieslouw/imagesweserv/commit/7ff68e369bdfeeabb7d0341668dea6af76272e3c

[2017-11-13 18:57] andrieslouw commented on #112
We're busy emptying all caches that are affected, could take a while..

[2017-11-13 19:03] andrieslouw commented on #112
..everything seems normal again, let us know if you're still seeing funny things 😅

[2017-11-20 15:31] tomaskazatel commented on #14
Hello @andrieslouw  we use your image cache service. And now we have problem with not supported removing image cache. Do you have some update for it?

[2017-11-20 15:43] andrieslouw commented on #14
There is no update yet, implementation is quite difficult. We have some code laying around to remove images from 1 or 2 cache-levels, but not yet from every cache (we cache on ~4 different levels nowadays), and this code isn't reliable enough for production yet. You could use the source-code to host your own image proxy, caching is something that isn't included in the source (we cache by means of

[2017-11-20 15:46] #112 closed, assigned to andrieslouw, kleisauke

[2017-11-27 10:24] john-alden opened #114 "no-op resize bug when w param before url in querystring"
When url before w in querystring - this works correctly:
https://images.weserv.nl/?url=%2F%2Fwww.dropbox.com%2Fs%2Fzw9htv4c5k2hv45%2Fdtc.jpg%3Fdl%3D0%26raw%3D1&w=344

When w before url in querystring:
https://images.weserv.nl/?w=344&url=%2F%2Fwww.dropbox.com%2Fs%2Fzw9htv4c5k2hv45%2Fdtc.jpg%3Fdl%3D0%26raw%3D1
Source image = 344x344 px
Image is resized to 320x320px
However it works correctly when w

[2017-11-27 14:47] andrieslouw commented on #114
It seems the second link was different in cache. Maybe the origin changed from 320px to 344px?

[2017-11-27 14:48] #111 closed, assigned to andrieslouw

[2017-11-27 15:58] john-alden commented on #114
Yep - that'll be it.  Sorry for red herring. Thanks for investigating.

On 27 November 2017 at 14:47, Andries Louw Wolthuizen <
notifications@github.com> wrote:

[2017-12-02 20:29] #114 closed, assigned to andrieslouw, kleisauke

[2017-12-04 10:35] hongkongkiwi opened #115 "DPI support"
Is it possible to support DPI?

I'm trying to resize some icons to a specific DPI (144 output, 72 input) and it seems this option is missing.

[2017-12-04 12:11] kleisauke commented on #115
Hello Andy,

This option was indeed missing, so I just added a new device pixel ratio parameter (`&dpr=`) in commit https://github.com/andrieslouw/imagesweserv/commit/5335a0cad98803eda6dd4fdfe27f9fbbd464a594 and PR https://github.com/andrieslouw/imagesweserv/pull/113.

The new parameter makes it possible to display images at the correct pixel density on a variety of devices such as Apple devices w

[2017-12-09 15:48] #106 closed, assigned to kleisauke

[2017-12-09 15:48] #115 closed, assigned to kleisauke

[2017-12-10 13:57] kleisauke commented on #115
Implemented, see https://images.weserv.nl/#dpr

[2017-12-10 14:08] kleisauke commented on #106
The [pixelated problem](https://images.weserv.nl/?url=t0.nl/check.svg&w=1024&t=fitup) has been fixed. A unit test for this specific issue has been added, to ensure that this does not happen again.

Thanks for your patience, don't hesitate to make a new issue if you find something else that needs to be fixed.

[2017-12-30 19:32] vvavepacket opened #116 "support HTTPS"
Hi,

How do we make it support HTTPS just like the one you are sharing? Which file/s should we edit? Thank you!

[2017-12-30 20:15] vvavepacket commented on #116
found the fix. we need to do modification in nginx.conf file

[2017-12-30 20:15] #116 closed, assigned to andrieslouw

[2017-12-30 20:35] andrieslouw commented on #116
Easiest way would be putting CloudFlare in front of it: https://www.cloudflare.com/ssl/

And if you want to self-manage things, I would suggest using Let’s Encrypt: https://www.nginx.com/blog/using-free-ssltls-certificates-from-lets-encrypt-with-nginx/

We use both, so Nginx+Let's Encrypt with CloudFlare in front.

[2017-12-30 21:17] vvavepacket opened #117 "how to reset throttle count?"
Where is the ip address stored? I hit the limits, but when I changed the max request from 700 to 10000 (and then cleared the container, remove and created new one), it appears my ip address is saved on some log/db. How do we clear/reset it?

[2017-12-30 21:38] andrieslouw commented on #117
**Update:** please see the answer by @kleisauke, which is the correct way.

_You could flush the database of Redis (flushdb). Example command:
`redis-cli flushall`_

[2017-12-30 21:59] andrieslouw opened #118 "League\Uri\PublicSuffix\Exception: Unable to load the public suffix list rules for https://publicsuffix.org/list/public_suffix_list.dat"
View details in Rollbar: [https://rollbar.com/andrieslouw/imagesweserv/items/3/](https://rollbar.com/andrieslouw/imagesweserv/items/3/)

[code]

[2017-12-30 22:00] andrieslouw opened #119 "League\Uri\PublicSuffix\Exception: Unable to load the public suffix list rules for https://publicsuffix.org/list/public_suffix_list.dat"
View details in Rollbar: [https://rollbar.com/andrieslouw/imagesweserv/items/3/](https://rollbar.com/andrieslouw/imagesweserv/items/3/)

[code]

[2017-12-30 22:31] andrieslouw commented on #118
Duplicate of https://github.com/andrieslouw/imagesweserv/issues/119

[2017-12-30 22:31] #118 closed, assigned to andrieslouw

[2017-12-30 22:32] andrieslouw commented on #119
Currently investigating this issue.

[2017-12-30 22:40] andrieslouw opened #120 "League\Uri\PublicSuffix\Exception: Unable to load the public suffix list rules for https://publicsuffix.org/list/public_suffix_list.dat"
View details in Rollbar: [https://rollbar.com/andrieslouw/imagesweserv/items/3/](https://rollbar.com/andrieslouw/imagesweserv/items/3/)

[code]

[2017-12-30 22:43] andrieslouw commented on #120
Duplicate of #119

[2017-12-30 22:43] #120 closed, assigned to andrieslouw

[2017-12-30 22:47] andrieslouw commented on #119
Temporary fixed by changing https://github.com/andrieslouw/imagesweserv/blob/e99a5ebff8a10f1e370fbc923c896b8be05018b5/public/index.php#L368 into: `            $host = 'weserv.nl';` on production servers.

First affected request: 47 minutes ago. Last affected request: 6 minutes ago. Affected requests: 1,004. IPs affected: 37.

[2017-12-30 22:48] #119 closed, assigned to andrieslouw, kleisauke

[2017-12-30 23:01] andrieslouw commented on #119
@kleisauke could we perma-fix this by removing the dependency on the `Host->getRegistrableDomain` function? I'm unsure why it's used in this context, the `&error=$statusCode` may also be passed to the main host.
https://github.com/andrieslouw/imagesweserv/blob/e99a5ebff8a10f1e370fbc923c896b8be05018b5/public/index.php#L367-L377

[2017-12-31 14:36] kleisauke commented on #117
You can remove this key from Redis (or Memcached), when you have reached the rate-limit:
[code]

If you want to reset your current rate-limit count, you can remove this key:
[code]

Where:
 - `[prefix]`: your cache key prefix as defined in your `config.php` (see [here](https://github.com/andrieslouw/imagesweserv/blob/0f28939deb15de16e826dd50fc95321a92e7b979/config.example.php#L60)).
 - `[ip_addres

[2018-01-28 17:58] kleisauke commented on #117
Closing due to inactivity. Please feel free to re-open if questions remain.

[2018-01-28 17:58] #117 closed, assigned to andrieslouw, kleisauke

[2018-02-05 17:20] Knight1 opened #121 "Privacy Policy"
Hey,

i want to use it for redirecting http to https. But i would need a privacy policy for the EU regulations.
Can you say what you log and how long? Or better you make a simple one on the website 👍

Cheers
Tobias

[2018-02-05 20:01] andrieslouw commented on #121
The logging we keep is minimal (to ensure performance and the end-user's privacy), but I'll make a privacy policy page dedicated to this information.

[2018-02-05 20:16] andrieslouw commented on #121
Commits: https://github.com/andrieslouw/imagesweserv/commit/44e710f518dc4db11885e93db895130b75107a26, https://github.com/andrieslouw/imagesweserv/commit/dfede997f1e7c80a2ab79d40c1351cf179b99941.

[2018-02-05 21:39] andrieslouw commented on #121
@Knight1 : Policy is online now, please let us know if anything is still missing 😄

[2018-02-20 18:06] rudin opened #122 "Specify filename"
I've noticed that when downloading an image it always has a default filename 'image.jpg'.
It would be great if you could add a parameter 'filename' to specify the name returned in the Content-Disposition header i.e. Content-Disposition: filename="filename.jpg" and when not specified use the filename of the file that has been loaded.

[2018-02-20 23:00] andrieslouw commented on #122
There are some concerns to address, but we will consider introducing this option. Only way I see is by introducing a limit on the character set and the length of the filename provided. The difficulty is explained here: http://en.wikipedia.org/wiki/Filename

[2018-02-24 14:48] vvavepacket commented on #92
@andrieslouw

Do you know by any chance where in this software we can configure to increase timed out? 10 seconds is not enough for me. Thank you.

[2018-02-24 18:47] andrieslouw commented on #92
@vvavepacket:

The time-out cannot be changed for the public service on https://images.weserv.nl/ to prevent abuse. 10 seconds at 1 Gbit/s (max. transfer speed of public service) should be enough to load images around ~1GByte with the public service. If the transfer speed is below 1 Gbit/s you should check the bandwidth of the origin server (Amazon S3 is known to be slow for example).

If you use

[2018-03-06 09:55] rudin commented on #122
I can also imagine a limit would be required and even some normalisation (limiting/converting the character set).

[2018-03-10 08:31] phamhuyhoang95 opened #123 "How long is the image stored in the cache?"
Do I want to know how long image in the cache before imagesweserv call the live version of the image?

[2018-03-10 08:45] andrieslouw commented on #123
Please see https://github.com/andrieslouw/imagesweserv/wiki/Caching-of-resized-images-(server-side-caching)

[2018-03-10 11:34] phamhuyhoang95 commented on #123
thank you very much

[2018-03-10 11:34] #123 closed, assigned to andrieslouw

[2018-03-14 08:44] swhkn commented on #33
hello, I have tried @kleisauke, but still doesnt work
here is my original link https://titipku.id:8444/images/user/0uNI6LjcviQCfpNcvktZbiX34pX2

is it not going to be worked using port number?

[2018-03-15 02:59] bberak opened #124 "Cloudflare - Access Denied"
Hi there,

First of all - huge thanks for creating this service - it's amazingly useful..

A few colleagues and I recently started receiving the following notifications when using images.weserv.nl:

[code]

We work in the same building and share the same IP, so perhaps Cloudflare was being particularly cautious.

In any case, I was wondering if there is an ability to whitelist domains/hosts to low

[2018-03-15 03:04] galaxy-nomad opened #125 "InMotionHosting unreachable (gabrieldiggs.com)"
Hello I subscribe to the RSS feed http://www.gabrieldiggs.com/feed/ on an RSS aggregator called Start.me Of the 9 RSS feeds I subscribe to the Gabriel Diggs page won't show it's RSS thumbnail images. I checked the console for errors and sure enough I get:

https://images.weserv.nl/?t=squaredown&a=attention&dpr=2&il=1&q=85&page=0&w=83&h=83&url=www.gabrieldiggs.com%2Fwordpress%2Fwp-content%2Fuploads

[2018-03-15 16:25] andrieslouw commented on #125
It looks like gabrieldiggs.com is unreachable for our servers, looks like there is some blocking on their side. From our datacentre gabrieldiggs.com (23.235.208.13) is completely unreachable, I'm investigating if this could be a transit problem.

[2018-03-15 16:44] andrieslouw commented on #124
Please see https://github.com/andrieslouw/imagesweserv/issues/83

If needed, we could make an exception for your IP-address, but I would like to know a rough estimation of usage, to check if our servers will be able to cope.

[2018-03-15 17:27] kleisauke commented on #33
@swhkn We had restrictions on the port numbers that could be used with HTTPS-connections.

It should work now. The following list of safe ports are usable:
[code]

This also solves  #10

[2018-03-15 17:28] kleisauke commented on #10
The following list of safe ports are usable:
[code]

[2018-03-15 17:52] andrieslouw commented on #125
Ran several tests from different locations: InMotionHosting is definitely blocking our IP-ranges, thus gabrieldiggs.com is unreachable. I'm able to reach some other servers in the same IP-range (23.235.208.xx), thus the blocking is on a server level (not router nor transit).

[2018-03-15 17:56] galaxy-nomad commented on #125
Awesome, thanks so much for looking into this!

[2018-03-15 18:12] galaxy-nomad commented on #125
Do you happen to know your IP range that is being blocked?

[2018-03-15 21:12] andrieslouw commented on #125
Mainly 195.154.0.0/16 it seems (AS12876).

[2018-03-16 08:00] galaxy-nomad commented on #125
Thanks it was an issue with the gabrieldiggs.com server as you said. Inmotionhosting seems to have unblocked your IP because the images are showing now!👍🏻 Woohoo. All the best to you!😀

[2018-03-16 08:00] #125 closed, assigned to andrieslouw

[2018-03-18 04:47] bberak commented on #124
Thanks for the quick reply @andrieslouw!

We have an Instagram style website that loads 24-72 thumbnails per page (and there are lots of pages).

We generate thumbnails in a JIT fashion rather than in batches - and since the requests are coming from our users' browsers - I don't really have a specific IP or IP-range to provide.

I look forward to hearing from you - although I anticipate that there

[2018-03-18 12:19] kleisauke commented on #122
Implemented, see https://images.weserv.nl/#filename. Please help by testing it.

Let me know if you run into any problems, thanks!

[2018-03-18 12:51] andrieslouw commented on #124
@bberak : What we can do is whitelist the IP-address of your office, so testing & development from your side would be unhindered and unlimited. Let me know if this would help you.

Unfortunately we're uncomfortable with removing the restriction of 700 images per 3 minutes per IP-address for all users/visitors of our public service, if your users would stay below this figure (~4 images/second) it c

[2018-03-19 05:31] bberak commented on #124
Thanks @andrieslouw, that totally makes sense.

BSD-3 should work just great - we'll look to roll out our dedicated weserv service asap. If you could whitelist our office IP in the interim - that would indeed be a huge help (203.174.191.226).

Thanks so much for the assistance, and source code :), really appreciate it.

Kind Regards.

[2018-03-19 08:24] andrieslouw commented on #124
@bberak : Whitelisted as requested, have fun!

[2018-03-20 00:08] bberak commented on #124
Epic, huge thanks @andrieslouw!

[2018-03-20 00:08] #124 closed, assigned to andrieslouw

[2018-03-21 09:39] raRaRa opened #126 "Any plans to support videos?"
Just curious if there are any plans to support videos. Even just for caching purposes via CloudFlare. Well, I guess I could just register my own CloudFlare account for that purpose, but it has always confused me how much bandwidth can be cached without hitting some limits on their service.

Thanks!

[2018-03-24 13:44] andrieslouw commented on #126
Support for videos is not on our roadmap unfortunately. It would simply cost too much processing power & bandwidth, and there are many great hosts for those already (this is also true for animated images). I'm also not entirely sure of the benefit of resizing/downsampling video-streams/animations on our end.

If I may suggest some (lesser-known) alternatives for video-hosting: [Vimeo](https://vime

[2018-03-26 15:46] #126 closed, assigned to andrieslouw

[2018-03-31 00:09] fredguest opened #127 "Relationship with Cloudfare?"
Hi! It says on `https://images.weserv.nl/` that "We're part of the Cloudflare community" but I was hoping you could elaborate on what that means exactly? Do you pay Cloudflare to use their CDN or do they provide you with free service? If you do pay Cloudflare, how do you support those costs without charging anything to use `https://images.weserv.nl/`? Also, do you have any kind of uptime guarantee

[2018-03-31 05:50] andrieslouw commented on #127
We've started this service in 2007, used CloudFlare since early 2012, and are on the free-tier since 2015. Costs for the servers to support images.weserv.nl are really low. You can read more about that on [our wiki](https://github.com/andrieslouw/imagesweserv/wiki/About-this-service-and-why-it-is-free). CloudFlare is based on the same principles to provide their services, [as you can read here](ht

[2018-03-31 18:18] fredguest commented on #127
Fair enough. Thanks for the explanation Andries. We're going to give it a shot and see how it goes 🙌🏼

[2018-03-31 18:18] #127 closed, assigned to andrieslouw

[2018-04-02 10:36] andrieslouw opened #128 "E_WARNING: Memcached::increment():: Memcached::increment(): Initial value is only supported with binary protocol"
View details in Rollbar: [https://rollbar.com/andrieslouw/imagesweserv/items/9/](https://rollbar.com/andrieslouw/imagesweserv/items/9/)

[code]

[2018-04-02 11:54] #128 closed, assigned to andrieslouw

[2018-04-07 11:56] raRaRa opened #129 "Animated GIF not working when using URL that redirects?"
Hey.

I have a link to a GIF file, but Google will first do a 302 after it checks the permission for the file.

`https://drive.google.com/uc?id=14aM_KOhkasqIwUenpdKh_ArLV1_tf6Ux&export=view`

And here's the image when served with imageweserv:
https://images.weserv.nl/?url=ssl:drive.google.com%2Fuc%3Fid%3D14aM_KOhkasqIwUenpdKh_ArLV1_tf6Ux%26export%3Dview

It seems to render the GIF without the anim

[2018-04-07 12:19] andrieslouw commented on #129
We don't support animated images (yet), this is stated in the second sentence on https://images.weserv.nl/ . Related issue; #77 .

[2018-04-07 14:39] raRaRa commented on #129
Thanks.

[2018-04-14 04:42] Committing opened #130 "Suddenly stopped working"
Hi

I'm using weserv (Which has been bloody brilliant up until now) for Steam avatar URLs.

Nothing has changed and it has been working for the last year or two.

Suddenly it claims the images don't exist.

Here's an example URL that worked before but doesn't anymore:
https://images.weserv.nl/?url=https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/d4/d408cf35fd142de2e27faef68d0fe

[2018-04-14 05:10] Committing commented on #130
Aha! It seems as though Steam have updated their avatar images to be returned as `https://` and not `http:// `anymore.

I had a `str_replace` on the `http://` but needed to add `https://` in the replacement as well. Now it's working

No issue here, was all a third party change.

Thanks

[2018-04-14 05:10] #130 closed, assigned to nobody

[2018-04-29 12:49] #121 closed, assigned to andrieslouw, kleisauke

[2018-04-29 12:49] #122 closed, assigned to andrieslouw, kleisauke

[2018-05-03 16:27] andrieslouw opened #131 "TypeError: Argument 1 passed to parseUrl() must be of the type string, array given, called in /var/www/html/imagesweserv/public/index.php on line 156"
View details in Rollbar: [https://rollbar.com/andrieslouw/imagesweserv/items/12/](https://rollbar.com/andrieslouw/imagesweserv/items/12/)

[code]

[2018-05-03 17:17] andrieslouw commented on #131
Investigating, looks like someone tried some funky parameters as input.

[2018-05-03 18:23] #131 closed, assigned to andrieslouw

[2018-05-05 13:40] andrieslouw opened #132 "E_WARNING: Invalid argument supplied for foreach(): Invalid argument supplied for foreach()"
View details in Rollbar: [https://rollbar.com/andrieslouw/imagesweserv/items/16/](https://rollbar.com/andrieslouw/imagesweserv/items/16/)

[code]

[2018-05-06 06:51] #132 closed, assigned to andrieslouw

[2018-05-23 13:13] michelalbers opened #133 "Run docker image results in php-fpm error"
I tried your docker tutorial on 3.x branch and ended up with the following error inside logs/supervisor/php-fpm.log:

    ERROR: unable to bind listening socket for address '/var/run/php-fpm/php-fpm.sock': No such file or directory (2)

[2018-05-23 20:16] garycarlyle opened #134 "Feature Request: Image Outline"
Hi,

Just a feature request.

I think it would be really useful to have a coloured border. Would be a nice dynamic feature.

Great coding. :)

[2018-05-26 09:04] andrieslouw commented on #133
Will look into this, thanks for reporting!

[2018-05-26 09:09] andrieslouw commented on #134
@kleisauke : Maybe add something like `&border=9` for 9 pixels of border, or `&border=9,6` where 9 is top/bottom and 6 is left/right (like CSS).

I think it would just add to the image dimension? So &w=300 with &border=9 would be 318 pixels wide.

[2018-05-31 00:05] msheep opened #135 "Memory run out"
Hi,

I recently deployed a image server for my company. I found the `fastcgi_temp` folder is getting bigger and bigger quickly. It raised about 1GB in one night.  After about one month running, the server is crashed because memory is out. I used the micro instance on AWS. Is there any possible solution?

Thank you!
Jing

[2018-05-31 04:57] andrieslouw commented on #135
Hi Jing, Can you see what the filenames are that are being build up in that directory? Do they start with `imo_*` or `magick-*` ? I've never experienced a growing fastcgi_temp dir, but it can be that the server has too less memory for [fastcgi_buffering](http://nginx.org/en/docs/http/ngx_http_fastcgi_module.html#fastcgi_buffering); it can be turned off with: `fastcgi_buffering off;` in the nginx c

[2018-06-16 14:10] andrieslouw commented on #129
Closing due to inactivity. Please feel free to re-open if questions remain.

[2018-06-16 14:10] #129 closed, assigned to andrieslouw

[2018-06-16 14:14] andrieslouw commented on #14
Small update; there is some redesigning of the back-end of the public images.weserv.nl service going on, to remove some of the caching levels. When finished, this may open the road to reliable on-demand  removal from cache. We will keep you updated.

[2018-06-16 18:30] #133 closed, assigned to andrieslouw, kleisauke

[2018-06-16 18:37] kleisauke commented on #133
Fixed with https://github.com/andrieslouw/imagesweserv/commit/f2bf0d94e0a48b115e3f7ba9b171ba93d3913ab1.

Let me know if you run into any problems, thanks!

[2018-06-18 15:49] andrieslouw opened #136 "Error: Class 'Rollbar' not found"
View details in Rollbar: [https://rollbar.com/andrieslouw/images/items/1/](https://rollbar.com/andrieslouw/images/items/1/)

[code]

[2018-06-18 15:50] #136 closed, assigned to nobody

[2018-06-24 11:15] ogessel opened #137 "Letterbox background issue"
Hi guys,

I'm having an issue.

See: http://prntscr.com/jyokzp

This is the image I am processing.
https://images.weserv.nl/?url=production-eu01-omodaschoenenbv.demandware.net/dw/image/v2/BCCT_PRD/on/demandware.static/-/Sites-omoda-master/default/dw257aebd2/21/P37921/80171_2_02.png&output=jpg&w=1200&h=800&bg=white&t=letterbox

So now the size, the format and quality are okay but it fills the image

[2018-06-24 12:07] andrieslouw commented on #137
@kleisauke is working on this as we speak, the problem has been located, he will try to push a fix today!
Nice job in finding this issue, as it's quite specific 👍

[2018-06-24 12:10] andrieslouw commented on #135
Took a further look; the micro instance may be a bit limited in memory indeed, but I do understand the user case as it's within the free tier of AWS. Would like to hear your comments on working with `fastcgi_buffering off;`.

[2018-06-24 12:19] ogessel commented on #137
Lol, thx. It was not my intention ;-) Groet, Olaf

[2018-06-24 17:48] andrieslouw opened #138 "Error: Class 'AndriesLouw\imagesweserv\Manipulators\Helpers\Color' not found"
View details in Rollbar: [https://rollbar.com/andrieslouw/images/items/2/](https://rollbar.com/andrieslouw/images/items/2/)

[code]

[2018-06-24 17:49] #138 closed, assigned to andrieslouw

[2018-06-24 18:03] kleisauke commented on #137
Fix (2e9b847) has been rolled out to production.

Cache has been invalidated for the [particular image](https://images.weserv.nl/?url=production-eu01-omodaschoenenbv.demandware.net/dw/image/v2/BCCT_PRD/on/demandware.static/-/Sites-omoda-master/default/dw257aebd2/21/P37921/80171_2_02.png&output=jpg&w=1200&h=800&bg=white&t=letterbox). If you want, you can send us an [email](mailto:admin@weserv.nl) w

[2018-06-25 00:09] msheep commented on #135
Sorry, it is my fault, the folder which is growing fast should be fastcgi_cache, not fastcgi_temp. I have turned off fastcgi_buffering to see whether it works.

[2018-06-25 00:43] andrieslouw commented on #135
If it's the fastcgi_cache folder: please remove all config rules starting with `fastcgi_cache` and `fastcgi_cache_*`, or change the location of `fastcgi_cache_path` to something different than /dev/shm. In the default configuration up to 5 GB of RAM (/dev/shm is a RAM disk) is reserved for caching, and you will need all RAM for resizing.

[2018-06-25 09:34] ogessel commented on #137
Top!

Dank voor de snelle actie, super 😊

Groet,

Olaf

[2018-07-17 18:40] mohanrao opened #139 "Question of using https://images.weserv.nl/"
Hi,

I am not sure this is right place to ask the question of https://images.weserv.nl/ usage or not.

But i want to understand using the https://images.weserv.nl/ in any commercial product related licensing or any terms.

From the documentation it seems there is no issue in using https://images.weserv.nl/ in commercial product.

[2018-07-17 18:49] andrieslouw commented on #139
Hi mohanroa,

There is indeed no issue using https://images.weserv.nl/ in production and/or commercial usage. You are also free to use the source code, and use it in your own products ([see our license](https://github.com/weserv/images/blob/3.x/LICENSE.md)).

Please also read [our wiki](https://github.com/weserv/images/wiki), many more questions are answered there.

[2018-07-17 18:58] mohanrao commented on #139
Thank you for the quick reply @andrieslouw . Also can you please confirm the behaviour of https://images.weserv.nl/ when using it as below or not ?

if we use https://images.weserv.nl/ with a target url of an image with a set of parameters. images.weserv.nl will hit the target server only once for that unique url and set of parameter combinations am i correct?

[2018-07-17 21:02] andrieslouw commented on #139
That is correct, the whole request-URI is hashed and used as a cache-key, caching will be between up till 30 days, but it depends on the amount of requests (images that are more often requested will stay longer in cache).

[2018-07-20 13:02] upardhi opened #140 "Running on Windows Server (Docker/IIS)"
Hi Guys,

I am unable to use my cdn using this code. Can you please suggest me how you added CDN to dynamic API.

Please provide me steps for that.

[2018-07-20 17:13] andrieslouw commented on #140
We use Cloudflare, the process is well explained on [the website of Cloudflare](https://www.cloudflare.com/). You'll need your own domainname, and a public-reachable server.

Could you explain where you are stuck or what error you have? Did you use our docker-image, or are you self-hosting it?

[2018-07-23 06:08] upardhi commented on #140
I am using your [docker-image](https://github.com/weserv/images) code and trying to host on my server. But I am stuck here in configuration and performance. I am trying to host on windows server using IIS php extention.

Could you please help me here or if you have any documentation please help me?

[2018-07-23 07:19] andrieslouw commented on #140
The combination IIS with PHP extension (to run the code native) is not tested by ourselves, would advice you to [install docker for Windows](https://docs.docker.com/docker-for-windows/install/), and to start our docker-image in docker ([Getting started with docker for Windows](https://docs.docker.com/docker-for-windows/)).

If you go to the IP-address of the docker-image, things should already wor

[2018-07-26 11:36] upardhi commented on #140
Hey I have tried to use this but I am facing some issues can you please check and let em know why this is not working for me

![image](https://user-images.githubusercontent.com/6356988/43260100-1a023e2a-90f6-11e8-9add-2664b37510b8.png)

http://172.17.0.121/images-3.x/public/

![image](https://user-images.githubusercontent.com/6356988/43260145-3cac8976-90f6-11e8-8720-494179f7419b.png)

[2018-07-26 16:32] upardhi commented on #140
[Thu Jul 26 06:34:16.447638 2018] [:error] [pid 2392] [client 172.17.3.63:55027] PHP Parse error:  syntax error, unexpected ':', expecting '{' in /var/www/html/images-3.x/public/index.php on line 116

[2018-07-26 17:03] kleisauke commented on #140
It looks like you are using PHP 5.x (which is not supported) instead of PHP 7.x.

[2018-07-29 14:37] kleisauke opened #141 "API version 4"
## API version 4

### Preface
As the amount of traffic increases, we come up with solutions to handle the traffic. Nowadays we handle 2 million requests per hour (4 million on peak), which is great, but it requires proper server capacity and effective software that scales with the amount of traffic that make this service reliable.

### OpenResty, LuaJIT and lua-vips
With API version 4 we decided t

[2018-07-29 14:37] andrieslouw commented on #135
For [API 4](https://github.com/weserv/images/issues/141) we switched to Lua, and added more information about the cache settings: https://github.com/weserv/images/blob/18cf64151ba30a7c1638bed73a6ca91266534a5b/config/nginx/conf.d/imagesweserv.conf#L1-L3

You might want to try our 4.x branch, especially if you're running on systems with low amounts of RAM. In our experience the [4.x branch (Lua)](ht

[2018-07-29 14:37] #135 closed, assigned to andrieslouw

[2018-07-29 15:02] mohanrao opened #142 "Error getting not 404 even thought url is working"
Hi,

the following image is getting 404

https://images.weserv.nl/?url=//www.dma.org/sites/default/files/styles/medium/public/images/4Crucero%20Del%20Norte.jpg?itok=oEbfSs4C&w=300&h=300&t=square&a=entropy

I believe may be at that time the site might be down. Is there anyway to clear the cache?

[2018-07-29 15:11] andrieslouw commented on #142
We're looking into this issue, seems to be specific to [API 4](https://github.com/weserv/images/issues/141).

[2018-07-29 15:24] mohanrao commented on #142
thank you @andrieslouw . Waiting for the reply when can we use the service again.

Once again thanks for the quick reply!!!

[2018-07-29 16:05] CryptAlchemy commented on #142
I can confirm that this issue is appearing for me, as well.

[2018-07-29 17:02] #142 closed, assigned to andrieslouw, kleisauke

[2018-07-29 17:04] andrieslouw commented on #142
Solved in https://github.com/weserv/images/commit/97cf7f7a8b72a8eeae6c6f26d0ea5757422804d3, please let us know if there are still any issues. The cache should refresh soon.

[2018-07-29 19:32] georgeletsos opened #143 "CORS header is missing"
Since today, I think your CORS header is missing. Or could it be something else that i'm missing?

[2018-07-29 20:28] #143 closed, assigned to andrieslouw

[2018-07-29 20:32] andrieslouw commented on #143
Yeah, sorry about that! Error since https://github.com/weserv/images/issues/141 and fixed in https://github.com/weserv/images/commit/538b5f4988598a4bbd9824a228e20a861addb396 .

[2018-07-29 21:25] andrieslouw commented on #141
Small note: You'll need [libvips](https://jcupitt.github.io/libvips/) version 8.7+ to run API 4. As of now, there is only a [release candidate available](https://github.com/jcupitt/libvips/releases), which we run in production. But I'm sure all the amazing work of @jcupitt et al. will make it into a official release soon! :smile:

[2018-07-30 06:11] noahbody-knows opened #144 "URL encoding change"
Under the previous API, this URL loaded correctly:

[code]

But under the new API, it must be changed to:

[code]

In other words, URLs which already contained %-escapes previously had to have another layer of escaping to work correctly, and the server removed them, getting the original escaped URL.  Now, in v4, it appears as though the urls are taken as-is, but I'm not clear on how that's suppose

[2018-07-30 06:38] #144 closed, assigned to kleisauke

[2018-07-30 06:39] andrieslouw commented on #144
Fix is being rolled out, indeed [API 4](https://github.com/weserv/images/issues/141) issue.

[2018-07-30 06:41] andrieslouw commented on #144
Caches are refreshing, we're sorry, images should work again soon :smile:

[2018-07-30 21:19] raRaRa opened #145 "Suddenly getting an error with Google Drive images"
Hi,

I've been using images.weserv.nl to serve images from my Google Drive folder, which has been working great for about a year now, but now I suddenly get this error:
`Error 404: Server couldn't parse the ?url= that you were looking for, error it got: The requested URL returned error: 403`

Example image from my Google Drive folder:
https://drive.google.com/uc?id=1PSjfciCTXp4Bqajr9EcXWxMHuWz6P2h

[2018-07-30 21:24] raRaRa commented on #145
Seems to be related to https://github.com/weserv/images/issues/141 since it still works with API 3:
https://images.weserv.nl/?url=drive.google.com%2Fuc%3Fid%3D1PSjfciCTXp4Bqajr9EcXWxMHuWz6P2hC%26export%3Dview&api=3

@andrieslouw @kleisauke

Thanks.

[2018-07-31 01:30] ismailgorkemkara opened #146 "The proxy service is not running"
Hi,

I think there's a problem with the server, it does not open non-cached pictures:
`Error 404: Server couldn't parse the ?url= that you were looking for, error it got: www.gorkemkara.com could not be resolved (2: Server failure)`

Example link:
https://images.weserv.nl/?url=www.gorkemkara.com/wp-content/themes/trendblog/images/logo.png

I also tried with other sites and images, the result is th

[2018-07-31 06:18] andrieslouw commented on #146
Issue with the DNS resolver service, seems to have been solved by itself, currently investigating:

![unbound_munin_by_rcode-day](https://user-images.githubusercontent.com/11487455/43441173-30c0dc3c-949a-11e8-88fb-0f5a25a19934.png)

[2018-07-31 06:32] andrieslouw commented on #146
Issue is unrelated to API 4, removing tag. Investigating if it was connectivity or error on the side of openDNS:
![unbound_munin_by_rcode-pinpoint 1532988010 1533018310](https://user-images.githubusercontent.com/11487455/43441790-4986394a-949c-11e8-899c-25b0ebf9010b.png)

[2018-07-31 06:34] andrieslouw commented on #145
Thanks for the report, and narrowing it down to API 4, we're looking into this issue!

[2018-07-31 06:54] andrieslouw commented on #146
OpenDNS statistics confirm issue, but only with a subset of the requests, not all requests failed
![image](https://user-images.githubusercontent.com/11487455/43442788-54e30496-949f-11e8-8b6a-91272e0a0f95.png)

Starting time seems to be: **Jul 31 01:38**. End time seems to be: **Jul 31 05:35**.

[2018-07-31 07:39] andrieslouw commented on #146
Configured Unbound DNS to fallback to [the DNS root servers](https://www.internic.net/domain/named.cache) when the servers of OpenDNS fail. This should fix the problem if OpenDNS goes down in the future. I'm sorry for any inconvenience caused, but it seems that connectivity to OpenDNS was lost for 4 hours.

[2018-07-31 07:39] #146 closed, assigned to andrieslouw, kleisauke

[2018-07-31 08:42] #139 closed, assigned to andrieslouw

[2018-07-31 08:45] #87 closed, assigned to andrieslouw, kleisauke

[2018-07-31 08:46] #137 closed, assigned to kleisauke

[2018-07-31 08:53] darampatz opened #147 "Error 404: www.outfit.gr - The requested URL returned error: Operation timed out."
Hi,

Since yesterday I get the following error:
**Error 404: Server couldn't parse the ?url= that you were looking for, error it got: The requested URL returned error: Operation timed out.**
when I use weserv.nl to serve the images.

url image example:
https://images.weserv.nl/?url=www.outfit.gr/images/blog/16588/16588.jpg&w=400

This is the first time I get this error although I've been using wes

[2018-07-31 09:34] andrieslouw commented on #147
Thanks for the report. The URL is loading really slow from our servers, currently investigating if there are connection issues.

[2018-07-31 09:42] andrieslouw commented on #147
Unable to ping:
[code]

Unable to perform traceroute:
[code]

Unable to perform connection to port 80 (still no response after 1 minute):
[code]

Investigating the rest of the connection path/stack, maybe our servers are blocked by firewall of www.outfit.gr, or by an intermediate router/firewall.

[2018-07-31 09:50] andrieslouw commented on #147
Seems that 88.99.2.75 has blocked the IP-address 195.154.84.31 (ory.weserv.nl). The following pings do work:

[code]
[code]

[2018-07-31 09:54] raRaRa commented on #145
Thanks for the quick response, much appreciated.

Any idea what could be causing this error for Google Drive links, is it related to the redirect or the link itself?

I'm wondering if I should fallback to API v3 until this has been fixed, is it safe to use v3?

Thanks!

[2018-07-31 10:03] darampatz commented on #147
Should I check it with my hosting provider? I've already opened a ticket in order to check the firewall rules.

[2018-07-31 10:22] andrieslouw commented on #145
The problem has been found in our urlencoding, which is not exactly according to [rfc3986#section-2.2](https://tools.ietf.org/html/rfc3986#section-2.2) nor [rfc1738#section-2.2](https://tools.ietf.org/html/rfc1738#section-2.2). Fixes are being written, but there are lot's of edge cases.

It looks like Google really likes to use the characters `$-_.+!*'(),` in the URL's they redirect to.

API 3 wil

[2018-07-31 10:25] andrieslouw commented on #147
Please do so, because we can reach the URL from our other test-servers, it must be a quite specific block rule for `195.154.84.31` or `195.154.0.0/16`.

[2018-07-31 10:59] andrieslouw opened #148 "Cyrillic and Arabic characters in API 4"
Seems like the implementation of Cyrillic and Arabic characters in [API 4](https://github.com/weserv/images/issues/141) is broken.

Test-cases:
https://images.weserv.nl/?url=кто.рф/images/logo_rf.png

https://images.weserv.nl/?url=thumbs.жить.рф/unsafe/351x351/smart/https://xn--f1ae4a2b.xn--p1ai/media/work/content/8AAGQy3aEu.jpg

https://images.weserv.nl/?url=жить.рф/media/work/content/8AAGQy3aEu.

[2018-07-31 10:59] andrieslouw commented on #148
#13

[2018-07-31 11:01] andrieslouw commented on #148
This test-case is working, seems to be only the punycode-hostname is causing problems:
https://images.weserv.nl/?url=www.almega.com.hk/testing/測試圖片.jpg

[2018-07-31 11:02] raRaRa commented on #145
Thanks for the update!

[2018-07-31 11:17] andrieslouw commented on #145
Fix written, and being tested in our staging-environment. If we pass all the special cases, it will be pushed to this repo and to production :smile:

[2018-07-31 11:17] #145 closed, assigned to andrieslouw, kleisauke

[2018-07-31 11:18] andrieslouw commented on #145
Fixed!

[2018-07-31 11:26] raRaRa commented on #145
Where do I send PayPal donations to? :)

[2018-07-31 11:32] andrieslouw commented on #145
https://github.com/weserv/images/wiki :

But please subscribe to https://github.com/jcupitt/libvips/issues/592, I think it would be fair if donations go to libvips, as it does most of the heavy-lifting nowadays.

[2018-07-31 16:45] #148 closed, assigned to kleisauke

[2018-08-02 21:14] andrieslouw commented on #141
It seems that API 4 has some (small?) memory leaks, we're investigating if this issue has to do with Nginx, LuaJIT, Nginx, lua-vips or libvips. For more information: https://github.com/jcupitt/lua-vips/issues/24

[2018-08-03 08:44] chrisbianca opened #149 "Firebase Storage encoding issue"
It looks like there might be another encoding issue with the new API version 4 which is affecting users of our app.

Firebase Storage generates downloadUrls of the following format:

[code]

You'll notice that this is already a URL encoded version of a URL and needs to be supplied to Firebase exactly as it for it to be interpreted properly.

For reference, the unencoded URL is:

[code]

To make th

[2018-08-03 11:14] andrieslouw commented on #149
Indeed, [API 4](https://github.com/weserv/images/issues/141) strikes again, we already have a hunch of what the problem is this time. Please bear with us as we fix this, and again, we're sorry that these URL-bugs keep popping up.. (URL-encoding is really hard if you aren't using something like cURL, which we don't want to, as we're moving as close to native-C & Lua as we can get, because of perfor

[2018-08-03 11:31] chrisbianca commented on #149
No problem, if there's anything I can do to help, please let me know

[2018-08-03 11:38] andrieslouw commented on #149
As explained in our [Privacy Policy](https://github.com/weserv/images/blob/4.x/Privacy-Policy.md) we do keep 7 days of logs. We'll test some of your project URL's in our staging environment, so you may see some requests from `151.80.0.0/16 (AS16276)` as we're trying to fix/test the problem.

[2018-08-03 11:42] chrisbianca commented on #149
Sure, thanks for the heads up

[2018-08-03 12:27] #149 closed, assigned to andrieslouw, kleisauke

[2018-08-03 12:27] andrieslouw commented on #149
Passed staging environment, pushed to repo. Fix is being rolled out, caches are refreshing, keep us updated if the issue persists! :smile:

[2018-08-03 15:37] chrisbianca commented on #149
Everything looks to be working again now - thank you for getting this fixed so quickly!

[2018-08-08 14:42] marcselman opened #150 "HTTP/2.0 (SPDY) URL does not seem to work (Connection: Upgrade, close)"
I have the following image URL:

`https://www.paardenwagentje.nl/images/fotos/115/Foto 25-04-18 15 25 30.jpg`
`https://www.paardenwagentje.nl/images/fotos/115/Foto%2025-04-18%2015%2025%2030.jpg`

I understand it's not pretty with those spaces, but it'snot my image.

If I try to use `images.weserv.nl` I use the following URL:
`https://images.weserv.nl/?url=www.paardenwagentje.nl%2Fimages%2Ffotos%2F

[2018-08-08 15:23] andrieslouw commented on #150
We're looking into this, something is wrong, but we're unsure what..

[2018-08-08 15:34] andrieslouw commented on #150
Error found in https://github.com/pintsized/lua-resty-http/blob/master/lib/resty/http.lua#L683-L695

No support for `Connection: Upgrade, close` (HTTP/2.0, SPDY) in `lua-resty-http`, will try to patch.

[2018-08-08 15:36] andrieslouw commented on #150
Patch written by @kleisauke , testing in staging environment, will push to production if tests pass.

[2018-08-08 15:41] andrieslouw commented on #150
Thanks for the report, it works now, you can use:
`https://images.weserv.nl/?url=www.paardenwagentje.nl%2Fimages%2Ffotos%2F115%2FFoto%2025-04-18%2015%2025%2030.jpg&w=75&h=65`

Example: https://images.weserv.nl/?url=www.paardenwagentje.nl%2Fimages%2Ffotos%2F115%2FFoto%2025-04-18%2015%2025%2030.jpg&w=75&h=65

Caches will clear, will keep this ticket open as we're going to push the patch upstream ton

[2018-08-08 18:07] kleisauke commented on #150
Patch has been proposed upstream.

[2018-08-09 08:48] marcselman commented on #150
Thank you guys for the quick response!
Love you work!

Bedankt ;)

[2018-08-09 13:28] andrieslouw commented on #147
It seems that the origin is reachable again, closing issue.

[2018-08-09 13:28] #147 closed, assigned to andrieslouw

[2018-08-09 13:30] andrieslouw commented on #150
Geen probleem :smile: Commit is merged upstream, closing issue.

[2018-08-09 13:30] #150 closed, assigned to andrieslouw, kleisauke

[2018-08-10 20:27] mohanrao opened #152 "Error getting 410"
https://images.weserv.nl/?url=http://sammonsartcenter.org/wp-content/uploads/2018/07/Jodi-Crawford-Wright-845x321.jpg&w=300&h=300&t=square&a=entropy

[2018-08-10 21:22] andrieslouw commented on #152
The link you've provided seems to work perfect. Are you sure you're getting an error for this specific link?

Error 410 is reserved for filtered domains or DNS-errors, you can check the status of domains here: https://community.opendns.com/domaintagging/

[2018-08-10 21:24] mohanrao commented on #152
yes.. it is working fine now. sometime back it was giving 410. I have the snapshot.

[2018-08-10 22:03] andrieslouw commented on #152
Will check the logfiles tomorrow, to see what went wrong, could be a temporary DNS error, thanks for the report!

[2018-08-12 12:39] andrieslouw commented on #152
I can see the 410 you've got around `[10/Aug/2018:22:21:54 +0200]`, but I'm not able to find the reason for it. DNS failed, but I'm unsure where exactly (could be connectivity, slow response, packet lost, etc).

Let us know if this happens again, so I can do a bit more digging.

[2018-08-12 12:39] #152 closed, assigned to andrieslouw

[2018-08-18 14:26] osrec opened #153 "Production use"
Hi there!

Thanks for the great service :)

We were hoping to use your image proxy in production. Is this allowed? Are there any limits on bandwidth?

Also, how long do you cache images for - do they get refreshed if the image at the source URL is updated?

[2018-08-18 14:39] andrieslouw commented on #153
Hi osrec,

There is indeed no issue using https://images.weserv.nl/ in production and/or commercial usage. You are also free to use the source code, and use it in your own products ([see our license](https://github.com/weserv/images/blob/4.x/LICENSE.md)).

Regarding bandwidth; we do ~100TB outbound per month currently, I'm not sure about your application, but if this number would not, let's say, d

[2018-08-18 15:00] osrec commented on #153
Great, thank you for the (very) quick response :)

Btw, we will hardly make a dent in your bandwidth!

[2018-08-18 15:00] #153 closed, assigned to andrieslouw

[2018-08-31 20:49] andrieslouw commented on #140
Closing due to inactivity, feel free to re-open the question if needed :smile:

[2018-08-31 20:49] #140 closed, assigned to andrieslouw, kleisauke

[2018-09-10 22:27] ScriptArtist opened #154 "Wrong size for ico pictures"
As example picture 32x32:
https://accounts.google.com/favicon.ico

If open thought images.weserv.nl, picture will change size to 16x16px
https://images.weserv.nl/?url=https://accounts.google.com/favicon.ico

[2018-09-10 22:36] wei commented on #154
Multi-size ico file : ) [Changelog](https://github.com/weserv/images/search?q=%22multi-size+ICO+file%22&unscoped_q=%22multi-size+ICO+file%22)

https://images.weserv.nl/?url=https://accounts.google.com/favicon.ico&page=1
![](https://images.weserv.nl/?url=https://accounts.google.com/favicon.ico&page=1)
https://images.weserv.nl/?url=https://accounts.google.com/favicon.ico&page=2
![](https://images.we

[2018-09-10 22:36] andrieslouw commented on #154
That favicon is a so-called mutiresolution favicon, see https://en.wikipedia.org/wiki/Favicon.

By default, we take the first occuring favicon, which is the smallest, this also happens here: https://images.weserv.nl/?url=images.weserv.nl/favicon.ico

[2018-09-10 22:38] andrieslouw commented on #154
And indeed, please see https://images.weserv.nl/#page on how to get the bigger sizes.

[2018-09-10 22:55] ScriptArtist commented on #154
Thanks!

But how to get biggest resolution icon? (or the same as in the browser response https://www.google.com/favicon.ico)

Only way i see now is brute force pages and check resolution of icons.

[2018-09-10 23:33] andrieslouw commented on #154
Need to check our implementation, but I think it needs to be added..
@kleisauke: could this be extended into something to get the last page/biggest resolution?

[2018-09-18 08:42] ebaynaud opened #155 "Online service down"
Cannot access to https://images.weserv.nl/?url=ssl:avatars2.githubusercontent.com/u/1921301

[2018-09-18 08:52] ndavoust opened #156 "Cloudflare 522 error though the image is accessible"
Hi,

We encounter cloudflare 522 errors on some urls (exemple https://images.weserv.nl/?url=uploadcaregdc.s3-eu-west-1.amazonaws.com%2F7072f6d8-d2bb-4ce8-82ee-cc29a0ec8967.stretch_fill.setfill_ffffff.resize_1123x842.preview_800x600.preview_800x800.jpg )

Whereas the image is properly accessible:
https://uploadcaregdc.s3-eu-west-1.amazonaws.com/7072f6d8-d2bb-4ce8-82ee-cc29a0ec8967.stretch_fill.setf

[2018-09-18 09:10] andrieslouw commented on #155
Looks like #109 happened again: IPv6-stack flipped, will research, temporary fix implemented.

[2018-09-18 09:10] andrieslouw commented on #156
Looks like #109 happened again: IPv6-stack flipped, will research, temporary fix implemented.

[2018-09-18 09:13] andrieslouw commented on #109
Reopening this issue, as it occured again today from 07:00 (UTC) till 09:05.

[2018-09-18 09:20] andrieslouw opened #157 "IPv6 link failed 18 Sep 2018 between 06:50 and 10:05 (UTC) -> CloudFlare 5xx errors"
As some of you may have noticed (#155, #156), the service went down shortly between 06:50 and 09:06 (UTC). It seems that the issue discovered in #109 reappeared: our IPv6 link with CloudFlare flipped, which disabled processing of images that were out-of-cache.

Below graph is in UTC+02:00:
![cloudflareipv6_last_10800 1](https://user-images.githubusercontent.com/11487455/45677497-9eb29f80-bb34-11e8

[2018-09-18 09:20] andrieslouw commented on #156
Duplicate of #157

[2018-09-18 09:20] #156 closed, assigned to andrieslouw

[2018-09-18 09:21] andrieslouw commented on #155
Duplicate of #157

[2018-09-18 09:21] #155 closed, assigned to andrieslouw

[2018-09-18 09:21] andrieslouw commented on #109
Will track progress in #157, closing again. :smile:

[2018-09-18 09:21] #109 closed, assigned to andrieslouw

[2018-09-18 09:48] andrieslouw commented on #157
To-do list:
- [x] Make sure temporary fix holds for a few days
- [x] Prepare Roubaix DC to take current load
- [x] Define maintenance window to switch to Roubaix DC
- [x] Warm-up Roubaix DC caches
- [x] Fix monitoring of IPv6-links
- [x] Switch to Roubaix DC
- [x] Use maintenance window to investigate & reconfigure IPv6-stack in Paris-Orly DC
- [x] Use maintenance window to test IPv6-link-flipping

[2018-09-18 10:01] ndavoust commented on #156
Thanks for the quick response, but still not working or not working again  unfortunately :-(

[2018-09-18 10:43] andrieslouw commented on #156
It was not working again indeed, currently hot-fixing the IPv6-issues, but this didn't work as intended, I'm sorry..

[2018-09-18 10:46] andrieslouw commented on #157
The temporary fix didn't work quite as expected, lost connectivity again between 11:15 and 12:05 (UTC+02:00):
![image](https://user-images.githubusercontent.com/11487455/45682573-f0f9bd80-bb40-11e8-92bd-9f5add49fe02.png)

Wrote a bit more permanent fix now, please bear with us..

[2018-09-18 13:16] andrieslouw commented on #157
All looks well now, new fix is working as expected, however, a maintenance window is still needed. Will need to prepare some things, which might take a few days. Graph is in UTC +02:00:
![image](https://user-images.githubusercontent.com/11487455/45689929-84d58480-bb55-11e8-8062-6cf3437e2821.png)

[2018-09-21 13:20] marcselman opened #158 "Protocol issues"
Hi,

I have the following URL which **does not** work:
`https://images.weserv.nl/?url=www.that-is-it.nl%2Fwp-content%2Fuploads%2F2018%2F07%2FHoomall-Honden-Mat-Draagbare-Reizen-Waterdichte-Gemakkelijk-Schoonmaken-non-stick-haar-Katten-Slaap-Matten-Pad-Hond.jpg&w=75&h=65`
Now if I add `//` (`%2F%2F`) in front of the domain is **does** work:
`https://images.weserv.nl/?url=%2F%2Fwww.that-is-it.nl%2Fw

[2018-09-21 15:46] andrieslouw commented on #158
First URL returns 404, because the server isn't responding with content on http, only on https:
https://redbot.org/?uri=http%3A%2F%2Fwww.that-is-it.nl%2Fwp-content%2Fuploads%2F2018%2F07%2FHoomall-Honden-Mat-Draagbare-Reizen-Waterdichte-Gemakkelijk-Schoonmaken-non-stick-haar-Katten-Slaap-Matten-Pad-Hond.jpg

This is considered bad behavior. The URL is also not functional in any browser I tested, un

[2018-09-23 11:25] andrieslouw commented on #157
Maintenance has been scheduled from 23-09-2018 22:00 (UTC) till 24-09-2018 10:00 (UTC). We'll start warming up our caches within a few minutes.

[2018-09-23 11:46] andrieslouw commented on #157
Cache warm-up started for Roubaix DC. A subset of requests will be passed through Roubaix DC. The amount will increase until 22:00 (UTC), at which time all requests will be processed by Roubaix DC.

Currently we're at:
- [x] 10%
- [x] 20%
- [x] 33% _planned @ 14:00 UTC_
- [x] 50% _planned @ 16:00 UTC_
- [x] 100% _planned @ 22:00 UTC_

[2018-09-23 22:00] andrieslouw commented on #157
Service switched to Roubaix DC. Maintenance has started.

[2018-09-23 22:42] andrieslouw commented on #157
Maintenance has ended. Service back on Paris-Orly DC. Will monitor situation, if anything happens we'll switch back to Roubaix DC.

[2018-09-24 01:58] Maxildan opened #159 "Impossible to refresh cached images manually ? How many time before update ?"
Hello all,
I just changed some pictures on my FTP few hours ago and there is no changes on my website. How many time before cached picture refresh ? can we force it manually ?

thx :)

[2018-09-24 06:33] andrieslouw commented on #159
See #14 , currently this isn't possible to force manually. In our wiki are some details about the time we cache things:https://github.com/weserv/images/wiki/Caching-of-resized-images-(server-side-caching)

Unfortunately, we cannot run our service without caching. But as you can see in #14 , we're working oj a reliable solution to delete images from all our caches.

[2018-09-24 06:34] andrieslouw commented on #157
No further problems discovered, issue solved.

[2018-09-24 06:34] #157 closed, assigned to andrieslouw

[2018-09-24 14:24] andrieslouw commented on #159
Duplicate of #14

[2018-09-24 14:24] #159 closed, assigned to andrieslouw

[2018-09-24 17:02] andrieslouw commented on #141
For now we _fixed_ the memory leaks by using jemalloc:
[code]

This prevents actual RAM from being used, but it may show high committed memory.

[2018-09-24 17:05] andrieslouw commented on #141
Also, [libvips 8.7.0](https://github.com/libvips/libvips/releases) has official been released! This is needed to run API 4, and also brings some improvements to the latest version of API 3. @jcupitt moved everything to a new organization too, so check out their new home: https://github.com/libvips/

[2018-09-29 17:28] AnandChowdhary commented on #134
This is a slippery slope, then you'll want a param `&boxSizing=borderBox` to ensure that `w=300` with a `border=9` stays 300 (sarcasm, don't worry.)

I think for most implementations of the API, CSS (web) or native-level borders (native) can be added by users; blurring, masking, etc., are great image serving CDN but I think borders might be going overboard. Next feature request will be shadows, ot

[2018-09-29 18:30] andrieslouw commented on #134
That's true, let's give it some consideration. @garycarlyle : What would be the user case? Could you give an example of the result you'd like? For solid borders CSS seems to be more appropriate indeed.

[2018-09-30 21:14] andrieslouw commented on #14
Work has started in the [**4.x-crt**](https://github.com/weserv/images/tree/4.x-crt) branch. Caching has been reduced to 2 levels, API for global cache still needs to be written. Proof of Concept is live on: https://images.weserv.nl/crt/

[2018-10-12 12:45] marcselman commented on #158
You already have an `errorredirect` parameter. Is it an idea to add an extra parameter, something like `discoverprotocol` that will first try https and if that returns an error, try http and if that returns an error load the `errorredirect` url?

Or else, allow multiple `errorredirect` urls semi-colon separated or something?

[2018-10-15 08:11] neuotq commented on #158
HI there. I have similar problem.
Here it the image url:
https://statuskrym.ru/storage/buildings/2OqywbIi2Cb9OBh8wm8olwo6CYZLrGKs8VrMtfpq.jpeg
There is redirect from http to https
[red bot http](https://redbot.org/?uri=http://statuskrym.ru/storage/buildings/2OqywbIi2Cb9OBh8wm8olwo6CYZLrGKs8VrMtfpq.jpeg&req_hdr=User-Agent%3ARED/1%20(https://redbot.org/)&req_hdr=Referer%3Ahttp://statuskrym.ru/storag

[2018-10-15 08:24] andrieslouw commented on #158
@neuotq : Unfortunately that has to do with Russia government blocking large parts of the internet, including our service providers. See https://blog.online.net/2018/04/20/important-note-about-the-ip-address-ranges-blocked-by-russia/ for our ranges. I cannot communicate with the IP-address behind statuskrym.ru due to it. It's the Russian version of the Chinese firewall, only even worse (as it's bl

[2018-10-15 09:14] neuotq commented on #158
thnx for reply. Forgot about ip blocking .. meh.
Also im from Crimea, and we (common users) here have bingo: blocks from our government + sanctions from USA gov, so many web services dosent work.
Anyway thanks, I will think how to deal with that.

[2018-10-15 10:37] andrieslouw commented on #158
@neuotq : Politics and internet seem to be an increasingly bad combination. I hope you'll be able to use VPN's or Tor. Cloudflare is increasing the support for Tor, maybe that will make some difference. However, I'm worried about Cloudflare being an U.S. company, and the U.S. also being in a really bad political climate.

I've looked into technologies to use on this service to bypass the Roskomnad

[2018-10-16 13:54] marcselman commented on #158
@andrieslouw Could you take a look at my suggestions above? I'm curious if this is something that could be included.

Thanks!

[2018-10-16 14:44] andrieslouw commented on #158
@marcselman : Ah, missed it, yes, we'll look into it, but need to check if this won't cause any unintended behavior. There's probably a reason large browsers operate in the same way as we do.

[2018-10-19 16:46] juantxo-g commented on #154
I also hava an issue with a favicon file.

My url: https://images.weserv.nl/?w=16&h=16&errorredirect=https://st1.okgift.eu/v1/images/def-favicon.jpg&url=www.pullandbear.com%2Ffavicon.ico

also with:

https://images.weserv.nl/?w=16&h=16&errorredirect=https://st1.okgift.eu/v1/images/def-favicon.jpg&url=https%3A%2F%2Fwww.pullandbear.com%2Ffavicon.ico

Url https://www.pullandbear.com/favicon.ico works

[2018-10-20 16:43] Krato opened #163 "Join transformations"
Hello, first thanks for your awesome work!

Is there any chance to join some image transformations? Imagine that I want to crop an image, rotate it and then crop it again. It is possible?

Thanks!

[2018-10-21 10:59] andrieslouw commented on #163
It's not something that's on our roadmap, what would be the reason to do these operations in succession? Because rotating, and cropping afterwards would be the right way, I think? This is as it's handled nowadays.

[2018-11-12 14:06] leongersen opened #164 "Bandwidth statistics"
I'm currently looking into switching to self-hosting this service, but I'd like to do a quick cost/benefit analysis before migrating. Is there a way to get some insights into the bandwidth used for a specific host (or, in my case, an S3 bucket)?

[2018-11-12 15:43] darampatz opened #165 "allow robots"
Hi,

I guess, weserv disallows robots to index images. Is there a way to allow googlebot to index the images we use?

Thank you in advance,

[2018-11-14 18:43] andrieslouw commented on #164
Unfortunately, the access-logs of CloudFlare are not shared with us. Our own logs only keep 7 days of first-time requests, so images that are from cache will not show. I think the best way would be to rent a (virtual) server for a few hours/days, and try it. If your visitors are mostly from Europe: Scaleway.com has some nice offers to get you started.

If you can share the name of the S3 bucket I

[2018-11-14 18:56] andrieslouw commented on #165
Hi there,

Unfortunately we cannot do this on our service. Search engines keep asking for images that no one will be looking at, so our servers would be busy talking to other servers without any benefit.

There also have been issues with copyright claims and DMCA, which are time consuming. Keeping the images out of search results, saves us from responding to lawyers that are barely able to use Goo

[2018-11-16 06:58] leongersen commented on #164
Thanks for your answer. I figure I can get a guestimate for the first-time requests from looking at the bandwidth usage at AWS, so that part is covered. I added some sampling to the front-end of our application, and it looks like we'll be able to handle the required load. Guess I can plan migrating for next week!

On another note, thank you so much for this service! It has really helped me getting

[2018-11-16 06:58] #164 closed, assigned to andrieslouw

[2018-11-23 14:51] DaanEasyAds opened #166 "Error 404: The requested URL returned error: Operation timed out."
Hi guys!

https://images.weserv.nl/?url=ssl:vendendo.nl%2Fwp-content%2Fuploads%2F2018%2F10%2F8718475577027_a_en_hd_1-2.jpg&w=75&h=65 is returning the following error: Error 404: Server couldn't parse the ?url= that you were looking for, error it got: The requested URL returned error: Operation timed out.

I've tried https://www.geoscreenshot.com, so it seems your IP isn't being blocked.

Do you se

[2018-11-23 18:41] andrieslouw commented on #166
Will investigate! (Need to clear some other tasks first, so may take a while).

[2018-11-23 20:41] andrieslouw commented on #166
The IP-adress of vendendo.nl (107.6.156.58) is unreachable from our network, I'm investigating whether this is a routing issue or otherwise..

[2018-11-23 20:52] andrieslouw commented on #166
Looks like we're blocked, as other IP's in that segment (eg. .57 and .63) are reachable. Packets to .58 are being dropped, packets to other ampro#.fcomet.com servers are also dropped (ampro1, ampro2, ampro3, etc).

[2018-11-23 20:58] andrieslouw commented on #166
Fastcomet (hoster of vendendo.nl) is trigger happy with regards to blocking IP's, quote from their FAQ:

There's not much I can do to help you further, I'm sorry..

[2018-11-26 10:51] DaanEasyAds commented on #166
Thanks for checking Andries!
At least we can inform the user correctly now.

[2018-11-26 13:42] DaanEasyAds commented on #166
@andrieslouw Fastcomet requested the range of IPs Weserv uses. Could you provide these? Thanks!

[2018-11-26 15:19] andrieslouw commented on #166
All outgoing traffic is fixed to `195.154.84.31` (in range `195.154.0.0/16`) nowadays.

[2018-11-27 09:22] ogessel commented on #137
Goedemorgen Andries!

We hebben een probleem met afbeeldingen van een website.

Gaat om deze url www.bstn.com/files/image/id/67765/fixed/1/w/1000/h/1000/n/67765.jpg

Zoals je ziet doet de url het wel maar niet via WeServ. Enig idee?

Groet,
Olaf

[2018-11-27 10:15] andrieslouw commented on #137
Servers receive HTTP 403:
[code]

[2018-11-27 10:27] ogessel commented on #137
Hoi Andries,

Dank voor de toelichting.

Maar hoe kan het dan dat de gewone url en de site het wel doen? https://www.bstn.com/files/image/id/67765/fixed/1/w/1000/h/1000/n/67765.jpg en https://www.bstn.com/nl

Blijkbaar sluit ie WeServ uit maar andere browsers/IP’s niet?

Ik heb dit soort meldingen wel eerder gezien van webshops (Nike vooral), maar meestal is dat omdat ze vinden dat een partij te v

[2018-11-27 10:36] ogessel commented on #137
PS: ik zal ook aan BSTN vragen of ze jullie kunnen whitelisten.

Groet,
Olaf

[2018-11-27 11:06] andrieslouw commented on #137
_Dag Olaf, even in het Engels, zodat ook anderen iets hebben aan de info;_

By default our proxy ignores all cookies, it doesn't send referrers, ignores robots.txt, uses an identifiable user-agent ([ImageFetcher](https://udger.com/resources/ua-list/bot-detail?bot=ImageFetcher)) and always origins from the same IP-address (`195.154.84.31` / `2001:bc8:2bd3:100::`).

For this particular case I checke

[2018-11-27 14:49] ogessel commented on #137
Hoi Andries,

Thanks.

Ik ga ze vragen om jullie IP te whitelisten.

Groet,

Olaf

Van: Andries Louw Wolthuizen <notifications@github.com>
Verzonden: dinsdag 27 november 2018 12:07
Aan: weserv/images <images@noreply.github.com>
CC: ogessel <olafvangessel@gmail.com>; Author <author@noreply.github.com>
Onderwerp: Re: [weserv/images] Letterbox background issue (#137)

Dag Olaf, even in het Engels, zo

[2018-12-02 19:24] kleisauke commented on #154
Regarding this issue; perhaps we should add a special value to the `&page=` parameter (for e.g. `&page=-1` and `&page=-2`) to get the biggest/smallest page, because I think that a stand-alone parameter will cause confusion.

@juantxo-g I forgot to mention; the `&errorredirect=` parameter works now for all errors (include API errors) with https://github.com/weserv/images/commit/ebd66a5c308d87f1cfac

[2018-12-04 17:25] rezakho opened #167 "Minimum server config"
What is the current server config for main project?
We want to know base server config for serving 1M request per day on our server.

[2018-12-04 17:52] andrieslouw commented on #167
A single dedicated server, using Intel® Xeon® D-1531 (6 cores/12 threads), 32GB DDR4 ECC RAM, and some SSD storage (only needed for logfiles, and to store things between reboots) is capable of serving 4-5 million requests per **hour**, utilizing a single 1 Gbit/s connection. 1 million per **day** would need ~100 times less (if evenly spread out over the day). Please watch the RAM usage, even reall

[2018-12-05 05:31] rezakho commented on #167
That is helpful.
Thanks 👍

[2018-12-06 11:27] ndavoust opened #168 "Error 1006 - Access denied; Images are blocked by Cloudflare (automatic rate limit)"
Hi,

all our images are blocked (for instance https://images.weserv.nl/?url=gensdeconfiance.s3.amazonaws.com%2Fimages%2Fmembers%2Fthumb%2F2016_01_21_56a118ccdc0bb.jpg&t=squaredown&w=320&h=0)

it seems that it is just us, for our ip.
![image](https://user-images.githubusercontent.com/404921/49581329-d53cd100-f951-11e8-91e7-509400be080f.png)

is it possible to whitelist us?

thanks a lot!

nicolas

[2018-12-06 17:56] andrieslouw commented on #168
Please see https://github.com/andrieslouw/imagesweserv/issues/83, https://github.com/weserv/images/issues/124

If needed, we could make an exception for your IP-address, but I would like to know a rough estimation of usage, to check if our servers will be able to cope.

[2018-12-12 12:22] juantxo-g commented on #154
I get now an Error 520 (from Cloudflare) when accesing:

https://images.weserv.nl/?w=16&h=16&t=square&a=attention&url=https%3A%2F%2Fwww.amazon.es%2Ffavicon.ico&errorredirect=https://cdn.okgift.es/v2/images/def-favicon.jpg

[2018-12-12 21:16] andrieslouw commented on #154
@juantxo-g : Sorry, this took us a while to figure out, but it should be solved now! ImageMagick had some strange issues since updating CentOS to the latest version, fixed it by restarting all services & reloading all configs on our servers.

[2018-12-13 19:52] andrieslouw opened #169 "Upgrade libvips to 8.8 (faster smartcrop)"
Incorporate https://github.com/libvips/libvips/pull/1083 into production by upgrading to libvips 8.8.

Maybe first disable smartcrop for 24 hours, to test current impact on CPU load.

[2018-12-13 19:57] andrieslouw opened #170 "Get largest/smallest favicon from multi-resolution .ico"
We should add a special value to the &page= parameter (for e.g. &page=-1 and &page=-2) to get the biggest/smallest page, because I think that a stand-alone parameter will cause confusion.

_Originally posted by @kleisauke in https://github.com/weserv/images/issues/154#issuecomment-443534463_

[2018-12-13 19:58] andrieslouw commented on #154
For future updates, please see: https://github.com/weserv/images/issues/170

[2018-12-13 19:58] #154 closed, assigned to andrieslouw, kleisauke

[2018-12-13 20:01] andrieslouw commented on #158
Note to myself: still need to take a look at the "https fail -> try http" part.

[2018-12-13 20:02] andrieslouw commented on #163
Please re-open this issue with some examples, closing it for now, as I cannot come up with good examples myself.

[2018-12-13 20:02] #163 closed, assigned to andrieslouw

[2018-12-13 20:03] andrieslouw commented on #165
If there are still any questions left unanswered: let us know!

[2018-12-13 20:03] #165 closed, assigned to andrieslouw

[2018-12-13 20:04] andrieslouw commented on #166
Seems to work fine nowadays, let us know if there are still any issues!

[2018-12-13 20:04] #166 closed, assigned to andrieslouw

[2018-12-13 20:05] andrieslouw commented on #167
I will close this issue for now, but if you have any questions left, let us know!

[2018-12-13 20:05] #167 closed, assigned to andrieslouw

[2018-12-13 20:08] andrieslouw commented on #134
Taking another look, and I still agree with @AnandChowdhary on this issue. But if there are any compelling user cases, let us know, and we will reconsider this!

[2019-02-11 13:13] ScriptArtist commented on #170
Any changes?..

[2019-02-11 16:17] andrieslouw commented on #170
No updates yet, we're busy with our infrastructure to keep things running smoothly, new features are delayed because of it..

[2019-02-14 18:16] TCboxa opened #171 "Tinypic.com images wont load"
Error 410: Server couldn't parse the ?url= that you were looking for, because the hostname of the origin is unresolvable (DNS) or blocked by policy.

https://images.weserv.nl/?url=ssl:www.oi68.tinypic.com/2qcm3x5.jpg

Yet if using the link without the weserv image proxy the image loads http://oi68.tinypic.com/2qcm3x5.jpg

[2019-02-14 18:18] wei commented on #171
Indeed it loads, but what you specified in the url `https://www.oi68.tinypic.com/2qcm3x5.jpg` does not load

[2019-02-14 18:19] TCboxa commented on #171
Sorry, I tried it with www after using it without failed. I pasted the wrong link in the OP

https://images.weserv.nl/?url=ssl:oi68.tinypic.com/2qcm3x5.jpg

Doesn't work either.

[2019-02-14 18:21] wei commented on #171
https://oi68.tinypic.com/2qcm3x5.jpg does not work. If it doesn't support https, you should remove `ssl:`

https://images.weserv.nl/?url=oi68.tinypic.com/2qcm3x5.jpg works fine

[2019-02-14 18:27] TCboxa commented on #171
Ok I get it now lol sorry.

[2019-02-14 18:27] #171 closed, assigned to nobody

[2019-02-18 03:14] TCboxa opened #172 "Unable to phrase URL"
The image is located here https://b.radikal.ru/b15/1902/cc/98bd2e286adf.png but when adding the weserv URL we get

https://images.weserv.nl/?url=ssl:b.radikal.ru/b15/1902/cc/98bd2e286adf.png

Which doesnt load the picture and we get a message which says,  Error 410: Server couldn't parse the ?url= that you were looking for, because the hostname of the origin is unresolvable (DNS) or blocked by pol

[2019-02-18 03:19] wei commented on #172
Probably related to Russia blocking #158 #166

[2019-02-18 03:23] TCboxa commented on #172
Thank you for the prompt response, I shall advise my members to not use russian sites for images. Much appreciated, you guys are amazing!

[2019-02-18 03:23] #172 closed, assigned to nobody

[2019-02-20 09:18] ndavoust commented on #80
Hi, is there a way to have letterbox (adding margins to fit the requested ratio) but without oversampling the image if the requested size is larger than that of the original?

[2019-03-01 12:01] DaanEasyAds commented on #14
Hi guys,

I've tried to clear the cache for this URL, URL encoded and not, but no luck so far. Also tried without ssl: and with https://.

https://images.weserv.nl/?url=ssl:www.houseofchesterfield.fr%2Ffiles%2F15543%2Fproducts%2F13109365%2F0101.jpg&w=75&h=65&errorredirect=resources.easyads.eu%2Fimages%2Fdashboard%2Fplaceholder.jpg

https://images.weserv.nl/?url=ssl:www.houseofchesterfield.fr/files

[2019-03-10 11:28] andrieslouw commented on #14
@DaanEasyAds : If you're still experiencing issues with your specific URL, please create a new issue, as comments on features are not monitored every day. The Proof of Concept only removes from local cache, global is still not written.

[2019-03-10 11:33] andrieslouw opened #173 "Letterbox without oversampling"
Hi, is there a way to have letterbox (adding margins to fit the requested ratio) but without oversampling the image if the requested size is larger than that of the original?

_Originally posted by @ndavoust in https://github.com/weserv/images/issues/80#issuecomment-465491701_

[2019-03-10 11:34] andrieslouw commented on #80
@ndavoust : I created a new issue for your question.

[2019-03-10 11:34] andrieslouw commented on #173
@ndavoust : Letterboxing without oversampling is something we probably will implement in the next API (sneak preview here: https://t0.nl/docs/transformation.html#without-enlargement). We're not really proud on the current naming of `&t=[fit|fitup|square|squaredown|absolute|letterbox]` and will try to streamline and extend the transformations. This will take some time however.

[2019-03-15 14:32] betweenbrain opened #174 "What companies are using this service?"
This service is perfect for our use, but my employer is wondering what other companies are using and relying on it. Do you happen to have a list? If not, would anyone be willing to share the name(s) of their companies and/or clients using it?

Thanks, and thank you for this great service and project!

[2019-03-16 20:16] andrieslouw commented on #174
Due to privacy concerns I'm unable to share names, even if we were able to do so technically.

As stated in [our privacy policy](https://github.com/weserv/images/blob/4.x/Privacy-Policy.md) we only have information from the last 7 days. From this information I see the service is mainly used by ISP's, dealerships, real estate agencies, webshops, social networks and mobile app developers. Our reach

[2019-03-22 14:54] betweenbrain commented on #174
Thanks @andrieslouw! Hopefully we hear from others on this.

[2019-03-23 18:44] JulesChcn opened #175 "Broken image with an url with parameters"
Hi there,

I'm trying to display an image from an url which contains parameters (so a GET method), but no extension (like .jpg)

I succeeded by using a basic JavaScript snippet

[code]

and now I'd like to display it through your service.

Can't figure out a way to get the image, here is what I've tried:
`src="https://images.weserv.nl/?url=www.ujuke.fr/PlayTheNextAPI/getSongPhoto.php?Key=myApiKey&

[2019-03-23 18:49] JulesChcn commented on #175
It's the url encoding... Solved.

[2019-03-23 18:49] #175 closed, assigned to nobody

[2019-03-23 19:24] andrieslouw commented on #175
Yes, the correct URL would be `https://images.weserv.nl/?url=ssl:www.ujuke.fr/PlayTheNextAPI/getSongPhoto.php%3FKey%3DmyApiKey%26SongGuid%3Da03c93dbe12b4db58f9ed6e734d7dd62%26Type%3D2`

[2019-03-25 08:53] Sewdn opened #176 "Combine cropping with resizing"
Hi,

thanks for the great service!

I'm wondering if I'm doing anything wrong, but it seems to me that cropping and resizing the cropped result is not supported. Is this so by design and do you need to do this in two steps (by sending the cropped result again to a new weserv call for resizing)?

Please look at the following examples:

1. Cropped area from a hires image:
https://images.weserv.nl/?u

[2019-03-25 09:08] Sewdn commented on #176
This is the expected end result by the way:
https://images.weserv.nl/?url=%2F%2Fimages.weserv.nl%2F%3Furl%3Dhttps%3A%2F%2Fpoetsbureau-dev-images.s3.eu-central-1.amazonaws.com%2FjjoxtAAS_anna-ogiienko-382635-unsplash.jpg%26crop%3D1235%2C1235%2C1861%2C348&w=200&h=200&t=fit

[2019-03-27 10:56] kleisauke commented on #176
As stated in the documentation, the manual crop is performed _after_ the resize operation. For example:
https://images.weserv.nl/?url=https://poetsbureau-dev-images.s3.eu-central-1.amazonaws.com/jjoxtAAS_anna-ogiienko-382635-unsplash.jpg&w=563&h=563&t=fit&crop=200,200,301,56

I agree that this is not clearly stated. I'll try to improve the documentation in the next API (sneak preview here: https:/

[2019-03-28 13:48] mrbl opened #177 "Add Referer parameter"
Some sites check Header Referer and do not give the image  ("HTTP 403 Forbidden").
Example: https://images.weserv.nl/?url=example.com/example.jpg&h=300&referer=example.com

[2019-03-29 11:41] kbsali opened #178 "Combination "t=squaredown w=XX h=YY" fails"
Hi,

we are having the following error when passing this exact combination of parameters : `&t=squaredown&w=468&h=352`

[code]

Removing any of the 3 parameters or changing the `t` value to any other options works though.

Could it be linked to some issue in `libvips` which seems to be somewhat related?

See https://images.weserv.nl/?url=gensdeconfiance.s3-eu-west-1.amazonaws.com%2Fimages%2Fmember

[2019-03-29 11:46] kbsali commented on #178
Strange though, when using the sample image you have in your doc, it works fine : https://images.weserv.nl/?url=ory.weserv.nl/lichtenstein.jpg&w=200&h=300&t=squaredown

[2019-03-29 11:49] ndavoust commented on #178
@kbsali it will fail if the original image is smaller than the requested dimensions:
https://images.weserv.nl/?url=ory.weserv.nl/lichtenstein.jpg&w=2000&h=2000&t=squaredown

[2019-03-29 11:53] kbsali commented on #178
you are right, and it is documented. But it still strange, I believe it used to work... :thinking:

[2019-03-29 11:54] kbsali commented on #178
Re-opening the issue : indeed, the expected behaviour is that it should return an image no matter what combination of parameters is passed!

[2019-03-29 12:56] kleisauke commented on #178
This seems to be a bug on our side, it should be fixed now. Conflicting line:
https://github.com/weserv/images/commit/f8dbb8870452904df805d6bf1f30da148fc3c56b#diff-52af44bb5f705fed4ea69f85a98f9b2bR162

Note that the documentation will be improved in the next API version (sneak preview here: https://t0.nl/docs/).

[2019-03-29 13:06] kbsali commented on #178
Awesome, thanks a lot,
the bug is indeed fixed (too bad we cannot ask our users to refresh their cache!).

[2019-03-29 13:06] #178 closed, assigned to kleisauke

[2019-03-29 17:09] bgaillard commented on #178
Hi @kleisauke and thanks a lot for your quick response.

I recently compiled a Docker container based on the last commit of the `4.x` GIT branch and encounter this error.

I'm not 100% sure to understand you when you indicate "Conflicting line".

Is the line to be removed (I tried it locally and it seems to work removing the line) ? If yes would it be possible to update the `4.x` GIT branch with t

[2019-03-29 20:20] kleisauke commented on #178
@bgaillard I've just pushed the permanent solution (+ unit test so that it doesn't happen again) to the `4.x` branch. Removing the "conflicting line" was a temporary solution.

[2019-04-01 08:19] bgaillard commented on #178
Hi @kleisauke, I recompiled a new Docker container based on the last commit you pushed 3 days ago.

I can confirm it works has expected locally and the bug is not their anymore.

Thanks a lot for your reactivity developing the fix !

[2019-04-03 07:27] Sewdn commented on #176
Ok, thanks for your feedback!

I can imagine the speedup when performing crop after resize and totally understand your design decision. We have now worked around this by doing two calls on the image server (like this https://images.weserv.nl/?url=%2F%2Fimages.weserv.nl%2F%3Furl%3Dhttps%3A%2F%2Fpoetsbureau-dev-images.s3.eu-central-1.amazonaws.com%2FjjoxtAAS_anna-ogiienko-382635-unsplash.jpg%26crop%

[2019-04-03 18:53] andrieslouw commented on #176
Regarding the order:
https://images.weserv.nl/?url=https://poetsbureau-dev-images.s3.eu-central-1.amazonaws.com/jjoxtAAS_anna-ogiienko-382635-unsplash.jpg&crop=1235,1235,1861,348&w=200&h=200&t=fit

Is the same result as:
https://images.weserv.nl/?url=https://poetsbureau-dev-images.s3.eu-central-1.amazonaws.com/jjoxtAAS_anna-ogiienko-382635-unsplash.jpg&t=fit&w=200&h=200&crop=1235,1235,1861,348

In

[2019-04-16 03:17] mohanrao opened #179 "Deploying the Docker image on Google Cloud Platform"
Hi,

I am trying to host weserv on GCP.

Any references like using with docker and how to scale etc.

[2019-04-16 04:37] mohanrao commented on #179
Original reason to host is google is blocked by the robots.txt . Any ways to support crawlers ?

[2019-04-16 20:52] andrieslouw commented on #179
Hi there, sorry for the delay in answering. We have some instructions on Docker usage here: https://github.com/weserv/images/blob/4.x/DOCKER.md

The instructions can be combined with any general tutorial on Docker or running Docker images on GCP, for example: https://cloud.google.com/kubernetes-engine/docs/tutorials/hello-app

The application self is pretty light, and memory-usage can be reduced i

[2019-04-16 21:28] mohanrao commented on #179
Hi @andrieslouw Thanks for the detailed response.

When i am trying to run on my local as container.

I am getting forbidden 403 as response

And also below are the logs

[code]

[2019-04-16 21:39] mohanrao commented on #179
After reruning one more time i am getting the below logs of docker.

[code]

[2019-04-17 03:27] andrieslouw commented on #179
Could you check the error logs of NGINX?

It should be something like
[code]

@kleisauke : do we redirect the NGINX logs to STDERR/STDOUT? Like in https://docs.docker.com/config/containers/logging/ ?

[2019-04-17 03:37] mohanrao commented on #179
@andrieslouw  also in the documentation docker run is specified two times. I ran only once.

Also does the below exec step is required ?
[code]

[2019-04-17 03:40] mohanrao commented on #179
When i ran the commands to check the logs of ngnix. I got the output as below

[code]

[2019-04-17 04:20] andrieslouw commented on #179
Yes, the make dev is required, according to the logs, vips is not installed now. It should be installed by make dev.

[2019-04-17 04:22] mohanrao commented on #179
@andrieslouw i ran that later. Still i see 403 forbidden

[code]

Also if we need to run the make dev . Is there a reason why it is not part of docker build ?

[2019-04-17 04:33] andrieslouw commented on #179
I think the 403 may be due to https://github.com/weserv/images/blob/73c3f4b5e161eac9d2c90550a3d489f586504305/config/nginx/conf.d/imagesweserv.conf#L40-L41

For testing we only allow connections from localhost, remove those lines, and things should work.

[2019-04-17 04:36] andrieslouw commented on #179
How do you access the server? It should listen to any host on port 80. But images.weserv.local is just internal. Strange that the 403 is not showing up in any logs. @kleisauke : could you assist as to the default location of the logfiles?

[2019-04-22 15:42] mohanrao commented on #179
Hi @andrieslouw  and @kleisauke  any update on this?

[2019-04-22 20:30] kleisauke commented on #179
It seems that the internal server (`images.weserv.local`) was chosen by nginx as the default server instead of the catch-all server. This resulted in the 403 forbidden errors.

Commit https://github.com/weserv/images/commit/4ae9a2269aa4ec0c32037538c1cf7d35c5ab62c0 should fix this. In that commit, I also fixed the error/access log path locations to be forwarded to the Docker log collector and added

[2019-04-23 05:09] mohanrao commented on #179
Thanks @kleisauke .

- Why can't we have a official docker image on docker hub

- Also can we have below step as docker build itself if it is required one
[code]

[2019-04-28 12:08] kleisauke opened #180 "Improve Docker image & deployment"
Things that should be done, in no order:
- [X] ~~Create an organization on Docker Hub.~~
  Done: https://hub.docker.com/u/weserv.
- [x] Copy the contents of this repository to the container instead of defining `/var/www/imagesweserv` as volume.
  - [x] Perhaps we could just clone the repo (?). For example:
[code]
- [x] Copy `/config/nginx/conf.d` to `/usr/local/openresty/nginx/conf/conf.d/` instea

[2019-04-28 12:10] kleisauke commented on #179
@mohanrao I've just created #180 to improve the Docker image and deployment.

[2019-05-28 01:24] gideao opened #182 "Docker: init_by_lua:3: module 'vips' not found"
Hi,

Currently I have been unable to self-hosting using Docker.  When a try use I get "500 Internal Server Error".

Checking the logs a found this.

`docker exec imagesweserv cat /var/www/imagesweserv/logs/supervisor/nginx_error.log`

[code]
But as you can see below the library "vips" is already installed.

`docker exec imagesweserv luarocks list`

[code]

And the files are there!

`docker exec im

[2019-05-28 05:09] andrieslouw commented on #182
Looks like vips is not fully installed. Did you ran the command  `docker exec imagesweserv make dev`?

[2019-05-28 11:10] gideao commented on #182
Yes. And to double check I just create a new VPS then I installed Docker and followed the tutorial's instructions.

The same error occurred.

[2019-05-28 19:43] andrieslouw commented on #182
I'm sorry to hear that. We'll look into it tomorrow. It may be that NGINX/openresty needs to be restarted after the make dev, or it is a problem with the latest libvips release, or something else we didn't consider/test when making the Docker image.

[2019-05-28 19:49] andrieslouw commented on #180
- [x] Double-check if the Docker image works out-of-the-box, see #182 .

[2019-05-29 01:06] gideao commented on #182
I'm looking forward for the solution. This is a awesome project and I really want to use.

[2019-05-29 16:03] kleisauke commented on #182
I just pushed c42a769 which should fix this. Could you test this?

Note that running `docker exec imagesweserv make dev` isn't required anymore.

[2019-05-30 00:59] gideao commented on #182
@kleisauke, you are awesome. Thank you very much. It worked as expected.

[2019-05-30 15:00] #182 closed, assigned to andrieslouw, kleisauke

[2019-05-31 10:54] neobie opened #183 "HEIC format upside down"
When using weserv with HEIC format  (by Apple), the image is displayed upside down.
Anyway to fix this?

[2019-05-31 13:34] kleisauke commented on #183
Could you try it again? I just updated libheif on the production server which should fix this problem.

Note that we do not (yet) support saving to HEIC images.

[2019-05-31 13:37] kleisauke commented on #169
libvips has been updated to 8.8 on the production server, I'll close this issue.

[2019-05-31 13:37] #169 closed, assigned to kleisauke

[2019-06-04 09:09] marcselman commented on #177
We've seen this happen on some servers too.

[2019-06-07 07:33] pattyland opened #184 "SSL_ERROR_NO_CYPHER_OVERLAP"
Hello,

first of all many thanks for the free service you provide here. I get more and more complaints from people with older devices (e.g. HP TouchPads) that they can no longer access pictures.

`An error occurred during a connection to images.weserv.nl. Cannot communicate securely with peer: no common encryption algorithm(s). Error code:  SSL_ERROR_NO_CYPHER_OVERLAP`

I looked at your cipher sui

[2019-06-08 12:20] andrieslouw commented on #184
We're dependent on CloudFlare regarding the cipher suites we do and don't support.
Here is the latest report on our current TLS configuration: https://www.ssllabs.com/ssltest/analyze.html?d=images.weserv.nl&latest

We're unable to support older devices that do not support TLS (version 1.0 or greater), due to multiple vulnerabilities in SSL, even SSLv3 support has been dropped: https://blog.cloudfl

[2019-06-10 21:33] pattyland commented on #184
Dear Andries,

thank you for your explanation. I really get your point regarding the support of vulnerable cipher suites. I knew about the discontinuation from HP, my website supports the use of these older devices with webOS.

I'm using this service to display images on a https site that can't be served via https, so using http is not an option.

Is there no way to configure the supported cipher

[2019-06-11 15:47] stanpro opened #185 "Same images failed to process"
Have made test and found that with ratio 1-2 images out 10  from random sites failed to process for two reasons "Operation timed out" or "Invalid or unsupported image format. Is it a valid image?".

They moderate in size and visible in my location, any browser accepts them. I can't understand the reason of the failure.

Just two samples.

https://images.weserv.nl/?url=rnk-concept.ru/wp-content/upl

[2019-06-11 16:54] andrieslouw commented on #185
The first URL returns something different it seems, could be a block, will investigate further.
There seems to be a firewall between AS1267 (Wind) and AS52030 (Server Plan S.r.l. Italy) for the second URL; our servers are blocked by bcasa.it.

[2019-06-11 19:15] andrieslouw commented on #185
The first URL replies with some kind of hotlink protection:
[code]

Unfortunately, there is nothing we can do to process these kind of protections automatically.

[2019-06-11 23:33] stanpro commented on #185
Any way thanks for your research.

[2019-06-11 23:33] #185 closed, assigned to andrieslouw

[2019-06-29 14:07] getify opened #186 "Increase Cache-Control: max-age= to 1 year instead of 1 month"
I certainly understand not wanting to allow an option to reduce the cache length, as many would probably want. But I have the opposite request: an option to extend the caching beyond the normal (30 days?) length?

My use case is images that are stored in github repos, where the URL includes a specific git commit hash, such as this one:

https://raw.githubusercontent.com/getify/You-Dont-Know-JS/06d

[2019-06-29 16:08] andrieslouw commented on #186
Nah, I'm unsure if browsers will even try to keep the files that long in cache, browsers do clean up files, even when they are not expired yet. Besides, we don't want to be the one "hosting" the images. If, for some reason, the original file disappears, we need to remove it too, to prevent copyright issues.

The short caching headers for GitHub could be to negatively affect hotlinking, or to preve

[2019-06-29 16:23] wei commented on #186
Github specific free cdn service:

1. https://raw.githack.com
2. https://www.jsdelivr.com/?docs=gh
3. https://gitcdn.xyz

The first one caches for one year.

**Clarification:** The first one caches the CDN Url for 1 year.

This is the header used:
[code]

[2019-06-29 23:37] getify commented on #186
@andrieslouw

I'm sorry but your response is baffling to me. I can't make even a shred of sense from that reasoning. I'm surprised because it's the opposite of what I would have expected.

It doesn't matter if the browsers keep it for 31 days, 75 days, 6 months, or a full year. The point is not keeping it for a specific length.

The point is, consistent with common web performance guidelines, we s

[2019-06-30 03:59] getify commented on #186
@wei BTW, your info is incorrect. Those 3 aren't suitable options, and aren't *better* than what I thought this service was intended to be: a dedicated image caching CDN.

1. **raw.githack** now only serves content with a 5 minute (300ms) cache length, not one year. Also, for images, they just redirect to the **raw.githubusercontent** URLs, so they don't even cache them at all.

2. **jsdelivr** do

[2019-06-30 04:14] getify commented on #186
I can't see how shorter caching headers does anything to discourage hotlinking? If a party is hot-linking to a resource (which they don't have permission to do), why would they care if it was slower for users to keep re-requesting unnecessarily? The only party that harms is the user, not the offending hotlinker.

If github didn't want files accessible in a direct web linked format, they wouldn't h

[2019-06-30 06:07] andrieslouw commented on #186
I appreciate the lengthy response, first and foremost, this service is free, and we try to support typical use cases. There is not much benefit in increasing from one month to one year.

From Facebook's research, browsers will keep resources around 47 hours in cache: https://code.fb.com/web/web-performance-cache-efficiency-exercise/

What is left then, is the amount of time the resource will stay

[2019-06-30 12:51] getify commented on #186
I am far less concerned with how long you (or cloudflare) keep something in RAM. That's not the point of the feature request.

The point is, the response headers sent out to the end user's browser could be lengthened, so as to indicate to the user's browser that the image at that exact URL is never going to change (since it won't).

Maybe their browser only keeps it for 47 hours, or maybe it's in

[2019-06-30 17:56] andrieslouw commented on #186
Discussed the topic of edge cache with CloudFlare: they will truncate resources after one month if you set anything longer than one month. So for them it doesn't matter. Testing shows that our internal cache will truncate way before one month.

Which leaves us with the browser, and the max-age we serve. I will check what is common in the industry nowadays, because it shouldn't matter if we serve o

[2019-06-30 18:13] andrieslouw commented on #186
Made some changes, please help with testing.

[2019-06-30 18:21] andrieslouw commented on #14
Due to #186 it may seem that we cache longer; but there is no change in the amount of time we cache server side. Finishing this feature is still on our roadmap, and work is ongoing, but we need to write additional API's for all the different layers of caching we use.

[2019-06-30 18:33] andrieslouw commented on #186
@getify: I'm sorry for the confusion caused, reading back, I understood you meant to change the time we cache things (increase the time in cache), but all you wanted was to change the time of the max-age= header reported at the far end of our stack, the server your browser eventually connects to. I was really worried about the implications for the rest of our stack, which was the reason for my ini

[2019-07-01 13:39] getify commented on #186
Just tried it out, and indeed the caching headers are 1 year now. Thanks so much!

[2019-07-25 06:34] pattyland commented on #184
Dear Andries,

I've talked with the visitoring that sent me this error message, and it was displayed from Firefox 67 running on Linux Mint 18. This is the whole message:

Best regards
Sören

[2019-07-25 17:36] andrieslouw commented on #184
That is really strange, Linux Mint 18 & Firefox 67 should readily support the cipher suites CloudFlare is using nowadays. I really wonder what this would show at the client of the user: https://www.ssllabs.com/ssltest/viewMyClient.html

I'm wondering if I could replicate this using Mint 18 in a VM, if there's some time, I will try it this weekend. Did the user report any other specific configurati

[2019-07-27 16:27] andrieslouw commented on #184
I'm unable to reproduce this, used a default (Cinnamon 64-bit) install of Mint 18, it comes with Firefox 47 even:
![image](https://user-images.githubusercontent.com/11487455/61996992-3b21c880-b09b-11e9-9bf1-d3e62339cefc.png)

Will try to update Firefox to 67, and check if the outcome is different, but I doubt it.

[2019-07-27 17:32] andrieslouw commented on #184
Updated Firefox to 67, and to latest (68); still no problem. I need more details about the user environment, because I cannot replicate this issue.

[2019-08-03 00:40] #186 closed, assigned to andrieslouw

[2019-08-03 21:46] danfascia opened #187 "Image cache duration"
Hi there I've been looking around but I could not easily find out how the cache works.

- How long does it cache for?
- How often does it refresh - i.e. if an image is changed but filname and URL stay the same?
- What is the behaviour when a source URL is deleted? How long does the weserve cached URL remain active?

Great project which I hugely appreciate

Dan

[2019-08-04 00:32] andrieslouw commented on #187
Hi, the caching is explained on our wiki pages:
https://github.com/weserv/images/wiki/Caching-of-resized-images-(server-side-caching)
https://github.com/weserv/images/wiki/Browser-cache-control-headers-(client-side-caching)

For an image where the filename or uri-parameters are unchanged, the cache duration should be between 7 and 31 days server-side. Be reminded that images with low amount of req

[2019-08-07 00:10] zivbk1 commented on #187
When I run my site through GTmetrix I get the following recommendation.

[code]

(There are many more but no need to share them all unless you would like to see them.)

[2019-08-07 05:25] andrieslouw commented on #187
The missing cache validator is by-design. Please read https://github.com/weserv/images/wiki/Browser-cache-control-headers-(client-side-caching) on why we disable ETag's & Last-Modified. Some additional comments on ETag's & multiple servers are found here: https://developer.yahoo.com/performance/rules.html#etags

[2019-08-07 13:54] zivbk1 commented on #187
Thank you very much for detailed information.  I understand the issue much better now.

[2019-08-26 09:19] Mghanem91 opened #188 "503 for some images"
Hi, some images gave 503 error?

Any help ?

[2019-08-26 09:29] #188 closed, assigned to andrieslouw

[2019-08-26 13:12] andrieslouw commented on #188
Hi there! Are you still experiencing this issue? Do we need to investigate?

[2019-09-01 22:37] andrieslouw opened #189 "API 5 released"
We've just released API version 5, which contains many enhancements and new features. API 5 is the successor to API 4 (https://github.com/weserv/images/issues/141).

For more information: https://images.weserv.nl/news/2019/09/01/introducing-api-5/
The new source code has been published in the [5.x branch](https://github.com/weserv/images/tree/5.x).

API 5 also brings better documentation: https://

[2019-09-01 22:38] andrieslouw commented on #141
API 5 has been released, see #189.

[2019-09-01 22:38] #141 closed, assigned to andrieslouw, kleisauke

[2019-09-14 21:28] raRaRa opened #190 "Is the API down?"
I'm just seeing a Cloudflare error page. Something up? @andrieslouw @kleisauke (friendly poke)

[2019-09-14 22:15] andrieslouw commented on #190
One of our servers seems to have issues, working on it.

[2019-09-14 22:18] raRaRa commented on #190
Thanks for the super quick response @andrieslouw - much appreciated! <3

[2019-09-14 22:26] raRaRa commented on #190
Everything looks fine to me now. Super fast'n smooth.

[2019-09-14 22:40] andrieslouw commented on #190
Immediately took it out of the loadbalancers, but I am still working on the server itself, seems to have been some filesystem issues.

[2019-09-14 23:25] andrieslouw commented on #190
**Found & fixed:** we recently (API 5) changed the location of some of the log-files, but forgot to exclude this new path from backups.

**Issue:** Backup-server tried to backup the access-log of nginx (which was still being written to), which, after ~30 hours, caused the filesystem to limp into read-only mode. This caused nginx to hang because it couldn't read nor write to the logfile anymore. Is

[2019-09-14 23:25] #190 closed, assigned to andrieslouw

[2019-09-16 10:11] kleisauke commented on #183
Closing due to inactivity. Please feel free to re-open if the problem persists. Thanks!

[2019-09-16 10:11] #183 closed, assigned to kleisauke

[2019-09-16 11:22] kleisauke commented on #186
The duration can now also be configured in API version 5 (#189). See:
https://images.weserv.nl/docs/format.html#cache-control

[2019-09-16 11:25] kleisauke commented on #176
This has been implemented in API version 5 (#189). See:
https://images.weserv.nl/docs/crop.html#rectangle-crop

Please let me know if you run into any issues.

[2019-09-16 11:26] kleisauke commented on #173
This has been implemented in API version 5 (#189). See:
https://images.weserv.nl/news/2019/09/01/introducing-api-5/#css-inspired-fit-parameters
https://images.weserv.nl/docs/fit.html#without-enlargement

Please let me know if you run into any issues.

[2019-09-16 11:27] kleisauke commented on #170
This has been implemented in API version 5 (#189). See:
https://images.weserv.nl/docs/format.html#page

Please let me know if you run into any issues.

[2019-09-16 11:32] kleisauke commented on #129
Support for animated images has been implemented in API version 5. See:
https://images.weserv.nl/news/2019/09/01/introducing-api-5/#support-for-animated-images
https://images.weserv.nl/docs/format.html#number-of-pages

Please let me know if you run into any issues.

[2019-09-16 11:33] kleisauke commented on #77
Support for animated images has been implemented in API version 5. See:
https://images.weserv.nl/news/2019/09/01/introducing-api-5/#support-for-animated-images
https://images.weserv.nl/docs/format.html#number-of-pages

[2019-09-16 11:39] kleisauke commented on #83
We've refined our rate limiter in API version 5. It's now easy to check show your current rate limit quota:
https://images.weserv.nl/news/2019/09/01/introducing-api-5/#improved-rate-limiter

[2019-09-16 11:39] kleisauke commented on #168
We've refined our rate limiter in API version 5. It's now easy to check show your current rate limit quota:
https://wsrv.nl/news/2019/09/01/introducing-api-5.html#improved-rate-limiter

[2019-09-16 11:46] kleisauke commented on #179
Update:
Almost all tasks are now resolved in #180. It will now be easier to use the Docker image on the Google Cloud Platform.

I will soon publish the revamped Docker image on [Docker Hub](https://hub.docker.com/u/weserv).

[2019-09-20 23:02] raRaRa opened #191 "API down?"
Same issue as last time, Cloudflare error page with connection error to origin. Tagging @andrieslouw and @kleisauke

[2019-09-20 23:22] raRaRa commented on #191
It seems to be working again for me now.

[2019-09-21 06:21] andrieslouw commented on #191
Yup, same issue, it took a while for the server to be marked as faulty. Under review again, related to #190.

[2019-09-21 06:22] uok commented on #189
Thanks, your great work and continuous improvements are very appreciated!

[2019-09-21 08:58] andrieslouw commented on #191
The filesystem (XFS) was the issue again, this could be software, or one of the SSD's failing. Hardware replacement is possibly needed, will try to reimage the offending server first (ory.weserv.nl), but I want to wait on general availability of CentOS 8.0. I'll keep this issue open, untill it is fully fixed. Sorry for all the trouble, ory has worked flawlessly the past 2 years, but we may need to

[2019-09-24 13:09] fverry opened #192 "DMCA abuse"
Hello,

An indelicate website uses your images.weserv.nl service to serve photos that I own, and are core to my commercial business.
Though I hope to shut down that website through legal means, I also would like to prevent further abuse.

At best, I am looking for a way to tell images.weserv.nl that I do not allow photos from my domain to be cached.
At worst, what is the best way to block images.w

[2019-09-24 16:26] andrieslouw commented on #192
Hi fvery,

We're not fans of censorship, but I do understand your concerns. We have ways of blocking complete domains, so that our servers won't be able to use the domain anymore (cannot reach it). We use this mainly to prevent abuse. If needed, e-mail us details at: admin@weserv.nl. Blocking our IP addresses is less reliable, as we switch them regularly. Hope this is of any service.

[2019-10-04 07:05] hellojere opened #193 "Animated GIF? Convert to MP4 or WebM"
Thanks for the awesome service, and highly appreciate the animated GIF support on the version 5.

However, I would love to have support for converting animated GIF's to MP4, and possibly WebM, video formats. Can imagine this being computationally challenging, but hopefully, the saved bandwidth would be enough to justify it.

This's currently the only feature why I still depend on Cloudinary.

[2019-10-05 11:05] andrieslouw commented on #193
Will review this, I'm not sure if this is possible with the existing libraries. Thanks for the suggestion!

[2019-10-05 11:06] andrieslouw commented on #192
Closing due to inactivity. Let us know if there is anything we can do to assist.

[2019-10-05 11:06] #192 closed, assigned to andrieslouw

[2019-10-05 11:08] andrieslouw commented on #191
We'll start some testing with CentOS 8 tomorrow. Will rollback to EXT4, because it looks like XFS is not the best choice in our case (many small files, with continuous read/write/deletions).

[2019-10-11 09:38] andrieslouw commented on #191
We've almost finished a week of sharing the load between CentOS 7 & CentOS 8 servers. I'll migrate the load to the new servers, and will re-image the old servers. In the background we're writing down everything to make a new Docker-image.

[2019-10-11 11:28] tkoenig opened #194 "Error 400 when rendering images from Samsung devices?"
Here is an example image which brakes on images.weserv.com .
This worked, before, so I assume an libvips upgrade introduced this?

See also https://github.com/lovell/sharp/issues/1578 as a reference.

Might it be possible to explicitly set `failOnError: false` for libvips in this case too?

## Original Image
http://blobby.wsimg.com/go/0296993c-cade-4ae8-8a65-b3172f22a3a0/6e14af04-904c-4654-936e-2b

[2019-10-11 12:54] andrieslouw commented on #194
Related to https://github.com/lovell/sharp/issues/1578#issuecomment-474299429

[2019-10-11 17:16] raRaRa commented on #191
That's great to hear! Thanks so much for the updates.

[2019-10-18 01:09] neobie opened #195 "Error if the image name contains dot ".""
Error if the image name contains dot "."

Eg: 1.123123.jpg

{"status":"error","code":404,"message":"The requested URL returned error: 403"}

[2019-10-20 22:07] kleisauke commented on #195
This should just work properly, see for example:
https://images.weserv.nl/?url=t0.nl/banana.test.webp&n=-1

A 403 response may indicate that there is some blocking involved. Are you able to share the URL that fails (privately via [e-mail](mailto:admin@weserv.nl) if necessary)?

[2019-10-20 22:15] kleisauke commented on #194
Fix (dee4ff0) has been rolled out to production.

Cache has been invalidated for the [particular image](https://images.weserv.nl/?url=http://blobby.wsimg.com/go/0296993c-cade-4ae8-8a65-b3172f22a3a0/6e14af04-904c-4654-936e-2bd7e6e08dd8.jpg&w=600&h=600&t=square). If you want, you can send us an [email](mailto:admin@weserv.nl) with the images that are affected by this bug and need to be purged from c

[2019-10-21 07:22] tkoenig commented on #194
@kleisauke thanks for the fix!

I quickly checked and could not find any images with errors anymore,
so everything is fine from my side.

[2019-10-21 07:22] #194 closed, assigned to kleisauke

[2019-10-29 23:55] laukstein opened #196 "Request limit for images.weserv.nl: Please share your views"
Any plans to remove or increase the limitation?
Using images.weserv.nl for image gallery would quickly or even immediately exceed the current request limit.

Also is the limitation in Cloudflare (Cloudflare can cache in its CDN and return its cache without connecting to origin until the CDN cached file removed or expired) or while connecting origin (when Cloudflare tries to receive the resource fr

[2019-10-30 09:02] andrieslouw commented on #196
The limit is in the origin, so requests that are cached by CloudFlare will not be counted.
We'll check if it is possible to increase the limit.

[2019-10-30 09:30] laukstein commented on #196
@andrieslouw, is the request limit per visitor IP or referrer server (the domain where the images are used as `<img src>`) ?
Maybe it is worth to update https://images.weserv.nl/faq/#are-there-any-limitations with better description, like about the request limit against the origin.

[2019-10-31 05:55] andrieslouw commented on #196
The limit is per visitor IP, but we'll rewrite the FAQ indeed. We're quite busy, so it may take a couple of days.

[2019-11-06 15:46] tkoenig opened #197 "Installing weserv/images on heroku"
Are there any instructions or would it even be possible to just build the nginx module?

I'm trying to build a buildpack for Heroku (which is based on ubuntu 18),
but I have no experience using CMake.

Is there a way to install this as an nginx module like:

[code]

[2019-11-24 19:15] kleisauke commented on #197
Sorry for the delay, this dropped off my to-do list.

The easiest way to install nginx (with the weserv module built-in) is through CMake (this assumes that [these dependencies](https://github.com/weserv/images/blob/5.x/INSTALL.md#build-dependencies) are installed):
<details>
 <summary>Details</summary>

[code]
</details>

If you prefer to build and install nginx yourself pass the CMake `-DINSTALL

[2019-11-25 08:22] tkoenig commented on #197
Hi @kleisauke, thanks for your feedback and your time!

I will try your suggestion to deploy a Docker Image to Heroku first and will get back with any findings that could be relevant in case someone else is interested.

[2019-11-26 15:25] iveptawebadmin opened #198 "Error loading image at a specific width."
This URL with a width of 300 doesn't work.
https://images.weserv.nl/?url=www.islandviewpta.org/uploads/gratitude.jpeg&w=300

I get the following error message.
{"status":"error","code":404,"message":"The requested URL returned error: 404"}

If I change the width value to anything other than 300 it loads the image.  Seems the error only applies to that specific width value.

[2019-11-27 21:58] tkoenig commented on #197
So thanks to @kleisauke's input I managed to deploy this to Heroku! 🎉

Only a few changes are required in the `Dockerfile` as you can see in the following gist: https://gist.github.com/tkoenig/569ec0bf772500fe06372bd60747d96b

This is just a proof of concept where I replace the port and the hostname in the Nginx config file.
Since the port on Heroku is dynamic I need to replace the port before sta

[2019-11-29 09:41] RichardSieg commented on #149
The issue seemed to pop up again #199

[2019-11-29 10:31] RichardSieg opened #199 "Firebase storage encoding, Part 2"
Did issue #149 pop up again?

We tried
https://images.weserv.nl/?url=ssl:firebasestorage.googleapis.com%2Fv0%2Fb%2Four-project.appspot.com%2Fo%2Frichard.playground%2Fmedia%2Fcb78b0d9-becd-4652-af26-cedcb782e69f_how.png%3Falt%3Dmedia%26token%3D13f28840-1cc4-4f48-8272-b94fb91721df
and it gives the same error:
`{"status":"error","code":404,"message":"The requested URL returned error: 400"}`
Also the

[2019-11-29 13:15] RichardSieg commented on #199
Okay, I figured it out! We were decoding the weird firebase url syntax as an in-between step. But what's working is to just encode the url as it is. Thanks anyway and thanks for that awesome project!

[2019-11-29 13:15] #199 closed, assigned to nobody

[2019-12-04 16:14] RichardSieg commented on #198
We experience the same issue with some links. By the way: Your url is working currently.

[2019-12-06 12:47] RichardSieg opened #200 "Self hosting (AWS) and Cloudflare?"
Hey there! We successfully host your really nice image service using AWS. We are wondering whether images are still sent to Cloudflare for caching or whether we have to do manually do this?

As a test, I deleted an image and our service still provided it. Could also be the nginx proxy caching be responsible for that?

Thanks for the clarification!

[2019-12-06 13:40] andrieslouw commented on #200
Hi Richard,

Did you take a look at: https://images.weserv.nl/faq/#how-are-images-cached-by-your-servers

The domain images.weserv.nl is behind Cloudflare indeed. Depending on the amount of requests, they will keep it in cache for a while. If needed, I can provide the config we use for this?

[2019-12-06 14:44] RichardSieg commented on #200
Hi Andries,

thanks for your answer. I read the FAQ. However, we are hosting the service on our own servers (AWS) and my question was, whether Cloudflare is still used in that case.

Thanks,

Richard

[2019-12-06 14:57] danrin opened #201 "Issue getting images from online store cdn"
We've been trying to diagnose this issue but with no luck, maybe you can help us determine the cause? we try to request this:
https://images.weserv.nl/?url=ssl:asset.mijnwebwinkel.nl%2Fwinkel%2Faltijdverf%2Fimages%2Ffull%2Fa2023807fa4233945ba8a23b019b84829d9cc25d

which throws a 403. but requested through a browser the url correctly redirects to

https://cdn.myonlinestore.eu/947ff06e-6be1-11e9-a72

[2019-12-06 20:11] raRaRa commented on #200
@RichardSieg You must setup Cloudflare yourself in order to utilize it in front of your self-hosted service.

HTTP request -> Cloudflare (respond here if it's cached on CF.) -> Your AWS service. So as you can see the request has to go through Cloudflare first and you need to configure your DNS records there, etc.

[2019-12-06 21:04] andrieslouw commented on #200
@raRaRa is right, in that case you'll need to setup Cloudflare on your own.

[2019-12-06 21:07] andrieslouw commented on #201
Will need to investigate what's happening here.

[2019-12-06 21:08] andrieslouw commented on #198
Sorry for the delay in response, but it looks like this was a temporary issue.

[2019-12-07 12:51] RichardSieg commented on #200
Thanks for clarifying!

[2019-12-07 12:51] #200 closed, assigned to andrieslouw

[2019-12-12 13:47] ebaynaud opened #202 "Chrome warning about weserv cookie"
A cookie associated with a cross-site resource at http://weserv.nl/ was set without the `SameSite` attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are set with `SameSite=None` and `Secure`. You can review cookies in developer tools under Application>Storage>Cookies and see more details at https://www.chromestatus.com/feature/5088147346030592 and htt

[2019-12-13 06:17] andrieslouw commented on #202
Will look into this, probably an error on Cloudflare's side.

[2019-12-13 14:22] iveptawebadmin commented on #198
It's happened before on other images too, but I'll close this case for now.

[2019-12-13 14:22] #198 closed, assigned to andrieslouw

[2019-12-16 12:34] gayburg opened #203 "Blocked domain"
Hello. On start.me service, images from the italian gay news site www.gayburg.com are blocked by you with the error "The hostname of the origin is unresolvable (DNS) or blocked by policy".
Maybe the domain was blaklisted before it was buyed from us, it could be possible to unblock it?

[2019-12-16 13:53] andrieslouw commented on #203
Hi there, unfortunately the domain has been tagged under pornography: https://domain.opendns.com/gayburg.com

I'm sorry that you're experiencing problems because of this. If you manage to resolve this with the OpenDNS community, it will automatically be resolved with us. We rely on the tag's from the OpenDNS community. I've filed a review-request with them, and suggest you to do the same. Cisco al

[2019-12-16 14:23] danrin commented on #201
Any news on this? If it turns out to be purely something on the myonlinestore.eu (mijnwebwinkel.nl) side i'd like to know too, it should help to narrow it down on their side as well.

[2019-12-16 14:50] andrieslouw commented on #201
It is not something we get on other domains. From what I could see, the servers are able to reach the resources from the console. We're looking into our code, and checking if it has something to do with the user-agent we use, or maybe the code that follows redirects.

[2019-12-16 14:53] andrieslouw commented on #168
Closing due to inactivity. Let us know if there is anything we can do to assist.

[2019-12-16 14:53] #168 closed, assigned to andrieslouw

[2019-12-16 14:54] andrieslouw commented on #170
Closing due to inactivity. Let us know if there is anything we can do to assist.

[2019-12-16 14:54] #170 closed, assigned to kleisauke

[2019-12-16 14:54] andrieslouw commented on #173
Closing due to inactivity. Let us know if there is anything we can do to assist.

[2019-12-16 14:54] #173 closed, assigned to andrieslouw, kleisauke

[2019-12-16 14:54] andrieslouw commented on #176
Closing due to inactivity. Let us know if there is anything we can do to assist.

[2019-12-16 14:54] #176 closed, assigned to kleisauke

[2019-12-16 14:57] andrieslouw opened #204 "Publish Docker image on GitHub Container Registry"
Update:
Almost all tasks are now resolved in #180. It will now be easier to use the Docker image on the Google Cloud Platform.

I will soon publish the revamped Docker image on [Docker Hub](https://hub.docker.com/u/weserv).

_Originally posted by @kleisauke in https://github.com/weserv/images/issues/179#issuecomment-531743246_

[2019-12-16 14:59] andrieslouw commented on #179
Will continue in #204 as that is the only task remaining AFAIK.
Closing this issue. Let us know if there is anything we can do to assist.

[2019-12-16 14:59] #179 closed, assigned to andrieslouw, kleisauke

[2019-12-16 15:00] andrieslouw commented on #184
I need more info to solve/check this issue. Closing due to inactivity. Let us know if there is anything we can do to assist.

[2019-12-16 15:00] #184 closed, assigned to andrieslouw

[2019-12-16 15:00] andrieslouw commented on #187
Closing due to inactivity. Let us know if there is anything we can do to assist.

[2019-12-16 15:00] #187 closed, assigned to andrieslouw

[2019-12-16 15:02] andrieslouw commented on #191
Docker-image continues in #204. Our servers are running CentOS 8 now.
Let us know if there is anything else we can assist with.

[2019-12-16 15:02] #191 closed, assigned to andrieslouw

[2019-12-16 15:03] andrieslouw commented on #195
Closing due to inactivity. Let us know if there is anything we can do to assist.

[2019-12-16 15:03] #195 closed, assigned to kleisauke

[2019-12-16 15:04] andrieslouw commented on #196
FAQ has been rewritten & published. Let us know if there is anything else we can do to assist.

[2019-12-16 15:05] andrieslouw commented on #197
@kleisauke : I vote for a PR from @tkoenig with the heroku.yml, what do you think?

[2019-12-16 15:10] andrieslouw commented on #180
#204 is part of the work on the Docker deployment.

[2019-12-16 15:13] andrieslouw commented on #202
CloudFlare is working on solving this, see: https://community.cloudflare.com/t/google-chrome-warning-about-cloudflare-cookie/123192/69

[2019-12-16 15:53] andrieslouw commented on #201
The problem also occurs when we go directly to the URL, so redirect is not part of the problem (it seems). The problem doesn't occur always, sometimes we get `403 Forbidden`, sometimes we get `200 OK` when requesting the final image. Problem is not reproducible in our development environment (same code, different servers). Connection between origin and our servers is fine. This one is hard to pin

[2019-12-16 20:33] laukstein commented on #196
Shortly saying the limitation hasn't been changed, making impossible to use images.weserv.nl for things like image gallery.

[2019-12-16 21:17] andrieslouw commented on #196
The limitation for the service we provide on images.weserv.nl hasn't changed indeed. I'm sorry, it is best effort, and while we may increase the limit in the future, for now this is what we are comfortable with offering on our current servers, keeping the service available to everyone for free. I should've stated that when closing this issue.

You're free to use the source code on your own server(

[2019-12-17 06:36] amitjoseph opened #205 "Where exactly is the resize images being stored in Docker?"
I'm running a docker to host the service and I was just wondering where exactly is the resized images/ cache being stored in server-side. Do I need to allocate more memory for a larger use-case?

[2019-12-17 06:59] andrieslouw commented on #205
It is defined on the `proxy_cache` line in the NGINX-config:
https://github.com/weserv/images/blob/e72b8fde66558f502437c016bab7e15c0117a49b/ngx_conf/imagesweserv.conf#L3

[2019-12-18 05:41] amitjoseph commented on #205
Alright thank you :)

[2019-12-18 05:41] #205 closed, assigned to andrieslouw

[2019-12-18 07:10] amitjoseph opened #206 "404 for some sizes at particular time - Docker"
I have observed this strange problem, some sizes I'm getting a 404 for some sizes at a particular time.
I'm using the default configuration. I'm not able point out where actually this problem is occurring.

Error Message:
[code]
Suppose `http://localhost:81/?url=https://images.unsplash.com/photo-1554204428-01ab5f412a28&w=750`
gives me this error but `http://localhost:81/?url=https://images.unsplas

[2019-12-18 09:25] danrin commented on #201
Rate limiting might be the culprit, but it seems to inconsistant for that, I suspect one of the nodes in their cdn is not playing nice. Thanks or your help on this, this cerainly helps narrowing it down. I will update this item as soon as i find the cause.

[2019-12-18 11:46] kleisauke commented on #201
It seems that `cdn.myonlinestore.eu` is blocking one of our IPv4 addresses (`195.154.84.31` - `ory.weserv.nl`) that we use for outgoing traffic.

[code]

Results in ```error code: 1008```. See:
https://support.cloudflare.com/hc/en-us/articles/360029779472-Troubleshooting-Cloudflare-1XXX-errors#error100610071008

Our IPv6 addresses don't seem to be blocked (which explains why this issue doesn't alw